<section class="members text-center mb-4">
    <!-- <h1 class="c0 my-5 font-weight-bold">Members</h1> -->
    <div class="d-flex flex-wrap justify-content-center">
        <ng-container *ngFor="let member of members;let index=index;">
            <app-member-card *ngIf="member?.show" [userState]="userState" [totalMembers]="members && members.length"
                [remainingMembersCount]="remainingMembersCount" [member]="member" [communityId]="member?.id">
            </app-member-card>
        </ng-container>
    </div>
</section>