.event-remove-attachment-dialog {
    position: relative;
    .heading {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.87);

        margin: 24px 0 8px 12px;
    }

    .sub-heading {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        color: #4a4a4a;

        margin: 0 -8px 42px 12px;
    }

    .actions {
        margin-bottom: 2px;
        margin-right: 8.56px;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .mat-dialog-actions {
            -webkit-appearance: none !important;
        }
        .event-attachment-btn-close {
            position: absolute;
            top: -33px;
            right: -8px;
        }

        .event-attachment-btn-cancel {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 0.464286px;
            color: rgba(0, 0, 0, 0.4);
        }

        .event-attachment-btn-confirm {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 13px;
            line-height: 15px;
            text-align: center;
            letter-spacing: 0.464286px;
            color: var(--buttons_icons_colour, #009688);

            margin-left: 55.36px;
        }
    }
}
