<div class="community-detail-container">
    <section
        class="community-detail-wrapper position-relative"
        [ngStyle]="{ 'margin-top': screenType !== 'mobile' && showCommunityDetailToPendingMembers ? '48px' : '0px' }"
        [ngClass]="{ 'pending-user-community-detail': showCommunityDetailToPendingMembers }"
    >
        <div class="card mx-auto">
            <div class="sub-header d-flex justify-content-between align-items-center ps-2 pe-2">
                <div class="d-flex">
                    <img class="cursor-pointer" src="assets/images/svg/back-navigation-arrow.svg" alt="back" (click)="goBack()" />
                    <div class="ms-2">
                        <span class="title"> Participants </span>
                        <br />
                        <span class="sub-title">
                            {{ chatroom?.header }}
                            <img class="cursor-pointer" src="../../../../../assets/images/svg/secret_lock_icon.svg" alt="lock" />
                        </span>
                    </div>
                </div>
                <!-- <img class="cursor-pointer me-2" src="assets/images/svg/search_participants.svg" alt="search" /> -->
            </div>

            <participants></participants>
        </div>
    </section>
</div>
