<div
    class="audio-container d-flex flex-column justify-content-center h-100"
    style="border-radius: 10px"
    [ngClass]="{ 'audio-container-incoming-mssg': !isMyMsg }"
>
    <div class="d-flex align-items-center position-relative audio-container-body">
        <!-- <div class="headphone-container d-flex flex-column align-items-center justify-content-center position-relative">
            <img *ngIf="!audioState?.playing" src="https://web.likeminds.community/assets/images/svg/headphone.svg" alt="" />
            <div *ngIf="!audioState?.playing" class="headphone-container__duration">{{ audioDuration }}</div>
            <img *ngIf="audioState?.playing" class="sound-wave-img" src="https://web.likeminds.community/assets/images/gif/audio-wave-orange.gif" alt="" />
            <div *ngIf="audioState?.playing" class="headphone-container__currentTime">
                {{formatCurrentTime()}}
            </div>      
        </div> -->

        <div class="right-section-container">
            <ng-container>
                <div class="right-section d-flex align-items-center position-relative">
                    <div [ngClass]="{ 'controls-incoming': !isMyMsg }">
                        <div
                            (click)="audioState?.playing ? pause() : play()"
                            class="controls cursor-pointer d-flex align-items-center justify-content-center"
                            *ngIf="
                                !(this.homeFeedService.currentlyLoadingMediaIds$$ | async)[messageId] && audioAttachmentsUploaded;
                                else uploading
                            "
                        >
                            <img
                                *ngIf="!audioState?.playing"
                                src="https://web.likeminds.community/assets/images/svg/voice-play.svg"
                                alt="play-audio"
                                class="cursor-pointer play-img"
                            />
                            <img
                                *ngIf="audioState?.playing"
                                src="https://web.likeminds.community/assets/images/svg/pause-voice.svg"
                                alt="pause-audio"
                                class="cursor-pointer pause-img"
                            />
                        </div>
                        <ng-template #uploading>
                            <mat-progress-spinner class="uploading" mode="determinate" diameter="40" [value]="progress">
                            </mat-progress-spinner>
                        </ng-template>
                    </div>
                    <div class="audio-container__timeline" [ngClass]="{ 'timeline-incoming-mssg': !isMyMsg }">
                        <div class="audio-container__timeline__duration" id="rangeContainer" #rangeContainer>
                            <!-- <mv-slider
                                [id]="messageId"
                                class="prog-slider"
                                [(value)]="audioState['currentTime']"
                                [min]="0"
                                [max]="audMax"
                                [enabled]="
                                    !(this.homeFeedService.currentlyLoadingMediaIds$$ | async)[messageId] && audioAttachmentsUploaded
                                "
                                (slideStop)="onSliderChangeEnd($event)"
                                (slideStart)="onSliderChangeStart($event)"
                                [ngClass]="{ 'incoming-audio': !isMyMsg, 'sent-audio': isMyMsg }"
                            ></mv-slider> -->
                        </div>
                    </div>
                    <!-- style="top: -38px;
                    position: absolute !important;" -->
                </div>
            </ng-container>

            <div class="mic-holder position-absolute d-flex">
                <img src="https://web.likeminds.community/assets/images/svg/microphone.svg" alt="" />
                <div class="voice-duration">
                    <!-- {{audioState?.playing ? formatCurrentTime() : audioDuration}} -->
                    {{ displayTime }}
                </div>
            </div>
        </div>
    </div>
</div>
