<div class="preview-wrapper" (click)="redirectUrl($event)">
    <div class="preview-card red-left-border" *ngIf="preview.preview_type === PREVIEW_TYPE.CHATROOM">
        <ng-container *ngIf="preview.chatroom as chatroom">
            <ng-container *ngIf="[CHATROOM_TYPE.CARD_NORMAL, CHATROOM_TYPE.CARD_INTRO, CHATROOM_TYPE.CARD_PURPOSE].includes(chatroom.type)">
                <div class="user-image" [ngStyle]="{ 'background-color': circleColor }">
                    <div *ngIf="!imgInitShow" class="img d-flex justify-content-center align-items-center text-white">
                        <span>{{ imgInit1 }}</span>
                    </div>
                    <img
                        [src]="chatroom?.member.image_url"
                        *ngIf="imgInitShow"
                        (error)="onImgErrorInit($event, chatroom?.member.name)"
                        alt="{{ chatroom?.member.name }}"
                        title="{{ chatroom?.member.name }}"
                    />
                </div>
                <p class="p-1 user-title mb-0">{{ chatroom.title }}</p>
            </ng-container>

            <ng-container *ngIf="[CHATROOM_TYPE.CARD_PUBLIC_EVENT, CHATROOM_TYPE.CARD_PRIVATE_EVENT].includes(chatroom.type)">
                <div class="event-header">
                    <img src="https://web.likeminds.community/assets/images/svg/event-room-icon.svg" alt="Event" />
                    <div class="event-time-wrap" [ngClass]="{ ended: now > chatroom.end_date }">
                        <p *ngIf="chatroom.end_date < now; else timeDiff">Event Ended</p>
                        <ng-template #timeDiff>
                            <p *ngIf="chatroom.date_time > now; else endTimeDiff">Starts in {{ chatroom.date_time | remainingTime }}</p>
                            <ng-template #endTimeDiff>
                                <p *ngIf="chatroom.end_date < now">Ends in {{ chatroom.end_date | remainingTime }}</p>
                            </ng-template>
                        </ng-template>
                    </div>
                </div>
                <h4>{{ chatroom.title }}</h4>
                <h4 class="about">{{ chatroom.about }}</h4>

                <div class="event-detail-wrap">
                    <img src="https://web.likeminds.community/assets/images/svg/calendar-alt-green.svg" alt="Calendar" />
                    <ng-container *ngIf="chatroom.date_time > now; else endDate">
                        <h4>{{ chatroom.date_time | date: 'EEEE, LLL dd, HH:mm' }}</h4>
                    </ng-container>
                    <ng-template #endDate>
                        <h4>{{ chatroom.end_date | date: 'EEEE, LLL dd, HH:mm' }}</h4>
                    </ng-template>
                </div>

                <div class="event-detail-wrap">
                    <img src="https://web.likeminds.community/assets/images/svg/location-lg.svg" alt="Location" />
                    <h4>{{ chatroom.online_link || chatroom.location }}</h4>
                </div>

                <h3 class="attend-wrap response-count" *ngIf="chatroom.attending_count as attendingCount">
                    {{ attendingCount < 2 ? attendingCount + ' member is ' : attendingCount + ' members are ' }}
                    attending
                </h3>
            </ng-container>

            <ng-container>
                <img src="https://web.likeminds.community/assets/images/svg/dot-seperator.svg" alt="dots" class="dots" />
            </ng-container>

            <ng-container *ngIf="[CHATROOM_TYPE.CARD_POLL].includes(chatroom.type)">
                <div class="event-header">
                    <img src="https://web.likeminds.community/assets/images/svg/poll-room-icon-circle.svg" alt="Poll" />
                    <div class="event-time-wrap" [ngClass]="{ ended: now > chatroom.end_date }">
                        <p *ngIf="chatroom.end_date < now; else timeDiff">Poll Ended</p>
                        <ng-template #timeDiff>
                            <p>Ends in {{ chatroom.expiry_time | remainingTime }}</p>
                        </ng-template>
                    </div>
                </div>
                <h4>{{ chatroom.title }}</h4>

                <div class="poll-options-wrap" *ngIf="chatroom.polls as options">
                    <div class="poll-option" *ngFor="let option of options | slice: 0:2">
                        <h4>{{ option.text }}</h4>
                    </div>
                    <div class="poll-option" *ngIf="options.length > 2">
                        <h4 class="others">+{{ options.length - 2 }} more options...</h4>
                    </div>
                </div>

                <h3 class="attend-wrap response-count" *ngIf="chatroom.polls_count as pollCount">
                    {{ pollCount < 2 ? pollCount + ' member ' : pollCount + ' members ' }} voted
                </h3>
            </ng-container>

            <!-- <h3 class="dot-wrap">&middot;&middot;&middot;</h3> -->
            <div class="member-wrapper p-1">
                <ng-container *ngIf="chatroom.last_response_members as responseMembers">
                    <div class="member-profile-wrap">
                        <ng-container *ngIf="responseMembers.length as memberCount; else defaultMember">
                            <div class="member-profile" *ngFor="let member of responseMembers | slice: 0:4; let i = index">
                                <div class="plus-overlay" *ngIf="i === 3 && memberCount > 4">+</div>
                                <img [src]="member?.image_url" (error)="onImgError($event)" [alt]="member?.name" />
                            </div>
                        </ng-container>
                        <ng-template #defaultMember>
                            <div class="member-profile">
                                <img [src]="chatroom.member?.image_url" (error)="onImgError($event)" [alt]="chatroom.member?.name" />
                            </div>
                        </ng-template>
                    </div>
                </ng-container>
                <ng-container *ngIf="showIntroThreadView; else responseCount">
                    <h3 class="new-message-count" *ngIf="chatroom?.conversations_unread as unreadCount">
                        {{ unreadCount < 2 ? unreadCount + ' new message ' : unreadCount + ' new messages ' }}
                    </h3>
                </ng-container>
                <ng-template #responseCount>
                    <h3 class="response-count" *ngIf="chatroom.total_response_count as responseCount">
                        {{ responseCount < 2 ? responseCount + ' response ' : responseCount + ' responses ' }}
                    </h3>
                </ng-template>
            </div>
        </ng-container>
    </div>

    <div class="preview-card green-left-border" *ngIf="[PREVIEW_TYPE.COMMUNITY, PREVIEW_TYPE.DIRECTORY].includes(preview.preview_type)">
        <ng-container *ngIf="preview.community as community">
            <div class="community-header">
                <img [src]="community.image_url" (error)="onImgError($event)" [alt]="community.name" />
                <div class="community-header-detail">
                    <h3>
                        <span *ngIf="preview.preview_type === PREVIEW_TYPE.DIRECTORY">Member Directory: </span>
                        {{ community.name }}
                    </h3>
                    <h4
                        class="community-details"
                        *ngIf="preview.preview_type === PREVIEW_TYPE.DIRECTORY || preview.preview_type === PREVIEW_TYPE.COMMUNITY"
                    >
                        Managed by {{ community.created_by }}
                    </h4>
                    <h4 class="community-details" *ngIf="community.members_count as memberCount">
                        {{ memberCount < 2 ? memberCount + ' member ' : memberCount + ' members ' }}
                    </h4>
                </div>
            </div>
            <h4 class="community-details">{{ community.purpose }}</h4>
        </ng-container>
    </div>
</div>
