<div class="community-detail-wrapper-1 d-flex flex-column justify-content-center align-items-center" *ngIf="showNewChatroomCommunityDetail">
    <div class="sub-heading">You are accessing a {{ chatroom_type == 2 ? 'event room' : 'chat room' }} in community:</div>
    <div class="mx-auto rounded-circle">
        <img
            class="rounded-circle mt-3 bg-theme1"
            [src]="community.image_url"
            onerror="this.src='assets/images/svg/profile-img-bg-gray.svg'"
            width="85"
            height="85"
            alt="{{ community?.name }}"
        />
    </div>
    <h4 class="mt-3 fw-bold text-capitalize c0 fs20">{{ community?.name }}</h4>
    <p class="managed-span c6 fs14 mb-0 mx-2">
        Managed by
        <ng-container *ngIf="admins && admins.length === 1">
            <span class="text-capitalize">{{ admins[0]?.name }}</span>
        </ng-container>
        <ng-container *ngIf="admins && admins.length > 1">
            <span class="text-capitalize">{{ admins[0]?.name }}</span> + {{ admins.length - 1 }}
        </ng-container>

        <span class="dot-seperator mb-1 mx-1"></span>
        <span class="member-count">{{ community?.members_count }} Members</span>
    </p>
    <div class="line-seperator mx-auto my-2"></div>
    <h5 class="fw500 c0 fs14">Private community on LikeMinds</h5>
    <read-more [classes]="'font-weight-normal c6 fs14 w85 mx-auto'" [characterCount]="40" [data]="community?.about || community?.purpose">
    </read-more>

    <br />
    <br />
    <!-- *ngIf="subscribedCommunity?.membership_state == 1" -->
    <button
        (click)="hideChatroomOverlay()"
        *ngIf="membershipIsExpired"
        class="btn cF w85 h48 br24 fs13 bg-theme2 fw500 mx-auto text-uppercase"
        (click)="openRenewal()"
        type="button"
    >
        RENEW MEMBERSHIP
    </button>

    <button
        *ngIf="!membershipIsExpired"
        (click)="hideChatroomOverlay()"
        class="btn cF w85 h48 br24 fs13 bg-theme2 fw500 mx-auto text-uppercase"
        (click)="openPaymentPage()"
        type="button"
    >
        BUY MEMBERSHIP
    </button>
    <div *ngIf="accessibleWithoutSubscription && user" (click)="hideChatroomDetail()" class="may_be_later cursor-pointer">May be later</div>
    <div class="login-para" *ngIf="!accessibleWithoutSubscription && !user">
        Already have a membership? <span class="color-green cursor-pointer" (click)="goToLogin()">Login</span>
    </div>
    <div class="login-para color-green cursor-pointer" *ngIf="accessibleWithoutSubscription && !user" (click)="goToLogin()">
        Login for guest access
    </div>
    <!-- <div *ngIf="subscribedCommunity?.membership_state == 1" (click)="openLeaveCommunityPopup()" class="cursor-pointer leave-community-btn">Leave Community</div> -->
</div>

<div
    class="community-detail-wrapper d-flex flex-column justify-content-center align-items-center"
    *ngIf="!showNewChatroomCommunityDetail && community"
>
    <div class="mx-auto rounded-circle">
        <img
            class="rounded-circle mt-4 bg-theme1"
            [src]="community.image_url"
            onerror="this.src='assets/images/svg/profile-img-bg-gray.svg'"
            width="85"
            height="85"
            alt="{{ community?.name }}"
        />
    </div>
    <h4 class="mt-3 fw-bold text-capitalize c0 fs20">{{ community?.name }}</h4>
    <p class="managed-span c6 fs14 mb-0 mx-2">
        Managed by
        <ng-container *ngIf="admins && admins.length === 1">
            <span class="text-capitalize">{{ admins[0]?.name }}</span>
        </ng-container>
        <ng-container *ngIf="admins && admins.length > 1">
            <span class="text-capitalize">{{ admins[0]?.name }}</span> + {{ admins.length - 1 }}
        </ng-container>

        <span class="dot-seperator mb-1 mx-1"></span>
        <span class="member-count">{{ community?.members_count }} Members</span>
    </p>
    <div class="line-seperator mx-auto my-2"></div>
    <h5 class="fw500 c0 fs14">Private community on LikeMinds</h5>
    <read-more [classes]="'font-weight-normal c6 fs14 w85 mx-auto'" [characterCount]="40" [data]="community?.about || community?.purpose">
    </read-more>

    <button
        (click)="joinCommunity()"
        *ngIf="memberState && !memberState.state && memberState.state != 0"
        class="btn cF w85 h48 br24 fs13 bg-theme2 fw500 mx-auto text-uppercase"
        type="button"
    >
        Join community
    </button>
    <!-- <button (click)="joinCommunity()" *ngIf="memberState?.state != 3"
        class="btn cF w85 h48 br24 fs13 bg-theme2 fw500 mx-auto text-uppercase" type="button">Join community</button> -->
    <div *ngIf="memberState?.state === 3" class="request-pending-info d-flex">
        <img src="https://web.likeminds.community/assets/images/svg/information.svg" />
        <p class="fs12 cF mb-0 ms-2 my-auto">Request to join this community is pending.</p>
    </div>
    <div *ngIf="subscribedCommunity?.membership_state == 1" class="expired-info d-flex justify-content-between">
        <div class="display-flex" style="width: 180px; margin: auto">
            <img style="display: inline" src="https://web.likeminds.community/assets/images/svg/information.svg" />
            <p style="display: inline" class="fs12 cF mb-0 ms-2 my-auto text-center">Membership expired</p>
        </div>
    </div>
    <br />
    <br />
    <button
        *ngIf="subscribedCommunity?.membership_state == 1"
        (click)="hideChatroomOverlay()"
        class="btn cF w85 h48 br24 fs13 bg-theme2 fw500 mx-auto text-uppercase"
        (click)="openRenewal()"
        type="button"
    >
        CHOOSE MEMBERSHIP PLAN
    </button>
    <br />
    <div *ngIf="subscribedCommunity?.membership_state == 1" (click)="openLeaveCommunityPopup()" class="cursor-pointer leave-community-btn">
        Leave Community
    </div>
</div>
