.text-overflow {
    overflow: hidden;
}
.label {
    .intro-tooltip {
        padding: 4px 8px;
        color: #ffffff;
        right: 50px;
        bottom: 4px;
        border-radius: 4px;
        font-size: 13px;
        font-weight: 500;
        line-height: 1.31;
        box-shadow: 0px 0px 8px #6f6d6d;
    }
    .intro-tooltip::before {
        content: '';
        display: block;
        position: absolute;
        height: 0;
        width: 0;
        bottom: -10px;
        left: 50%;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        transform: rotate(-90deg);
    }
    .intro-tooltip.success {
        background-color: var(--buttons_icons_colour, #4ec4af);
    }
    .intro-tooltip.success::before {
        border-right: 8px solid var(--buttons_icons_colour, #4ec4af);
    }
    .intro-tooltip.error {
        background-color: #d0021b;
    }
    .intro-tooltip.error::before {
        border-right: 8px solid #d0021b;
    }
}

.bs-open {
    color: var(--text_links_colour, #00897b);
}

@media screen and (max-width: 425px) {
    .label .intro-tooltip {
        right: 0px;
        bottom: 25px;
    }
}
