@import '../abstracts/variables';

// darken and lighten text color function
@function trans($color, $percentage) {
    @if $percentage == 0.1 {
        @return lighten($color, 20%); // #333333
    }
    @if $percentage == 0.2 {
        @return lighten($color, 40%); // #666666
    }
    @if $percentage == 0.3 {
        @return lighten($color, 60%); // #999999
    }
    @if $percentage == 0.4 {
        @return lighten($color, 73.3%); // #bbbbbb
    }
}

// Function to change px to rem unit
@function convert-to-rem($args) {
    $argsLength: length($args);
    $result: '';
    $remValue: '';
    @for $index from 1 through $argsLength {
        $currentValue: nth($args, $index);
        @if ($currentValue==0 or $currentValue==0px) {
            $remValue: $currentValue;
            $result: #{$result + $remValue};
        } @else {
            // $remValue: nth($args, $index) / $font-html;
            $remValue: calc(nth($args, $index) / $font-html);
            $result: #{$result + $remValue}rem;
        }
        @if ($index < $argsLength) {
            $result: #{$result + ' '};
        }
    }
    @return $result;
}

@function calculate-base-font($target-breakpoint) {
    @return round(($target-breakpoint/$desktop-large-bp) * $font-html);
}
