<div
    class="participants mt-3"
    *ngIf="participantsList"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    [scrollWindow]="false"
>
    <div class="participants--counts" *ngIf="participantsList.total_members > 0">
        {{ participantsList.total_members || 0 }} participants
    </div>
    <ng-container *ngIf="is_cm">
        <div class="participants__card cursorPointer" (click)="goTopage()">
            <div class="participants__card--profile bg">
                <img src="../../../../../assets/images/svg/add_participants.svg" alt="add participants" />
            </div>
            <div class="participants__card__info">
                <div class="participants__card__info__desc">
                    <div class="participants__card__info__desc--title mt-3">Add participants</div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngIf="participantsList.members.length > 0; else noResult">
        <div class="participants__card" *ngFor="let participant of memberList">
            <div class="participants__card--profile">
                <img
                    [src]="participant.image_url"
                    [alt]="participant.name"
                    onerror="this.src='../../../../../assets/images/png/avatar.png'"
                />
            </div>
            <div class="participants__card__info">
                <div class="participants__card__info__desc">
                    <div class="participants__card__info__desc--title mt-2">
                        <ng-container *ngIf="user.id === participant.id; else userName"> You </ng-container>
                        <ng-template #userName>
                            {{ participant.name }}
                        </ng-template>
                    </div>
                    <div class="participants__card__info__desc--intro">{{ participant.custom_intro_text || participant.member_since }}</div>
                </div>
                <div class="participants__card__info__actions">
                    <ng-container *ngIf="is_cm; else normalUser">
                        <ng-container *ngIf="chatroom.state === 1; else member">
                            <div class="menuIcon">
                                <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                                <mat-menu #menu="matMenu" xPosition="before">
                                    <button
                                        mat-menu-item
                                        (click)="userAction('view profile', participant.id)"
                                        *ngIf="member.custom_intro_text !== 'Profile does not exist'"
                                    >
                                        View Profile
                                    </button>
                                    <button mat-menu-item (click)="userAction('remove', participant)" *ngIf="user.id !== participant.id">
                                        Remove
                                    </button>
                                </mat-menu>
                            </div>
                        </ng-container>
                        <ng-template #member>
                            <button (click)="viewProfile(participant.id)">View Profile</button>
                        </ng-template>
                    </ng-container>
                    <ng-template #normalUser>
                        <button (click)="viewProfile(participant.id)">View Profile</button>
                    </ng-template>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #noResult>
        <div class="d-flex justify-content-center align-items-center h-100">No result found</div>
    </ng-template>
</div>
