@import '../../../../../assets/scss/abstracts/mixin';

.new-chatroom-btn {
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    color: #ffffff;
    width: 30px;
    height: 16px;
    background: #fb1609;
    border-radius: 2px;
    text-align: center;
    position: relative;
    left: 12px;
    bottom: 7px;
}

.chatroom-card {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 15px 15px 0 15px;

    &:hover {
        background-color: #f1f1f1;
        cursor: pointer;
        transition: 0.3s all ease-in-out;
    }

    &__image {
        margin-right: 14px;

        .pinned-chatroom-icon {
            width: fit-content;
            position: relative;
            bottom: 21px;
            left: 33px;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        @include max-width(260px);
        width: 100%;
        min-width: 0;
        @include padding-bottom(20px);

        &__chatroom-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .chatroom-header {
                @include font-size(14px);
                font-weight: 500;
                color: #020202;
                display: flex;
                flex-direction: column;
                min-width: 0;

                &__top {
                    display: flex;
                    align-items: center;
                    .chatroom-name {
                        @include text-overflow-ellipsis();
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 20px;
                        color: #484f67;
                    }
                    img {
                        @include width(24px);
                        @include height(24px);
                        margin: 0 10px 0 5px;
                    }
                    .imgLock {
                        width: 16px;
                        height: 13px;
                        margin: 5px 5px 0 5px;
                    }
                }

                &__bottom {
                    display: flex;
                    align-items: center;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 14px;
                    color: #666666;
                    margin-top: 2px;

                    &__participants {
                        display: flex;
                        align-items: center;

                        img {
                            width: 16px;
                            height: 16px;
                            margin: 0;
                            margin-right: 4px;
                        }
                    }

                    .ellipse {
                        width: 3px;
                        height: 3px;
                        background: #9b9b9b;
                        border-radius: 50%;
                        margin: 0 4px;
                    }

                    &__messages {
                        display: flex;
                        align-items: center;

                        img {
                            width: 16px;
                            height: 16px;
                            margin: 0;
                            margin-right: 4px;
                        }
                    }
                }
            }

            .chatroom-join-btn {
                width: 88px;
                min-width: 88px;
                height: 40px;
                background: var(--buttons_icons_colour, #00897b);
                border-radius: 8px;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: #ffffff;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    margin-right: 6.8px;
                }
            }

            .chatroom-joined-btn {
                width: 103px;
                min-width: 103px;
                height: 40px;
                border: 1px solid var(--buttons_icons_colour, #00897b);
                border-radius: 8px;
                font-weight: 500;
                font-size: 14px;
                line-height: 16px;
                color: var(--buttons_icons_colour, #00897b);
                display: flex;
                align-items: center;
                justify-content: center;

                &__svg {
                    margin-right: 4px;
                }
            }
        }

        &__last-message {
            @include multiline-ellipsis(16px, 3);

            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: rgba(72, 79, 103, 0.7);
            margin-top: 10px;
        }

        &__counters {
            @include font-size(12px);
            font-weight: 458;
            color: #acb7c0;
        }
    }
}

.active-card {
    background-color: rgba(208, 216, 226, 0.5);
}

.margin-icon {
    margin: 0 10px 0 5px;
}

@media screen and (max-width: 425px) {
    .chatroom-card {
        &__details {
            @include max-width(326px);
        }
    }
}
