<div *ngIf="changeAppHeader" class="alternat-header">
    <img class="cursor-pointer" src="https://web.likeminds.community/assets/images/svg/menu-white.svg" (click)="toggle()" alt="hamburger" />
</div>

<ng-container *ngIf="openMobileSearch; else normalView">
    <app-home-feed-search-mobile (closeMobileSearch)="closeMobileSearch()"></app-home-feed-search-mobile>
</ng-container>

<ng-template #normalView>
    <header
        [ngClass]="{ 'header-shadow': screenType !== 'mobile' }"
        class="header w-100 bg-header-theme2 text-center"
        *ngIf="!changeAppHeader && !hideHeader && !disableHeader"
    >
        <ng-container *ngIf="user; else noUserHeader">
            <ng-container *ngIf="!selectedMsgLength; else selectedMsg">
                <ng-container [ngSwitch]="currentView">
                    <div *ngSwitchCase="'DmFeedView'" class="custom-header">
                        <img
                            height="24"
                            width="24"
                            (click)="handleBackButton()"
                            class="cursor-pointer"
                            [src]="
                                !branding?.advanced?.header_colour
                                    ? 'https://web.likeminds.community/assets/images/svg/back-navigation-arrow.svg'
                                    : 'https://web.likeminds.community/assets/images/svg/back-arrow-white.svg'
                            "
                        />
                        <div class="custom-header__details">
                            <div class="custom-header__details__title">Direct Messages</div>
                        </div>
                    </div>
                    <div *ngSwitchCase="'CommunityFeedView'" class="community-feed-header">
                        <img
                            height="24"
                            width="24"
                            (click)="handleBackButton()"
                            class="cursor-pointer"
                            [src]="
                                !branding?.advanced?.header_colour
                                    ? 'https://web.likeminds.community/assets/images/svg/back-navigation-arrow.svg'
                                    : 'https://web.likeminds.community/assets/images/svg/back-arrow-white.svg'
                            "
                        />
                        <div class="community-feed-header__details">
                            <div class="community-feed-header__details--text">
                                <div class="community-feed-header__details--text__title">Explore Chatrooms</div>
                            </div>
                        </div>
                    </div>

                    <div *ngSwitchCase="'PinnedView'" class="custom-header">
                        <img
                            height="24"
                            width="24"
                            (click)="handleBackButton('PinnedView')"
                            class="cursor-pointer"
                            [src]="
                                !branding?.advanced?.header_colour
                                    ? 'https://web.likeminds.community/assets/images/svg/back-navigation-arrow.svg'
                                    : 'https://web.likeminds.community/assets/images/svg/back-arrow-white.svg'
                            "
                        />
                        <div class="custom-header__details">
                            <div class="custom-header__details__title">Pinned chat rooms</div>
                        </div>
                    </div>

                    <div *ngSwitchCase="'EventFeedView'" class="custom-header">
                        <img
                            height="24"
                            width="24"
                            (click)="handleBackButton()"
                            class="cursor-pointer"
                            [src]="
                                !branding?.advanced?.header_colour
                                    ? 'https://web.likeminds.community/assets/images/svg/back-navigation-arrow.svg'
                                    : 'https://web.likeminds.community/assets/images/svg/back-arrow-white.svg'
                            "
                        />
                        <div class="custom-header__details">
                            <div class="custom-header__details__title">Events</div>
                        </div>
                    </div>

                    <div *ngSwitchCase="'CreateEventView'" class="custom-header">
                        <img
                            height="24"
                            width="24"
                            (click)="handleBackButton()"
                            class="cursor-pointer"
                            [src]="
                                !branding?.advanced?.header_colour
                                    ? 'https://web.likeminds.community/assets/images/svg/back-navigation-arrow.svg'
                                    : 'https://web.likeminds.community/assets/images/svg/back-arrow-white.svg'
                            "
                        />
                        <div class="custom-header__details">
                            <div class="custom-header__details__title">Create Event</div>
                        </div>
                    </div>

                    <div *ngSwitchCase="'EditEventView'" class="custom-header">
                        <img
                            height="24"
                            width="24"
                            (click)="handleBackButton()"
                            class="cursor-pointer"
                            [src]="
                                !branding?.advanced?.header_colour
                                    ? 'https://web.likeminds.community/assets/images/svg/back-navigation-arrow.svg'
                                    : 'https://web.likeminds.community/assets/images/svg/back-arrow-white.svg'
                            "
                        />
                        <div class="custom-header__details">
                            <div class="custom-header__details__title">Edit Event</div>
                        </div>
                    </div>

                    <div *ngSwitchCase="'IntroThreadView'" class="custom-header">
                        <img
                            height="24"
                            width="24"
                            (click)="handleBackButtonClick()"
                            class="cursor-pointer"
                            [src]="
                                !branding?.advanced?.header_colour
                                    ? 'https://web.likeminds.community/assets/images/svg/back-navigation-arrow.svg'
                                    : 'https://web.likeminds.community/assets/images/svg/back-arrow-white.svg'
                            "
                        />
                        <div class="custom-header__details">
                            <div class="custom-header__details__title">Active Threads</div>
                            <div class="custom-header__details__sub-title">
                                {{ introRoomThreadConvCount === 0 ? 'No' : introRoomThreadConvCount }} Active Threads
                            </div>
                        </div>
                    </div>

                    <div *ngSwitchCase="'EventAttachmentView'" class="custom-header">
                        <img
                            height="24"
                            width="24"
                            (click)="handleBackButtonEventAttachment()"
                            class="cursor-pointer"
                            [src]="
                                !branding?.advanced?.header_colour
                                    ? 'https://web.likeminds.community/assets/images/svg/back-navigation-arrow.svg'
                                    : 'https://web.likeminds.community/assets/images/svg/back-arrow-white.svg'
                            "
                        />

                        <div class="custom-header__details">
                            <div class="custom-header__details__title">{{ showAttachmentScreenProps?.viewMessage }}</div>
                        </div>
                    </div>

                    <div *ngSwitchCase="'AccountView'" class="custom-header">
                        <img
                            height="24"
                            width="24"
                            (click)="handleBackButtonAccountPage()"
                            class="cursor-pointer"
                            [src]="
                                !branding?.advanced?.header_colour
                                    ? 'https://web.likeminds.community/assets/images/svg/back-navigation-arrow.svg'
                                    : 'https://web.likeminds.community/assets/images/svg/back-arrow-white.svg'
                            "
                        />
                        <div class="custom-header__details">
                            <div class="custom-header__details__title">My Account</div>
                        </div>
                    </div>

                    <div *ngSwitchCase="'SubscriptionView'" class="custom-header">
                        <img
                            height="24"
                            width="24"
                            (click)="handleBackButtonSubscriptionPage()"
                            class="cursor-pointer"
                            [src]="
                                !branding?.advanced?.header_colour
                                    ? 'https://web.likeminds.community/assets/images/svg/back-navigation-arrow.svg'
                                    : 'https://web.likeminds.community/assets/images/svg/back-arrow-white.svg'
                            "
                        />

                        <div class="custom-header__details">
                            <div class="custom-header__details__title">Subscription</div>
                        </div>
                    </div>

                    <div *ngSwitchCase="'MembershipHistoryView'" class="custom-header">
                        <img
                            height="24"
                            width="24"
                            (click)="handleBackButton('MembershipHistoryView')"
                            class="cursor-pointer"
                            [src]="
                                !branding?.advanced?.header_colour
                                    ? 'https://web.likeminds.community/assets/images/svg/back-navigation-arrow.svg'
                                    : 'https://web.likeminds.community/assets/images/svg/back-arrow-white.svg'
                            "
                        />

                        <div class="custom-header__details">
                            <div class="custom-header__details__title">Membership History</div>
                        </div>
                    </div>

                    <div *ngSwitchCase="'MemberDirectoryView'" class="custom-header">
                        <img
                            height="24"
                            width="24"
                            (click)="handleBackButton()"
                            class="cursor-pointer"
                            [src]="
                                !branding?.advanced?.header_colour
                                    ? 'https://web.likeminds.community/assets/images/svg/back-navigation-arrow.svg'
                                    : 'https://web.likeminds.community/assets/images/svg/back-arrow-white.svg'
                            "
                        />

                        <div class="custom-header__details">
                            <div class="custom-header__details__title">Member Directory</div>
                        </div>
                    </div>

                    <ng-container *ngSwitchDefault>
                        <div *ngIf="user" class="header__likeminds-logo" (click)="markActive()">
                            <img
                                class="drawer-icon"
                                *ngIf="!isWhiteLabel"
                                [src]="
                                    !branding?.advanced?.header_colour
                                        ? 'https://web.likeminds.community/assets/images/svg/home_page_drawer-gray.svg'
                                        : 'https://web.likeminds.community/assets/images/svg/home_page_drawer.svg'
                                "
                                (click)="toggle()"
                            />
                            <img
                                [routerLink]="['']"
                                class="community-img"
                                [src]="currentCommunityData?.image_url"
                                alt="community-image"
                                onerror="this.src='assets/images/svg/default-gray.svg'"
                            />
                            <div class="community-name">{{ currentCommunityData?.name }}</div>
                            <div *ngIf="drawerRedBubbleStatus" class="red-dot"></div>
                        </div>

                        <div class="header__details-section">
                            <ng-container *ngIf="isCollabcard || isMobileRenewalPage; else drawerSection">
                                <img
                                    height="24"
                                    width="24"
                                    (click)="handleBackButton()"
                                    class="header__details-section__back-button cursor-pointer"
                                    [src]="
                                        !branding?.advanced?.header_colour
                                            ? 'https://web.likeminds.community/assets/images/svg/back-navigation-arrow.svg'
                                            : 'https://web.likeminds.community/assets/images/svg/back-arrow-white.svg'
                                    "
                                />
                            </ng-container>

                            <ng-template #drawerSection>
                                <div class="header__details-section__hamburger-counter-section">
                                    <img
                                        *ngIf="!isWhiteLabel"
                                        [src]="
                                            !branding?.advanced?.header_colour
                                                ? 'https://web.likeminds.community/assets/images/svg/home_page_drawer-gray.svg'
                                                : 'https://web.likeminds.community/assets/images/svg/home_page_drawer.svg'
                                        "
                                        (click)="toggle()"
                                        alt="hamburger"
                                    />
                                    <div *ngIf="drawerRedBubbleStatus" class="red-dot-mobile-drawer"></div>
                                </div>
                            </ng-template>

                            <div *ngIf="data === 'logo' && showHistoryHeader">
                                <h2 class="header__details-section__custom-header">Member History</h2>
                            </div>
                            <!-- <img
                            *ngIf="data === 'logo' && !showSubscriptionHeader && !showHistoryHeader"
                            class="cursor-pointer header__details-section__logo"
                            src="https://web.likeminds.community/assets/images/svg/logo.sv"
                            alt="logo"
                        /> -->
                            <!-- <div class="header__details-section__community">
                            <div class="header__details-section__community-left">
                                <img class="community-img" [src]="currentCommunityData?.image_url" alt="community-image" />
                                <div class="community-name">{{ currentCommunityData?.name }}</div>
                            </div>
                            <mat-icon [matMenuTriggerFor]="communtiyOptions">more_vert</mat-icon>
                            <mat-menu #communtiyOptions="matMenu">
                                <button mat-menu-item>Community details</button>
                                <button mat-menu-item>Member directory</button>
                                <button mat-menu-item>Invite members</button>
                                <button mat-menu-item>
                                    Subscription status
                                    <img
                                        style="margin-left: 11px"
                                        src="https://web.likeminds.community/assets/images/svg/home_page_mobile_subscription.svg"
                                        alt="alert-btn"
                                    />
                                </button>
                            </mat-menu>
                        </div> -->
                            <div *ngIf="data === 'detail'" class="header__details-section__details">
                                <img
                                    *ngIf="dataImage === 'single'"
                                    class="header__details-section__details__image"
                                    src="{{ dataImageUrl }}"
                                />
                                <div
                                    [ngStyle]="{ width: dataImage !== 'single' ? '100%' : '80%' }"
                                    class="header__details-section__details__description"
                                >
                                    <div class="header__details-section__details__description__heading">{{ heading }}</div>
                                    <div class="header__details-section__details__description__subHeading">{{ subHeading }}</div>
                                </div>
                            </div>
                            <div *ngIf="isIntroductionsRoom" class="thread-button" (click)="handleThreadButtonClick()">
                                <span
                                    *ngIf="introRoomThreadConvCount"
                                    class="d-flex align-items-center justify-content-center thread-button__count"
                                >
                                    {{ introRoomThreadConvCount }}
                                </span>
                                <img
                                    title="Active threads"
                                    src="https://web.likeminds.community/assets/images/svg/thread-button-white.svg"
                                />
                            </div>
                            <div
                                [ngClass]="{ align_actions: data === 'detail' }"
                                class="header__actions"
                                *ngIf="actions?.length && routeElements[3] !== pinned && !showSubscriptionHeader && !isMobileRenewalPage"
                            >
                                <img
                                    *ngIf="!isCollabcard"
                                    class="header__actions__search-icon"
                                    [src]="
                                        !branding?.advanced?.header_colour
                                            ? 'https://web.likeminds.community/assets/images/svg/search_participants.svg'
                                            : 'https://web.likeminds.community/assets/images/svg/search_white.svg'
                                    "
                                    (click)="handleMobileSearch(true)"
                                    alt="search"
                                />
                                <div *ngIf="state !== 3">
                                    <div *ngIf="subscriptionRedBubbleStatus && !isCollabcard" class="red-dot-mobile-actions"></div>
                                    <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                                    <mat-menu #menu="matMenu">
                                        <ng-container *ngFor="let action of actions">
                                            <button mat-menu-item (click)="takeAction(action)" *ngIf="action.id !== 6">
                                                {{ action.title }}
                                            </button>
                                        </ng-container>
                                        <button
                                            *ngIf="currentCommunityData?.click_state_subscription_value && !isCollabcard"
                                            mat-menu-item
                                            (click)="takeAction({ title: subscriptionStatusValue })"
                                        >
                                            Subscription status
                                            <img
                                                style="margin-left: 11px"
                                                src="https://web.likeminds.community/assets/images/svg/home_page_mobile_subscription.svg"
                                                alt="alert-btn"
                                            />
                                        </button>
                                        <button mat-menu-item (click)="viewParticipants()" *ngIf="chatroomData?.chatroom?.is_secret">
                                            View Participants
                                        </button>
                                        <!-- <button mat-menu-item (click)="goToPage()">Settings</button> -->
                                    </mat-menu>
                                </div>

                                <div *ngIf="state === 3">
                                    <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                                    <mat-menu #menu="matMenu">
                                        <button mat-menu-item (click)="leaveCommunity()">Leave community</button>
                                    </mat-menu>
                                </div>
                            </div>
                        </div>
                        <ng-container *ngIf="screenType !== 'mobile'">
                            <app-home-feed-search-desktop></app-home-feed-search-desktop>
                        </ng-container>
                        <img
                            *ngIf="user"
                            title="Profile"
                            (click)="toggleProfile()"
                            class="header__user-section"
                            [src]="user?.image_url"
                            alt="user-image"
                            onerror="this.src='../../../../../assets/images/png/avatar.png'"
                        />
                        <!-- <div class="header__download-link-section">
                        <span class="cF fs14">Try mobile apps: </span>
                        <img
                            class="cursor-pointer mx-3"
                            src="https://web.likeminds.community/assets/images/svg/playstore.svg"
                            alt="PlayStore"
                            (click)="downloadApp('playstore')"
                        />
                        <img class="cursor-pointer" src="https://web.likeminds.community/assets/images/svg/appstore.svg" alt="AppStore" (click)="downloadApp('appstore')" />
                    </div> -->
                    </ng-container>
                </ng-container>
            </ng-container>
            <ng-template #selectedMsg>
                <div *ngIf="!showIntroThreadView" class="chatroom-actions align-items-center">
                    <img
                        class="back"
                        src="https://web.likeminds.community/assets/images/svg/white-back-arrow.svg"
                        alt="back"
                        (click)="cancelSelection()"
                    />
                    <h4>{{ selectedMsgLength }}</h4>
                    <img
                        *ngIf="isSingleSelectedMsg"
                        (click)="replyMessage()"
                        class="share"
                        src="https://web.likeminds.community/assets/images/svg/share.svg"
                        alt="reply"
                    />
                    <img src="https://web.likeminds.community/assets/images/svg/copy-content.svg" alt="copy" (click)="copyMessage()" />
                    <img
                        *ngIf="isSingleSelectedMsg && isAllSelectedMyMsg && selectedMsgs[0].answer"
                        src="https://web.likeminds.community/assets/images/svg/pencil-edit-button.svg"
                        alt="edit"
                        (click)="editMessage()"
                    />
                    <img
                        *ngIf="isAllSelectedMyMsg && !isAnyDeletedMsg"
                        src="https://web.likeminds.community/assets/images/svg/delete.svg"
                        alt="delete"
                        (click)="deleteMessage()"
                    />
                    <mat-icon *ngIf="isSingleSelectedMsg" [matMenuTriggerFor]="menu">more_vert</mat-icon>
                    <mat-menu #menu="matMenu">
                        <button mat-menu-item (click)="reportMessage()">Report message</button>
                    </mat-menu>
                </div>
            </ng-template>
        </ng-container>
        <ng-template #noUserHeader>
            <img src="https://web.likeminds.community/assets/images/svg/logo-with-name.svg" class="no-user-logo" alt="LikeMindsWeb" />
        </ng-template>
    </header>
</ng-template>
