@import '../../../../../assets/scss/abstracts/mixin';

.no-user-logo {
    margin-left: 36px;
}

.hamburger-header {
    display: none;
}

.alternat-header {
    z-index: 10001 !important;
    position: fixed;
    @include left(20px);
    @include top(30px);
}

.red-dot-mobile-drawer {
    border-radius: 50%;
    background: #ff0000;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 0px;
    right: 15px;
}

.red-dot-mobile-actions {
    border-radius: 50%;
    background: #ff0000;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 11px;
    right: 22px;
}

.header {
    @include height(64px);
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    z-index: 100;
    position: relative;

    .chatroom-actions {
        display: none;
        width: 100%;
        color: var(--header_text_colour, black);
        h4 {
            @include font-size(20px);
            font-weight: bold;
            margin: 0;
            & + img {
                margin-left: auto;
            }
        }
        img {
            @include width(20px);
            @include height(20px);
            margin: 0 20px;
            object-fit: contain;
            cursor: pointer;
            &.back {
                @include height(24px);
                @include width(24px);
            }
            &.share {
                transform: rotateY(180deg);
            }
        }
        mat-icon {
            margin: 0 10px 0 20px;
        }
        @media screen and (max-width: 425px) {
            display: flex;
        }
    }

    &__likeminds-logo {
        display: flex;
        align-items: center;

        .drawer-icon {
            width: 16px;
            height: 11px;
            margin-right: 7.81px;
            cursor: pointer;
        }

        .community-img {
            border: 1px solid var(--header_colour, #ffffff);
            border-radius: 15px;
            width: 48px;
            height: 48px;
            margin-right: 12px;
        }

        .community-name {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 20px;
            display: flex;
            align-items: center;
            color: var(--header_text_colour, black);
        }

        .red-dot {
            border-radius: 50%;
            background: #ff0000;
            height: 10px;
            width: 10px;
            position: absolute;
            top: 31%;
            left: 1%;
        }
    }

    &__details-section {
        display: none;
    }

    &__search {
        position: relative;
        &__input {
            width: 516px;
            height: 36px;
            border-radius: 4px;
            border: 0.5px solid #484f67;
            display: flex;
            align-items: center;
            padding: 8px 17px;

            img {
                width: 14px;
                height: 14px;
                margin-right: 11px;
            }

            input {
                width: 100%;
                height: 100%;
                border: none;
                font-weight: 400;
                font-size: 16px;
                line-height: 18px;
                color: #484f67;
                padding: 0;
                background: rgba(255, 255, 255, 0);

                &::placeholder {
                    color: rgba(72, 79, 103, 0.5) !important;
                }
            }
        }

        &__search-list {
            overflow-y: auto;
            position: absolute;
            top: 40px;
            min-height: 352px;
            max-height: calc(100vh - 77px);
            background: #ffffff;
            border-radius: 4px;
            width: 516px;
            z-index: 1;
        }
    }

    &__backdrop {
        position: absolute;
        height: calc(100vh - 64px);
        width: 100vw;
        top: 64px;
        left: 0;
        background: rgba(72, 79, 103, 0.5);
        opacity: 0.5;
    }

    &__actions {
        display: flex;
        mat-icon {
            cursor: pointer;
            color: var(--header_text_colour, #fff);
        }

        &__search-icon {
            margin: 0 10px 5px 0;
        }
    }

    &__actions-section {
        display: none;
    }

    // &__download-link-section {
    //     margin: 10px 35px;
    //     display: block;
    // }

    &__user-section {
        border: 1px solid var(--header_colour, #ffffff);
        box-sizing: border-box;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        margin-right: 24px;
        cursor: pointer;
        object-fit: cover;
    }
}

@media screen and (max-width: 425px) {
    .hamburger-header {
        display: block;
        z-index: 214748364;
    }

    .change-header {
        display: none;
    }
    .header {
        @include height(64px);
        z-index: 1;

        .intro-thread {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: 16px;
            &__details {
                margin: 10px 0 10px 6px;
                &__title {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 23px;
                    color: var(--header_text_colour, black);
                }

                &__sub-title {
                    text-align: left;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 15px;
                    color: var(--header_text_colour, black);
                    mix-blend-mode: normal;
                    opacity: 0.8;
                }
            }
        }

        .event-attachment-screen {
            display: flex;
            align-items: center;
            margin: 18px 0 20px 20px;

            &__title {
                margin-left: 24px;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 23px;

                color: var(--header_text_colour, black);
            }
        }

        .account-view {
            display: flex;
            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 23px;

            color: var(--header_text_colour, black);
            img {
                margin-left: 16px;
                margin-right: 23px;
            }
        }

        .custom-header {
            display: flex;
            align-items: center;
            img {
                margin: 0 23px 0 16px;
            }

            &__details {
                text-align: left;
                &__title {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 20px;
                    line-height: 23px;
                    color: var(--header_text_colour, black);

                    margin-bottom: 2px;
                }

                &__sub-title {
                    text-align: left;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 13px;
                    line-height: 15px;
                    color: var(--header_text_colour, black);
                    mix-blend-mode: normal;
                    opacity: 0.8;
                }
            }
        }

        .community-feed-header {
            display: flex;
            align-items: center;
            flex: 1;
            img {
                margin: 0 23px 0 16px;
            }

            &__details {
                flex: 1;
                display: flex;
                justify-content: space-between;
                align-items: center;
                &--text {
                    text-align: left;
                    &__title {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 23px;
                        color: var(--header_text_colour, black);

                        margin-bottom: 2px;
                    }

                    &__sub-title {
                        text-align: left;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 15px;
                        color: var(--header_text_colour, black);
                        mix-blend-mode: normal;
                        opacity: 0.8;
                    }
                }
            }
        }

        .thread-button {
            position: relative;
            cursor: pointer;
            margin: 13px 14px 17px 0;
            &__count {
                background: #0ad260;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 10px;
                line-height: 11px;
                color: var(--header_text_colour, black);

                position: absolute;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                left: 16px;
                bottom: 15px;
            }
        }

        &__likeminds-logo {
            display: none;
        }

        &__search {
            display: none;
        }

        &__details-section {
            padding: 10px 20px;
            display: flex;
            align-items: center;
            width: 100%;

            &__back-button {
                margin-right: 16px;
            }

            &__custom-header {
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 17px;
                line-height: 20px;
                color: var(--header_text_colour, black);
                margin-bottom: 0px;
            }

            &__hamburger {
                @include height(24px);
                @include width(24px);
                @include margin-right(20px);
            }

            &__hamburger-counter-section {
                position: relative;
                z-index: 10001 !important;
                cursor: pointer;

                img {
                    @include width(16px);
                    @include height(11px);
                    @include margin-right(16px);
                }

                &__counter {
                    @include height(30px);
                    @include width(30px);
                    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
                    background-color: #f02849;
                    border-radius: 50%;
                    color: var(--header_text_colour, black);
                    @include font-size(13px);
                    text-align: center;
                    line-height: 2.4;
                    position: absolute;
                    top: -50%;
                    right: 20%;
                }
            }

            &__logo {
                @include height(18px);
            }

            &__community {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex: 1;

                cursor: pointer;

                &-left {
                    display: flex;
                    align-items: center;
                    .community-img {
                        height: 32px;
                        width: 32px;
                        border: 1px solid var(--header_colour, #ffffff);
                        border-radius: 8px;

                        margin-right: 8px;
                    }

                    .community-name {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 20px;
                        color: var(--header_text_colour, black);
                    }
                }

                mat-icon {
                    color: var(--header_text_colour, #fff);
                }

                mat-menu {
                    display: none;
                }
            }

            &__details {
                text-align: left;
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 82%;

                &__image {
                    height: 32px;
                    width: 32px;
                    border: 1px solid #ffffff;
                    border-radius: 8px;
                    margin-right: 8px;
                }

                &__description {
                    &__heading {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 17px;
                        line-height: 20px;
                        color: var(--header_text_colour, black);
                        @include text-overflow-ellipsis();
                    }

                    &__subHeading {
                        @include font-size(14px);
                        color: #b8d5d3;
                        @include text-overflow-ellipsis();
                    }
                }
            }
        }

        &__actions-section {
            margin: 10px 35px;
            display: block;
        }

        &__download-link-section {
            display: none;
        }

        &__user-section {
            display: none;
        }
    }

    .header-search-mobile {
        &__input {
            @include height(64px);
            display: flex;
            align-items: center;
            padding: 0 16px;
            background: #ffffff;
            box-shadow: 0px 0px 4px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 4%);
            position: relative;
            z-index: 10;

            &__back-arrow {
                height: 24px;
                width: 24px;
            }

            input {
                height: 100%;
                flex: 1;
                margin: 0 16px 0 24px;
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                color: #000000;
                border: none;
            }

            &__cross {
                height: 16px;
                width: 16px;
            }
        }

        &__search-list {
            position: absolute;
            top: 64px;
            left: 0;
            z-index: 2;
            background: white;
        }
    }
}

.align_actions {
    margin-left: auto;
}

.header-shadow {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.12);
}

@media screen and (max-width: 340px) {
    .header {
        &__details-section {
            &__details {
                width: 76%;
            }
        }
    }
}
