.event-detail-container {
    width: 100%;
    // max-width: 1090px;

    .event-banner {
        width: 100%;
        position: relative;
        height: 340px;
        .carousel-btn {
            height: 340px;
        }
        .user-image {
            height: 340px;
            object-fit: cover;
        }
        .video-banner {
            display: flex;
            position: relative;
            .playBtn {
                background: rgba(0, 0, 0, 0.7);
                color: #fff;
                font-size: 13px;
                padding: 10px 20px;
                border-radius: 5px;
                box-shadow: 0 0 8px #999999;
                position: absolute;
                top: 45%;
                left: 45%;
                text-decoration: none;
                &.hover {
                    box-shadow: 0 0 12px #999999;
                    background: rgba(0, 0, 0, 0.9);
                    transition: 0.3s all ease-in-out;
                }
            }
        }
        .banner-image {
            width: 100%;
            height: 340px;
            object-fit: cover;
        }
    }

    .event-details {
        background-color: #ffffff;
        padding: 0;

        .title-and-action-btn {
            padding: 25px;
            border-bottom: solid 1px #d0d8e2;

            p.title {
                font-size: 24px;
                font-weight: 300;
                line-height: 1.5;
                color: #4a4a4a;
                word-wrap: break-word;
            }

            .eventCost {
                font-size: 14px;
                font-weight: normal;
                color: #666666;
                margin: 25px 0 20px 0px;
                float: left;

                span.cost {
                    color: #00897b;
                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .pending-member .pending-member-card {
                img.user {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
                }
                .info .status {
                    color: var(--text_links_colour, #06c3af);
                }
                .info button {
                    width: 150px;
                    height: 40px;
                    border-radius: 20px;
                    border: solid 1px var(--text_links_colour, #06c3af);
                    background-color: #ffffff;
                    color: var(--text_links_colour, #06c3af);
                }
            }

            button.btn-action {
                width: 312px;
                height: 48px;
                background-color: var(--buttons_icons_colour, #00897b);
                box-shadow: 0 0 8px 0 rgba(0, 67, 34, 0.4);
                color: #ffffff;
                letter-spacing: 0.5px;
                line-height: 0;
                font-weight: normal;
            }
            button.btn-attending {
                border-radius: 25px;
                box-shadow: 0 0 8px 0 rgba(0, 67, 34, 0.4);
                background-color: var(--buttons_icons_colour, #00897b);
                padding: 11px 0;
                img.done {
                    width: 16px;
                }
            }
            button.btn-action:hover,
            button.btn-attending:hover {
                transition: ease-in-out 0.2s;
                box-shadow: 2px 2px 10px 2px rgba(0, 67, 34, 0.4);
            }

            .cursor-default {
                cursor: default !important;
            }
            .btn-event {
                border: none;
                height: 48px;
                width: 328px;
                background: var(--buttons_icons_colour, #00897b);
                color: #fff;
                font-weight: 500;
                font-size: 14px;
                text-transform: uppercase;
                text-align: center;
                border-radius: 24px;
                padding: 10px;
                position: relative;
                line-height: 28px;
                text-decoration: none;

                span {
                    height: 30px;
                    width: 30px;
                    font-size: 20px;
                    color: var(--buttons_icons_colour, #00897b);
                    background: #fff;
                    border-radius: 24px;
                    display: inline-block;
                    position: absolute;
                    left: 10px;
                    padding: 3px 0;
                    top: 9px;
                }
            }

            .join-link-text {
                margin-top: 15px;
                font-size: 13px;
                color: #9b9b9b;
            }

            .event-ended {
                color: #676767;
                // border: solid 1px #fe7e8d;
                background-color: #d2d9e3;
            }
            .attending-member-info {
                border-top: solid 1px #d0d8e2;
                img.user {
                    width: 64px;
                    height: 64px;
                    border-radius: 50%;
                    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.5);
                }
                .info button {
                    height: 40px;
                    border-radius: 20px;
                    border: solid 1px #06c3af;
                    background-color: #ffffff;
                    letter-spacing: 0.5px;
                    color: #06c3af;
                    img.done {
                        width: 16px;
                    }
                    img.sort {
                        width: 9px;
                    }
                }
            }
            .toast-message {
                border-radius: 8px;
                box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.24), 0 0 6px 0 rgba(0, 0, 0, 0.12);
                background-color: #191919;
                margin-left: 35%;
            }
        }
        .time-and-location {
            border-bottom: 1px solid #d0d8e2;

            .media {
                display: flex;
                justify-content: space-between;
                padding: 10px 0px;

                img {
                    margin: 0 25px;
                }
                .section {
                    width: 100%;
                    padding: 0 0 10px 0px;
                    text-align: left;
                }
            }
            .end-date-time p.end-date {
                color: #d0021b;
            }
            .online-link {
                .link a {
                    color: #06c3af;
                    text-decoration: none;
                }
            }
        }

        .recording-and-attachment {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 25px;
            cursor: pointer;

            border-bottom: 1px solid rgba(208, 216, 226, 0.5);

            &__details {
                display: flex;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                color: #000000;

                .new-btn {
                    padding: 4px 6px 2px 7px;
                    background: #ff0000;
                    border-radius: 9px;

                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 12px;
                    color: #ffffff;
                    margin-left: 16px;
                }
            }

            &__right {
                margin-right: -5px;
                display: flex;
                cursor: pointer;
                span {
                    height: 28px;
                    width: 28px;
                    border-radius: 50%;
                    background: var(--text_links_colour, #0ad260);

                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 15px;
                    line-height: 18px;
                    /* identical to box height */

                    letter-spacing: 0.155844px;

                    color: #ffffff;

                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 8px;
                }
            }
        }

        .about {
            padding: 20px;
            word-wrap: break-word;

            .heading {
                font-weight: bold;
                color: #000000;
                font-size: 28px;
                margin: 25px 0;
            }
            ::ng-deep read-more-less {
                p.content {
                    font-size: 16px !important;
                    text-align: left;
                    padding: 0.35rem;
                    line-height: 1.38;
                    white-space: pre-wrap;
                }
                p.read-more {
                    line-height: 1.8;
                    color: var(--text_icons_colour, #00897b);
                    cursor: pointer;
                    padding: 0 0 10px 0;
                    margin-top: 10px !important;
                }
            }
        }
    }

    .hosts {
        min-height: 430px;
        width: 100%;
    }

    .b-bottom {
        border-bottom: solid 1px #d0d8e2;
    }
    .b-top {
        border-top: solid 1px #d0d8e2;
    }
}

@media screen and (max-width: 425px) {
    .event-detail-container .event-banner .video-banner .playBtn {
        top: 44%;
        left: 37%;
    }

    .event-detail-container {
        .user-image {
            height: 240px;
        }
        .event-details .about {
            ::ng-deep read-more-less {
                p.read-more {
                    line-height: 1.8;
                    color: var(--text_icons_colour, #00897b);
                    display: none;
                    cursor: pointer;
                }
            }
        }
    }
}
