<div class="event-detail-container" *ngIf="chatroom?.type === 2 || chatroom?.type === 6">
    <div class="event-banner">
        <ng-container *ngIf="chatroom?.images && chatroom?.images.length; else singleBanner">
            <div id="eventBanner" class="carousel carousel-dark slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div
                        class="carousel-item"
                        data-bs-interval="3000"
                        *ngFor="let image of chatroom?.images; let i = index"
                        [ngClass]="{ active: i == 0 }"
                    >
                        <img
                            class="banner-image"
                            [src]="image?.image_url"
                            alt="Banner"
                            onError="this.src='../../../../../assets/images/png/event_banner@2x.png'"
                        />
                    </div>
                </div>
            </div>
            <ng-container *ngIf="chatroom?.images.length > 1">
                <button class="carousel-btn carousel-control-prev" type="button" data-bs-target="#eventBanner" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-btn carousel-control-next" type="button" data-bs-target="#eventBanner" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </ng-container>
        </ng-container>

        <ng-template #singleBanner>
            <ng-container *ngIf="chatroom?.images?.length != 0; else videoBanner">
                <img
                    class="banner-image"
                    *ngIf="!chatroom?.images || (chatroom?.images && !chatroom?.images.length)"
                    [src]="chatroom?.image_url_round"
                    alt="Single Banner"
                    onError="this.src='../../../../../assets/images/png/event_banner@2x.png'"
                />
            </ng-container>
            <ng-template #videoBanner>
                <div class="video-banner">
                    <a href="{{ chatroom.attachments[0]?.url }}" target="_blank" class="playBtn">Play Video</a>
                    <img
                        class="banner-image"
                        [src]="ytBanner(chatroom.attachments[0]?.url)"
                        alt="Single Banner"
                        onError="this.src='../../../../../assets/images/png/event_banner@2x.png'"
                    />
                </div>
            </ng-template>
        </ng-template>
    </div>

    <div class="event-details">
        <div class="title-and-action-btn text-start">
            <p class="title">{{ chatroom?.title | capitalizeFirst }}</p>

            <ng-container *ngIf="chatroom?.is_paid && !chatroom?.attending_status && memberState?.state !== 3 && !eventEnded">
                <div class="eventCost w-100 float-start" *ngIf="chatroom.is_paid; else freeEvent">
                    <span class="float-start">Ticket Cost:</span>

                    <ng-container *ngIf="!ticketCost?.event_plans[0].cost_usd; else ticketDollar">
                        <span class="float-start ms-2" *ngIf="ticketCost?.event_plans[0].discount">
                            <del> &#8377; {{ ticketCost?.event_plans[0]?.strike_cost }} </del>
                        </span>
                        <span class="cost float-start ms-2">
                            &#8377;
                            {{ ticketCost?.event_plans[0].cost }}
                        </span>
                    </ng-container>

                    <ng-template #ticketDollar>
                        <span class="float-start ms-2" *ngIf="ticketCost?.event_plans[0].discount">
                            <del> &#36; {{ ticketCost?.event_plans[0]?.strike_cost_usd }} </del>
                        </span>
                        <span class="cost float-start ms-2">
                            &#36;
                            {{ ticketCost?.event_plans[0]?.cost_usd }}
                        </span>
                    </ng-template>
                </div>
                <ng-template #freeEvent> Ticket Cost: Free </ng-template>
            </ng-container>

            <div class="position-relative">
                <ng-container *ngIf="!chatroom?.attending_status && !eventEnded">
                    <!-- (click)="attendEvent(ticketCost.event_plans[0].event_plan_id, 'paid')" -->
                    <button
                        *ngIf="
                            chatroom?.is_paid && !chatroom?.attending_status && memberState?.state !== 3 && !eventEnded;
                            else regFreeEvent
                        "
                        class="btn-event"
                        (click)="openBuyDialogue(ticketCost?.event_plans[0]?.event_plan_id, 'paid')"
                    >
                        Register
                    </button>

                    <ng-template #regFreeEvent>
                        <!-- "attendEvent(ticketCost?.event_plans[0]?.event_plan_id, 'free', true)" -->
                        <button (click)="openBuyDialogue(ticketCost.event_plans[0]?.event_plan_id, 'free')" class="btn-event">
                            Register
                        </button>
                    </ng-template>
                </ng-container>

                <ng-container *ngIf="chatroom?.attending_status && !eventEnded && !linksObj?.online_link">
                    <ng-container *ngIf="chatroom?.is_paid && !eventEnded; else regPaidEvent">
                        <button class="btn-event cursor-default">
                            <span>&#10003;</span>
                            You're Registered
                        </button>
                        <div class="join-link-text">Join link will be enabled 15 mins before the event starts.</div>
                    </ng-container>
                    <ng-template #regPaidEvent>
                        <button (click)="attendEvent(ticketCost?.event_plans[0]?.event_plan_id, 'free', false)" class="btn-event">
                            <span>&#10003;</span>
                            You're Registered
                        </button>
                        <div class="join-link-text">Join link will be enabled 15 mins before the event starts.</div>
                    </ng-template>
                </ng-container>

                <ng-container *ngIf="chatroom?.attending_status && !eventEnded && linksObj?.online_link">
                    <ng-container *ngIf="chatroom?.is_paid && !eventEnded; else regFreeEvent">
                        <a
                            class="btn-event d-inline-block"
                            [href]="linksObj.online_link"
                            (click)="joinEvent(linksObj.online_link)"
                            target="_blank"
                            >Join Now</a
                        >
                        <div class="join-link-text" *ngIf="(chatroom.date_time | remainingTime) != '--'; else eventStarted">
                            This event starts in {{ chatroom.date_time | remainingTime }}
                        </div>
                        <ng-template #eventStarted>
                            <div class="join-link-text">This event has started</div>
                        </ng-template>
                    </ng-container>
                    <ng-template #regFreeEvent>
                        <a
                            class="btn-event d-inline-block"
                            [href]="linksObj?.online_link"
                            target="_blank"
                            (click)="joinEvent(linksObj?.online_link)"
                            >Join Now</a
                        >
                        <div class="join-link-text" *ngIf="(chatroom.date_time | remainingTime) != '--'; else eventStarted">
                            This event starts in {{ chatroom.date_time | remainingTime }}
                        </div>
                        <ng-template #eventStarted>
                            <div class="join-link-text">This event has started</div>
                        </ng-template>
                    </ng-template>
                </ng-container>

                <div class="event-ended btn-event" *ngIf="eventEnded">Event ended</div>

                <!-- <span class="show-sm" *ngIf="chatroom?.attending_status && !eventEnded">
                    <div class="attending-member-info pl-4 d-flex my-3 pt-3">
                        <img class="user" [src]="user?.image_url || 'assets/images/svg/default.jpg'" alt="User" />
                        <div class="info ml-3">
                            <p class="fs16 c0 mr-5 mt-2">You confirmed that you are attending this event.</p>
                            <button class="fs12 fw500 px-3" (click)="attendEvent()">
                                <img class="done" src="https://web.likeminds.community/assets/images/svg/done-green.svg" alt="Done" />
                                ATTENDING
                                <img class="sort" src="https://web.likeminds.community/assets/images/svg/sort-down-green.svg" alt="Sort Down" />
                            </button>
                        </div>
                    </div>
                </span> -->
                <div class="position-absolute toast-message cF fs14 fw500 py-1 px-2" *ngIf="showToast">You are attending this event</div>
            </div>
        </div>
        <div class="time-and-location">
            <div class="start-date-time media" [ngClass]="{ 'b-bottom': !chatroom?.end_date }">
                <img src="https://web.likeminds.community/assets/images/svg/calendar-alt-green.svg" alt="Green calendar icon" />
                <div class="section" [ngClass]="{ 'b-bottom': chatroom?.end_date }">
                    <p class="date-time fs16 mb-0">
                        {{ chatroom?.date_time | formatDate: 'dddd, MMM DD, HH:mm' }}
                    </p>
                    <p class="duration fs13 c6 mb-0" *ngIf="chatroom">For {{ getDuration(chatroom) }}</p>
                </div>
            </div>
            <div
                class="end-date-time media"
                *ngIf="chatroom?.end_date"
                [ngClass]="{ 'b-bottom': !chatroom?.location && !chatroom?.online_link }"
            >
                <img src="https://web.likeminds.community/assets/images/svg/calendar-alt-red.svg" alt="Red calendar icon" />
                <div class="section" [ngClass]="{ 'b-bottom': chatroom?.location || chatroom?.online_link }">
                    <p class="fs16 mb-0">Ends on</p>
                    <p class="end-date fs13 mb-0">{{ chatroom?.end_date | formatDate: 'DD MMM YYYY' }}</p>
                </div>
            </div>
            <div *ngIf="chatroom?.online_link" class="online-link media" [ngClass]="{ 'b-bottom': !chatroom?.location }">
                <img src="https://web.likeminds.community/assets/images/svg/clicking.svg" alt="Red calendar icon" />
                <div class="section" [ngClass]="{ 'b-bottom': chatroom?.location }">
                    <p class="fs16 mb-0">Online event</p>
                    <p class="link fs13 mb-0">
                        <a [href]="chatroom?.online_link" target="blank">{{ chatroom?.online_link }}</a>
                    </p>
                    <!-- <p class="link fs13 mb-0"><a [href]="'//' + chatroom?.online_link"
                            target="blank">{{ chatroom?.online_link }}</a></p> -->
                </div>
            </div>
            <div *ngIf="chatroom?.location" class="location media" (click)="viewLocationOnMap()">
                <img src="https://web.likeminds.community/assets/images/svg/location-lg.svg" alt="Location icon" />
                <div class="section">
                    <p class="fs16 c0 mb-0 ml-4">{{ chatroom?.location }}</p>
                </div>
            </div>
        </div>

        <div (click)="viewAttachmentDrawer()" *ngIf="chatroom?.recordings_attachments_view !== 1" class="recording-and-attachment">
            <div class="recording-and-attachment__details">
                Event Recording/ Attachments
                <span *ngIf="chatroom?.recordings_attachments_view === 0" class="new-btn">NEW</span>
            </div>
            <div
                *ngIf="chatroom?.recordings_attachments?.length || aboutAndRecordingUrlCount; else addAttachmentIcon"
                class="recording-and-attachment__right"
            >
                <span>{{
                    chatroom?.recordings_attachments?.length + aboutAndRecordingUrlCount >= 10
                        ? '9+'
                        : chatroom?.recordings_attachments?.length + aboutAndRecordingUrlCount
                }}</span>
                <img src="https://web.likeminds.community/assets/images/svg/event-attachment-arrow.svg" alt="arrow-icon" />
            </div>
            <ng-template #addAttachmentIcon>
                <img src="https://web.likeminds.community/assets/images/svg/add-attachment-green.svg" />
            </ng-template>
        </div>

        <div class="about" *ngIf="chatroom?.about">
            <p class="heading">About this event</p>
            <read-more-less [data]="chatroom?.about | capitalizeFirst" [characterCount]="115"></read-more-less>
            <!-- <p class="content fs16 text-start px-4 pb-4">{{ chatroom?.about | capitalizeFirst }}</p> -->
        </div>
    </div>

    <div class="hosts">
        <p class="heading fs28 font-weight-bold c0 pt-5 pb-4">Hosts</p>
        <hosts-section [hosts]="chatroom?.co_hosts"></hosts-section>
    </div>
    <div
        class="members-attending bg-white"
        *ngIf="hasAttendingMembers && (chatroom?.type === 6 || (chatroom?.type === 2 && [1, 4].includes(memberState?.state)))"
    >
        <p
            class="heading fs28 font-weight-bold c0 pt-5 pb-4"
            routerLink="/member_directory/{{ community?.id }}"
            [queryParams]="{ source: 'event', chatRoomId: chatroom.id, page: 1 }"
            (click)="viewedDirectory()"
        >
            Members Attending
        </p>
        <members-attending-section [members]="attendingMembers"></members-attending-section>
    </div>
</div>
