<mat-sidenav-container>
    <mat-sidenav #profileDrawer mode="side" position="end" [(opened)]="drawerOpened" class="profile-drawer">
        <app-home-page-profile-drawer></app-home-page-profile-drawer>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="community-feed-wrapper">
            <app-pinned-list [ngClass]="{ hide: isChatroom }" class="community-feed"></app-pinned-list>

            <div class="d-sm-block w-100 chatroom-space">
                <div [ngClass]="{ 'hide-fallback': isChatroom || screenType === 'mobile' }" class="chatroom-space__fallback">
                    <img
                        class="chatroom-space__fallback--image"
                        src="https://web.likeminds.community/assets/images/svg/scv_nochatroom_fallback.svg"
                    />
                    <div class="chatroom-space__fallback--text">👈 Select a chat room to start messaging</div>
                </div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
