<ng-container *ngIf="(pollType === 0 && (pollWasAnswered || pollSubmitted || pollEnded)) || (pollType === 1 && pollEnded)">
    <div [ngStyle]="{ color: option?.is_selected && message.to_show_results ? '#06c3af' : 'black' }">
        <div
            class="poll-option"
            [ngClass]="{ 'selected-button': option?.is_selected && message.to_show_results, 'not-selected-button': !option.is_selected }"
            [ngStyle]="{
                background:
                    option?.is_selected && message.to_show_results
                        ? 'linear-gradient(to left, #ffffff 50%, #cefdf9 50%) right'
                        : 'linear-gradient(to left, #ffffff 50%, #D3D3D3 50%) right',
                'background-size': '200%',
                transition: '.5s ease-out',
                'background-position': optionPercentage
            }"
            (click)="selectOption(option)"
        >
            <div class="option-info">
                <div class="option-text">{{ option.text }}</div>
                <ng-container *ngIf="addOption">
                    <div class="option-creator">
                        Added by <span *ngIf="user?.id === option?.member?.id; else creatorName">You</span>
                        <ng-template #creatorName
                            ><span>{{ option.member.name }}</span></ng-template
                        >
                    </div>
                </ng-container>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <div *ngIf="option?.is_selected && message.to_show_results" class="option-check">
                    <img src="https://web.likeminds.community/assets/images/svg/done.svg" />
                </div>
            </div>
        </div>
    </div>
</ng-container>

<!-- <ng-container *ngIf="((pollType === 0) || pollType === 1) && !pollEnded"> -->

<ng-container
    *ngIf="
        (pollType === 0 && !(pollWasAnswered || pollSubmitted) && !pollEnded) ||
        (pollType === 1 && !pollEnded) ||
        (pollType === true && !pollEnded)
    "
>
    <div [ngStyle]="{ color: option?.is_selected && message.to_show_results ? '#06c3af' : '#000000' }">
        <div
            class="poll-option"
            [ngClass]="{ 'selected-button': option?.is_selected && message.to_show_results, 'not-selected-button': !option.is_selected }"
            (click)="selectOption(option)"
        >
            <div class="option-info">
                <div class="option-text">{{ option.text }}</div>
                <ng-container *ngIf="addOption">
                    <div class="option-creator">
                        Added by <span *ngIf="user?.id === option?.member?.id; else creatorName">You</span>
                        <ng-template #creatorName
                            ><span>{{ option?.member?.name }} </span></ng-template
                        >
                    </div>
                </ng-container>
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <div *ngIf="option?.is_selected && message.to_show_results" class="option-check">
                    <img src="https://web.likeminds.community/assets/images/svg/done.svg" />
                </div>
            </div>
        </div>
    </div>
</ng-container>

<!-- (click)="clickVote(option.id, isAnonymous)" -->

<ng-container *ngIf="message.to_show_results">
    <p
        [ngClass]="{ selected: option.is_selected, 'not-selected': !option.is_selected }"
        (click)="clickVote(option.id, isAnonymous, option.no_votes)"
    >
        {{ option.no_votes }} votes
    </p>
</ng-container>
