@import '../../../../../assets/scss/abstracts/mixin';
@import '../../../../../assets/scss/abstracts/variables';

/* width */
::-webkit-scrollbar {
    width: 6px;
    display: block;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.warning-container {
    width: 100%;
    height: 45px;
    border: 1px solid #d8283b;
    background-color: #eec7ce;
    color: #d8283b;
    padding: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    p {
        margin-bottom: 0px;
        padding: 10px;
        margin-top: 1px;
    }
}

.crType {
    border: 1px solid #d0d8e2;
    padding: 5px;
    border-radius: 8px;
    float: left;
    cursor: pointer;
    text-transform: capitalize;
}

.memberList {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 360px;
    background: #f6f7f9;
    z-index: 9;
    height: 95vh;

    &__header {
        background: #00897b;
        width: 360px;
        height: 60px;
        padding: 10px 20px;

        .arrowBox {
            margin-right: 25px;
            float: left;

            .arrow {
                width: 16px;
                height: 16px;
            }
        }
        .title {
            font-size: 20px;
            color: #fff;
            font-weight: 400;
        }
        .subTitle {
            font-size: 14px;
            color: #b8d5d3;
            font-weight: 400;
        }

        .searchArea {
            height: 18px;
            width: 18px;
            margin-top: 10px;
        }
    }

    &__header.search {
        background: #ffffff;
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
        .arrow {
            color: #020202;
        }
        input {
            border: none;
            width: 265px;
            float: left;
            margin: 10px 0 0 0;
            font-size: 14px;
            font-weight: 400;
        }
    }

    &__body {
        height: calc(100vh - 48px);
        overflow-y: auto;
        padding-bottom: 80px;
        padding: 10px;

        &--totleMembers {
            color: #9b9b9b;
            font-size: 14px;
        }
        &__box {
            margin: 16px 0;
            width: 100%;
            float: left;
            cursor: pointer;
            position: relative;

            .selected {
                background: url(https://web.likeminds.community/assets/images/svg/secret-selected-member.svg) no-repeat;
                width: 26px;
                height: 26px;
                position: absolute;
                top: 26px;
                left: 34px;
            }

            &--userImg {
                border-radius: 50%;
                overflow: hidden;
                height: 54px;
                width: 54px;
                margin-right: 10px;
                float: left;

                img {
                    border-radius: 50%;
                    overflow: hidden;
                    height: 54px;
                    width: 54px;
                }
            }

            &__content {
                float: left;
                border-bottom: 1px solid rgba(208, 216, 226, 0.5);
                padding-bottom: 16px;
                width: 80%;
                margin-top: 16px;

                &--userName {
                    font-size: 14px;
                    color: #020202;
                    font-weight: 500;
                }
            }
        }
    }
    &__footer {
        position: fixed;
        bottom: 80px;
        left: 0px;
        width: 38.5%;
        display: flex;
        justify-content: center;

        button {
            position: absolute;
            width: 54px;
            height: 54px;
            color: #fff;
            border: none;
            background: #0ad260;
            box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.24);
            border-radius: 27px;
        }
    }
}

.label {
    text-transform: uppercase;
    color: #acb7c0;
    @include font-size(11px);
    margin: 0 0 5px 15px;
    @include letter-spacing(0.3px);
    cursor: pointer;
}

.custom-text-area {
    @include margin-top(-4px);
    border-radius: 0 0 5px 5px !important;
}

.expire {
    padding: 10px 15px !important;
}

.custom-label {
    color: $input-border;
    @include font-size(12px);
    @include letter-spacing(0.3px);
}
.custom-select {
    border-bottom: 1px solid $input-border !important;
    border-radius: 0px !important ;
    padding: 5px 0px !important ;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: var(--buttons_icons_colour, #00897b) !important;
    filter: brightness(1.6);
}
.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: var(--buttons_icons_colour, #00897b) !important;
    filter: brightness(1.6);
}

mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
    @include border-radius(0px);
    box-shadow: none;
    border: 0 none;
    background-color: $light;
    padding: 0 10px;
    line-height: 1.43;
    @include font-size(14px);
    @include height(30px);
}

mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    .mat-form-field-label-wrapper {
        @include left(10px);
        .mat-form-field-label {
            @include margin-top(0);
        }
    }
}

section main .circle {
    margin: -5px -10px -17px -10px !important;
}

.mat-datepicker-content .time-container {
    mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
        width: 25px !important;
        min-height: auto;
        flex: none;
        margin: 7px 0 0 -12px;
    }
}

input::-webkit-input-placeholder {
    color: orange !important;
}

.border-0 {
    width: 100%;
    .mat-form-field {
        width: 100%;
    }
    mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
        border-top: solid 1px $input-border;
    }
}

mat-form-field .mat-form-field-wrapper .mat-form-field-flex .mat-form-field-infix {
    min-height: 42px !important;
}

.userVote {
    position: relative;

    span.arrowDown {
        position: absolute;
        @include right(7px);
        @include top(7px);
    }
}

.add_option {
    padding: 10px !important;
    cursor: pointer;
}

.date_picker_poll {
    padding: 10px !important;
    mat-form-field .mat-form-field-wrapper .mat-form-field-flex {
        width: 265px !important;
        .mat-form-field-infix {
            position: static;
        }
    }
}

.text-area {
    border-radius: 8px !important;
}

.advanced-option-arrow-icon {
    @include height(10px);
    @include width(10px);
}

.inverted-arrow {
    @include margin-bottom(2px);
    transform: rotate(180deg);
}
