::-webkit-scrollbar {
    width: 6px;
    display: block;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.emoji-list-dialog {
    position: relative;
    height: 26.063rem;
    width: 27.313rem;
    margin: -8px -24px;

    .header {
        padding: 0 17px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;

        flex-direction: column;
        border-bottom: 1px solid rgba(208, 216, 226, 0.5);
        margin: 0 7px;

        .emoji-details {
            overflow-x: auto;
            display: flex;
            width: 100%;
            &__box {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                color: #666666;

                white-space: nowrap;
                display: flex;
                flex-direction: column;
                align-items: center;
                cursor: pointer;

                height: 30px;

                &:not(:nth-last-child(1)) {
                    margin-right: 22px;
                }

                &-info {
                    display: flex;

                    .emoji {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 20px;
                        line-height: 24px;
                        color: #000000;

                        margin-right: 9px;
                    }

                    .value {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 15px;
                        line-height: 24px;
                        color: #666666;
                    }
                }

                .box-bottom-border {
                    height: 2px;
                    background: none;
                    border-radius: 2px;
                    width: 62px;
                    margin-top: 4px;
                }

                &.selected-emoji {
                    .box-bottom-border {
                        background: var(--text_links_colour, #06c3af);
                    }
                    .value {
                        color: var(--text_links_colour, #06c3af);
                    }
                }
            }

            &::-webkit-scrollbar {
                display: none !important;
            }
        }

        &__top {
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 29px;
            .heading {
                font-family: Roboto;
                font-size: 1.25rem;
                font-weight: 500;
                font-stretch: normal;
                font-style: normal;
                line-height: 1;
                letter-spacing: normal;
                color: rgba(0, 0, 0, 0.87);
            }

            .emoji-list-btn-close {
                -webkit-appearance: none !important;
            }
        }
    }

    .emoji-list {
        overflow-y: auto;
        max-height: 353px;
        padding: 0 24px 16px;
        &__details {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 1.5rem;

            &--left {
                display: flex;
                img {
                    height: 2.5rem;
                    width: 2.5rem;
                    border-radius: 50%;
                }

                .fallback-image {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    height: 2.5rem;
                    width: 2.5rem;
                    border-radius: 50%;
                    font-size: 18px;
                }

                .reaction-info {
                    margin-left: 0.625rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    .member-name {
                        font-family: Roboto;
                        font-size: 0.875rem;
                        font-weight: 500;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.29;
                        letter-spacing: normal;
                        color: #000;
                    }

                    .emoji-list-remove-btn {
                        font-family: Roboto;
                        font-size: 0.875rem;
                        font-weight: normal;
                        font-stretch: normal;
                        font-style: normal;
                        line-height: 1.29;
                        letter-spacing: normal;
                        color: #666;
                        cursor: pointer;
                        -webkit-appearance: none !important;
                    }
                }
            }

            &--right {
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 1.875rem;
            }
        }
    }
}
