<div
    #messageHighlight
    [id]="'messagehighlight' + message?.id"
    *ngIf="showMessageHighlight.show && showMessageHighlight.messageId === message.id"
    class="message-highlight"
></div>
<div [class]="'normal-message-container ' + wrapperClass" [ngStyle]="{ 'align-items': isMyMsg ? 'flex-end' : 'flex-start' }">
    <div class="mobile-emoji-picker" *ngIf="selected && selectedMsgLength === 1">
        <ngx-emoji (emojiClick)="addEmoji($event)" class="mobile-emoji" emoji="heart" size="24"></ngx-emoji>
        <ngx-emoji (emojiClick)="addEmoji($event)" class="mobile-emoji" emoji="joy" size="24"></ngx-emoji>
        <ngx-emoji (emojiClick)="addEmoji($event)" class="mobile-emoji" emoji="open_mouth" size="24"></ngx-emoji>
        <ngx-emoji (emojiClick)="addEmoji($event)" class="mobile-emoji" emoji="cry" size="24"></ngx-emoji>
        <ngx-emoji (emojiClick)="addEmoji($event)" class="mobile-emoji" emoji="rage" size="24"></ngx-emoji>
        <ngx-emoji (emojiClick)="addEmoji($event)" class="mobile-emoji" emoji="thumbsup" size="24"></ngx-emoji>
        <img
            (click)="openMobileEmojiPicker($event)"
            class="add-emoji-mobile"
            src="https://web.likeminds.community/assets/images/png/add-emoji.png"
            alt="add-emoji-mobile"
        />
    </div>
    <emoji-mart
        class="emoji-mobile-selection"
        (emojiSelect)="addEmoji($event)"
        (clickOutside)="closeMobileEmojiPicker($event)"
        *ngIf="showMobileEmojiPicker"
        [darkMode]="false"
        [showPreview]="false"
        [enableSearch]="false"
    ></emoji-mart>
    <div
        #messageWrap
        [class]="'normal-message text-start d-flex w85 align-items-center ' + wrapperClass"
        [ngClass]="{
            incoming: !isMyMsg,
            'outgoing flex-row-reverse float-end': isMyMsg,
            'new-message': isNewMessage,
            'mt-3': isOtherMember,
            selected: this.selected
        }"
        [ngStyle]=""
    >
        <div class="user-image" *ngIf="!isMyMsg" (click)="openProfile()">
            <div
                *ngIf="!imgInitShow"
                class="img d-flex justify-content-center align-items-center text-white"
                [ngStyle]="{ 'background-color': circleColor }"
            >
                <span>
                    {{ imgInit1 }}
                </span>
            </div>
            <img
                [src]="message?.member?.image_url"
                *ngIf="imgInitShow"
                (error)="onImgError($event, message?.member?.name)"
                alt="{{ message?.member?.name }}"
            />
        </div>

        <div
            class="chat-bubble position-relative"
            [ngClass]="{ 'event-card-bubble': message?.state === 1 }"
            [ngStyle]="{ height: message?.attachments && message?.attachments?.length > 0 }"
        >
            <ng-container *ngIf="message?.state === 1; else restTemp">
                <div *ngIf="screenType === 'mobile'; else eventCardDesktop" class="event-card-mobile">
                    <div class="event-card-mobile__user">
                        <div class="event-card-mobile__user__left">
                            <img
                                [src]="message?.member?.image_url"
                                alt="user-image"
                                onerror="this.src='../../../../../assets/images/png/avatar.png'"
                            />
                            <div class="event-card-mobile__user__left__detail">
                                <div class="event-card-mobile__user__left__detail__name">
                                    {{ chatroom?.member.id === user?.id ? 'You' : chatroom?.member.name }}
                                </div>
                                <div class="event-card-mobile__user__left__detail__sub-text">created this event</div>
                            </div>
                        </div>
                        <div class="event-card-mobile__user__right">{{ chatroom?.date_time | formatDate: 'DD/MM/YY' }}</div>
                    </div>

                    <div class="event-card-mobile__sub-details">
                        <app-calendar-round-icon></app-calendar-round-icon>
                        <div [ngStyle]="{ 'background-color': eventEnded && '#ff0000' }" class="event-card-mobile__sub-details__rem-days">
                            {{ eventEnded ? 'Event Ended' : startsInTimeText }}
                        </div>
                    </div>

                    <div class="event-card-mobile__title">{{ chatroom?.title }}</div>

                    <img class="event-card-mobile__banner-image" [src]="bannerImage" alt="banner" />

                    <div class="event-card-mobile__description">
                        {{ chatroom?.about }}
                    </div>

                    <div class="event-card-mobile__time">
                        <app-calendar-square-icon></app-calendar-square-icon>
                        <div class="event-card-mobile__time__text">{{ chatroom?.date_time | formatDate: 'dddd, MMM DD, HH:mm' }}</div>
                    </div>

                    <div class="event-card-mobile__visibility">
                        <app-chatroom-preview-click-icon></app-chatroom-preview-click-icon>
                        <div class="event-card-mobile__visibility__text">Visible to attendees only</div>
                    </div>

                    <div (click)="handleViewEventRoute()" class="event-card-mobile__bottom">VIEW EVENT</div>
                </div>

                <ng-template #eventCardDesktop>
                    <div class="event-card-desktop">
                        <div class="event-card-desktop__top">
                            <app-calendar-round-icon></app-calendar-round-icon>
                            <div [ngStyle]="{ 'background-color': eventEnded && '#ff0000' }" class="event-card-desktop__top__rem-days">
                                {{ eventEnded ? 'Event Ended' : startsInTimeText }}
                            </div>
                        </div>

                        <div class="event-card-desktop__body">
                            <img class="event-card-desktop__body__banner-image" [src]="bannerImage" alt="banner" />
                            <div class="event-card-desktop__body__title">{{ chatroom?.title }}</div>
                            <div class="event-card-desktop__body__description">
                                {{ chatroom?.about }}
                            </div>

                            <div class="event-card-desktop__body__time">
                                <app-chatroom-preivew-calendar-icon></app-chatroom-preivew-calendar-icon>
                                <div class="event-card-desktop__body__time__text">
                                    {{ chatroom?.date_time | formatDate: 'dddd, MMM DD, HH:mm' }}
                                </div>
                            </div>
                        </div>

                        <div (click)="handleViewEventRoute()" class="event-card-desktop__bottom">VIEW EVENT</div>
                    </div>
                    <div class="chat-bubble-tri"></div>
                </ng-template>
            </ng-container>

            <ng-template #restTemp>
                <p (click)="openProfile()" class="member-name fs14 fw500" *ngIf="!isMyMsg">{{ message?.member?.name }}</p>

                <ng-container *ngIf="message.preview?.chatroom?.deleted_by; else nonDeletedBlock">
                    <div class="deleted-box-wrapper">
                        <div class="preview-card green-left-border">
                            <p class="message-text deleted-text mb-0">This chatroom was deleted</p>
                        </div>
                    </div>
                </ng-container>

                <ng-template #nonDeletedBlock>
                    <ng-container *ngIf="message.deleted_by; else nonDeletedMsg">
                        <p class="message-text deleted-text mb-0">{{ deletedText }}</p>
                    </ng-container>

                    <ng-template #nonDeletedMsg>
                        <p *ngIf="message.polls?.length" class="poll-type">
                            <span *ngIf="message.poll_type === 0; else deferredPoll">Instant poll</span>
                            <ng-template #deferredPoll>Deferred poll</ng-template> &middot;
                            <span *ngIf="message.is_anonymous; else openVote">Secret Voting</span>
                            <ng-template #openVote>Open Voting</ng-template>
                        </p>

                        <!-- Intro Room Card -->
                        <ng-container *ngIf="message?.preview as preview; else normalMsgCart">
                            <app-preview-card [chatroomId]="chatroomId" [communityId]="communityId" [preview]="preview"> </app-preview-card>
                            <p
                                class="message-text pt-0 ws-normal text mb-0"
                                [ngClass]="{ wid270: !message.reply_conversation }"
                                *ngIf="message.answer as answer"
                            >
                                <!-- Single emoji block: Reciver -->
                                <ng-container *ngIf="answer | emoji; else showMsgCard">
                                    <ng-container *ngIf="answer.length === 2; else unicodeEmoji">
                                        <div
                                            class="align-items-center d-flex justify-content-center"
                                            [ngClass]="{ emoji: answer.length === 2 }"
                                        >
                                            <span
                                                #messageText
                                                (click)="openTagged(messageText, message.answer)"
                                                [innerHTML]="answer | memberTag | ellipsisWord: charCount"
                                            ></span>
                                        </div>
                                    </ng-container>
                                    <ng-template #unicodeEmoji>
                                        <div class="align-items-center d-flex justify-content-center emoji">
                                            <span #messageText (click)="openTagged(messageText, message.answer)"> {{ answer }}</span>
                                        </div>
                                    </ng-template>
                                </ng-container>

                                <ng-template #showMsgCard>
                                    <span *ngIf="memberTags">
                                        <span *ngFor="let item of messageParsing">
                                            <span
                                                #messageText
                                                (click)="openTagged(messageText, message.answer, item[item.length - 1])"
                                                *ngIf="item.slice(0, randomString.length) === randomString"
                                                [innerHTML]="item.slice(randomString.length, item.length - 12)"
                                            >
                                            </span>
                                            <span
                                                *ngIf="item.slice(0, randomString.length) !== randomString"
                                                [innerHTML]="item | memberTag"
                                            >
                                            </span>
                                        </span>
                                    </span>
                                    <!--   THIS ONE   -->
                                    <span
                                        *ngIf="!memberTags"
                                        #messageText
                                        (click)="openTagged(messageText, message.answer)"
                                        [innerHTML]="answer | memberTag | ellipsisWord: charCount"
                                    >
                                    </span>
                                </ng-template>

                                <ng-container *ngIf="(answer | memberTag).length > MSG_BATCH_SIZE">
                                    <span
                                        class="show-message"
                                        (click)="showMessage(charCount + MSG_BATCH_SIZE)"
                                        *ngIf="charCount <= answer.length"
                                        >Read More</span
                                    >
                                    <span class="show-message" (click)="showMessage(MSG_BATCH_SIZE)" *ngIf="charCount > answer.length"
                                        >Read Less</span
                                    >
                                </ng-container>
                            </p>
                        </ng-container>

                        <ng-template #normalMsgCart>
                            <ng-container *ngIf="message.reply_conversation">
                                <ng-container *ngIf="message.reply_conversation_object as reply">
                                    <div class="reply-preview" (click)="scrollToMessage(reply?.id)">
                                        <app-reply-preview [chatroom]="chatroom" [reply]="reply" [user]="user"></app-reply-preview>
                                    </div>
                                </ng-container>
                            </ng-container>

                            <!-- IF THE ATTACHEMETS ARE NOT UPLOADED -->
                            <div
                                *ngIf="!message?.attachments_uploaded && message?.attachments?.length == 0 && message?.id != null"
                                class="d-flex failed-upload-message"
                            >
                                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M12 21C16.9226 21 21 16.9226 21 12C21 7.0774 16.9133 3 11.9907 3C7.0774 3 3 7.0774 3 12C3 16.9226 7.0774 21 12 21ZM12 13.5975C11.5263 13.5975 11.2663 13.3282 11.2477 12.8452L11.1362 8.18266C11.1176 7.6904 11.4799 7.33746 11.9907 7.33746C12.5015 7.33746 12.8824 7.69969 12.8638 8.19195L12.743 12.8452C12.7245 13.3375 12.4644 13.5975 12 13.5975ZM12 16.5697C11.4613 16.5697 10.9876 16.1424 10.9876 15.6037C10.9876 15.065 11.452 14.6378 12 14.6378C12.5573 14.6378 13.0124 15.065 13.0124 15.6037C13.0124 16.1517 12.548 16.5697 12 16.5697Z"
                                        fill="#F02849"
                                    />
                                </svg>
                                <p class="mb-0 failed-upload-message-text">Upload failed. Try uploading again.</p>
                            </div>

                            <div
                                class="media-container"
                                *ngIf="message?.attachments && message?.attachments.length && message?.pdf?.length == 0"
                            >
                                <div
                                    class="media-upload-status blah blah"
                                    *ngIf="
                                        !message?.attachments_uploaded &&
                                        message?.id != null &&
                                        message.totalFileSize &&
                                        message?.attachments[0].type !== 'voice_note'
                                    "
                                >
                                    {{ addAllBytes((awsS3BucketService.totalBytesUploadedObject$$ | async)[uniqueId]) }} /
                                    {{ utilsService.bytesToSize(message?.totalFileSize) }}
                                </div>

                                <!-- NEW ONE dont change-->
                                <ng-container
                                    *ngIf="
                                        !message?.attachments_uploaded &&
                                        message?.id != null &&
                                        message?.attachments[0].type !== 'voice_note'
                                    "
                                >
                                    <div
                                        class="media-upload-reload"
                                        [ngStyle]="{
                                            'margin-top':
                                                message?.attachments[0].type == 'audio' && message?.attachments.length > 2 ? '-15px' : ''
                                        }"
                                        [ngClass]="{ 'media-upload-loader_reset': (chatroomService.hideRetryButton$$ | async)[message.id] }"
                                    >
                                        <div
                                            *ngIf="(chatroomService.hideRetryButton$$ | async)[message.id] && currentlyLoadingMediaId"
                                            class="d-flex justify-content-center align-items-center media-upload-loader"
                                        >
                                            <div class="loader-container">
                                                <div class="d-flex align-items-center justify-content-center">
                                                    <mat-spinner
                                                        style="margin-top: 1px"
                                                        [diameter]="40"
                                                        class="uploader-status"
                                                    ></mat-spinner>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>

                                <!-- new one  -->

                                <!-- FOR IMAGES , VIDEO AND GIF FILES -->
                                <div
                                    class="media-wrap position-relative"
                                    *ngIf="
                                        message?.pdf?.length == 0 &&
                                        message?.attachments[0].type != 'audio' &&
                                        message?.attachments[0].type != 'voice_note'
                                    "
                                    [ngClass]="{
                                        'multi-media': message?.attachments.length > 1,
                                        'single-media': message?.attachments.length === 1
                                    }"
                                >
                                    <ng-container *ngFor="let item of message?.attachments; let i = index">
                                        <div
                                            class="media-tile position-relative"
                                            (click)="openMedia(message.attachments, i, message?.answer, message)"
                                            *ngIf="item?.showTile"
                                        >
                                            <img
                                                class="thumbnail-img"
                                                [src]="item?.thumbnail_url || item?.url"
                                                *ngIf="item.type == 'image'"
                                            />
                                            <video
                                                class="thumbnail-img"
                                                [src]="item?.thumbnail_url || item?.url"
                                                *ngIf="item.type == 'video'"
                                            ></video>

                                            <div *ngIf="item.type == 'gif'">
                                                <img class="thumbnail-img" [src]="item?.url" alt="" />
                                                <div
                                                    class="position-absolute w-100 h-100 top-0 start-0"
                                                    (click)="playGif()"
                                                    *ngIf="!playGifFile[message.id]"
                                                >
                                                    <div class="position-relative">
                                                        <img class="thumbnail-img" [src]="item?.thumbnail_url" alt="" />
                                                        <div
                                                            class="position-absolute d-flex align-items-center thumbnail-img justify-content-center gif-placeholder"
                                                        >
                                                            <img
                                                                src="https://web.likeminds.community/assets/images/png/GIF.png"
                                                                alt="GIF"
                                                            />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <img
                                                class="play-img"
                                                src="https://web.likeminds.community/assets/images/svg/play.svg"
                                                alt="play"
                                                *ngIf="item.type === 'video'"
                                            />
                                        </div>

                                        <div
                                            class="image-overlay position-relative"
                                            *ngIf="item?.isLastTile"
                                            (click)="openMedia(message.attachments, i, message?.answer, message)"
                                        >
                                            <img class="thumbnail-img" [src]="item?.thumbnail_url || item?.url" />-
                                            <img [src]="item?.url" *ngIf="item.type === 'gif'" alt="" />
                                            <img
                                                class="play-img"
                                                src="https://web.likeminds.community/assets/images/svg/play.svg"
                                                alt="play"
                                                *ngIf="item.type === 'video'"
                                            />
                                            <p class="text-center">+ {{ remainingMediaFile }}</p>
                                        </div>
                                    </ng-container>
                                </div>

                                <!-- FOR AUDIO AND VOICE_NOTE FILES -->

                                <div
                                    *ngIf="
                                        message?.pdf?.length == 0 &&
                                        (message?.attachments[0].type == 'audio' || message?.attachments[0].type == 'voice_note')
                                    "
                                    [ngClass]="{
                                        'multi-medias': message?.attachments.length > 1,
                                        'single-media': message?.attachments.length >= 1
                                    }"
                                    class="media-wrap position-relative"
                                >
                                    <app-all-audios-container
                                        style="margin: 0.125rem 0px"
                                        [message]="message"
                                        [uniqueId]="uniqueId"
                                        [playingAudioId]="playingAudioId"
                                        (playingAudioIdEvent)="playingAudioIdEventFunc($event)"
                                        [isMyMsg]="isMyMsg"
                                        [chatroom]="chatroom"
                                    >
                                    </app-all-audios-container>
                                </div>
                            </div>

                            <ng-container *ngIf="message.pdf as pdfs">
                                <div class="pdf-wrapper" *ngIf="pdfs.length">
                                    <ng-container *ngFor="let pdf of pdfs">
                                        <a
                                            class="pdf-tile"
                                            [href]="pdf.pdf_file"
                                            (click)="handleAttachmentOpenedInNewTab()"
                                            target="_blank"
                                            [ngClass]="{ multiple: pdfs.length > 1, disabled: !user }"
                                        >
                                            <img src="https://web.likeminds.community/assets/images/svg/pdf-document.svg" alt="pdf" />
                                            <span *ngIf="message?.pdf.length === 1">Document</span>
                                        </a>
                                    </ng-container>
                                </div>
                            </ng-container>

                            <!-- FOR POLLS -->

                            <ng-container *ngIf="message.polls; else textMsg">
                                <div *ngIf="message.state == 10" class="poll-wrapper">
                                    <app-poll-card [message]="message" [user]="user"></app-poll-card>
                                </div>
                                <div *ngIf="message.state == 0" class="poll-wrapper">
                                    <app-chatroom-poll-card [message]="message" [user]="user"></app-chatroom-poll-card>
                                </div>
                            </ng-container>
                            <ng-template #textMsg>
                                <ng-container *ngIf="message.og_tags as tags">
                                    <div class="link-preview text-center">
                                        <img *ngIf="tags.image" [src]="tags.image || '#'" class="mx-auto" alt="og_image_tag" />
                                        <div class="text text-start">
                                            <div class="title">{{ tags.title }}</div>
                                            <div class="description">{{ truncate(tags.description, 65) }}</div>
                                        </div>
                                    </div>
                                </ng-container>

                                <ng-container
                                    *ngIf="
                                        message?.attachments &&
                                        !(!message?.attachments_uploaded && message?.attachments?.length == 0 && message?.id != null)
                                    "
                                >
                                    <p
                                        class="message-text text mb-0"
                                        [ngClass]="{ wid270: !message.reply_conversation }"
                                        *ngIf="message.answer as answer"
                                        [ngStyle]="{
                                            'padding-top':
                                                message?.attachments[0]?.type == 'audio' && message?.attachments?.length > 2 ? '0px' : ''
                                        }"
                                    >
                                        <!-- Single emoji block: Reciver -->
                                        <ng-container *ngIf="answer | emoji; else showMsgCard">
                                            <ng-container *ngIf="answer.length === 2; else unicodeEmoji">
                                                <div
                                                    class="align-items-center d-flex justify-content-center"
                                                    [ngClass]="{ emoji: answer.length === 2 }"
                                                >
                                                    <span
                                                        #messageText
                                                        (click)="openTagged(messageText, message.answer)"
                                                        [innerHTML]="answer | memberTag | ellipsisWord: charCount"
                                                    ></span>
                                                </div>
                                            </ng-container>
                                            <ng-template #unicodeEmoji>
                                                <div class="align-items-center d-flex justify-content-center emoji">
                                                    <span #messageText (click)="openTagged(messageText, message.answer)">
                                                        {{ answer }}</span
                                                    >
                                                </div>
                                            </ng-template>
                                        </ng-container>
                                        <!-- <ng-container *ngIf="answer | emoji; else showMsgCard">
                                        <div class="align-items-center d-flex justify-content-center emoji">
                                            <span #messageText (click)="openTagged(messageText, message.answer)"> {{
                                                answer }}</span>
                                        </div>
                                    </ng-container> -->
                                        <!-- Single emoji block: Reciver -->

                                        <ng-template #showMsgCard>
                                            <span *ngIf="memberTags">
                                                <span *ngFor="let item of messageParsing">
                                                    <span
                                                        #messageText
                                                        (click)="openTagged(messageText, message.answer, item[item.length - 1])"
                                                        *ngIf="item.slice(0, randomString.length) === randomString"
                                                        [innerHTML]="item.slice(randomString.length, item.length - 12)"
                                                    >
                                                    </span>
                                                    <span
                                                        *ngIf="item.slice(0, randomString.length) !== randomString"
                                                        [innerHTML]="item | memberTag"
                                                    >
                                                    </span>
                                                </span>
                                            </span>
                                            <!--   THIS ONE   -->
                                            <span
                                                *ngIf="!memberTags"
                                                #messageText
                                                (click)="openTagged(messageText, message.answer)"
                                                [innerHTML]="answer | memberTag | ellipsisWord: charCount"
                                            >
                                            </span>
                                        </ng-template>

                                        <ng-container *ngIf="(answer | memberTag).length > MSG_BATCH_SIZE">
                                            <span
                                                class="show-message"
                                                (click)="showMessage(charCount + MSG_BATCH_SIZE)"
                                                *ngIf="charCount <= answer.length"
                                                >Read More</span
                                            >
                                            <span
                                                class="show-message"
                                                (click)="showMessage(MSG_BATCH_SIZE)"
                                                *ngIf="charCount > answer.length"
                                                >Read Less</span
                                            >
                                        </ng-container>
                                    </p>
                                </ng-container>
                                <ng-container *ngIf="!message?.attachments">
                                    <p class="message-text text mb-0" *ngIf="message.answer as answer">
                                        <!-- Single emoji block Sender-->
                                        <ng-container *ngIf="answer | emoji; else showMsgCard">
                                            <div class="align-items-center d-flex justify-content-center emoji">
                                                <span #messageText (click)="openTagged(messageText, message.answer)"> {{ answer }}</span>
                                            </div>
                                        </ng-container>
                                        <!-- Single emoji block Sender-->

                                        <ng-template #showMsgCard>
                                            <!-- <span #messageText (click)="openTagged(messageText, message.answer)" [innerHTML]="answer | memberTag | ellipsisWord: charCount"></span> -->
                                            <span *ngIf="memberTags">
                                                <span *ngFor="let item of messageParsing">
                                                    <span
                                                        #messageText
                                                        (click)="openTagged(messageText, message.answer, item[item.length - 1])"
                                                        *ngIf="item.slice(0, randomString.length) === randomString"
                                                        [innerHTML]="item.slice(randomString.length, item.length - 12)"
                                                    >
                                                    </span>
                                                    <span
                                                        *ngIf="item.slice(0, randomString.length) !== randomString"
                                                        [innerHTML]="item | memberTag"
                                                    >
                                                    </span>
                                                </span>
                                            </span>
                                            <span
                                                *ngIf="!memberTags"
                                                #messageText
                                                (click)="openTagged(messageText, message.answer)"
                                                [innerHTML]="answer | memberTag | ellipsisWord: charCount"
                                            >
                                                <!-- {{ answer | ellipsisWord: charCount }} -->
                                            </span>
                                        </ng-template>

                                        <ng-container *ngIf="(answer | memberTag).length > MSG_BATCH_SIZE">
                                            <span
                                                class="show-message"
                                                (click)="showMessage(charCount + MSG_BATCH_SIZE)"
                                                *ngIf="charCount <= answer.length"
                                                >Read More</span
                                            >
                                            <span
                                                class="show-message"
                                                (click)="showMessage(MSG_BATCH_SIZE)"
                                                *ngIf="charCount > answer.length"
                                                >Read Less</span
                                            >
                                        </ng-container>
                                    </p>
                                </ng-container>
                            </ng-template>
                        </ng-template>
                    </ng-template>
                </ng-template>

                <div
                    class="timestamp fs12 mb-0 ms-4"
                    *ngIf="
                        !(
                            !message?.attachments_uploaded &&
                            message?.attachments?.length == 0 &&
                            message?.id != null &&
                            !message?.deleted_by
                        )
                    "
                >
                    <div class="edited-wrapper" *ngIf="message.is_edited">Edited <span class="dot"></span></div>

                    <span
                        [ngClass]="{
                            'no-message':
                                !message?.answer &&
                                !message?.deleted_by &&
                                !message?.text &&
                                message?.attachments &&
                                message?.attachments?.length > 0
                        }"
                    >
                        {{ message?.created_at }}
                    </span>
                </div>
                <ng-container *ngIf="message.preview?.chatroom?.deleted_by; else buttonBlock"></ng-container>
                <ng-template #buttonBlock>
                    <div class="preview-button" *ngIf="message?.preview as preview" (click)="redirectUrl($event)">
                        <h3>{{ preview?.action }}</h3>
                    </div>
                </ng-template>

                <div class="chat-bubble-tri"></div>
            </ng-template>
        </div>
        <emoji-mart
            class="emoji-selection"
            (emojiSelect)="addEmoji($event)"
            (clickOutside)="closeEmojiPicker($event)"
            *ngIf="showEmojiPicker"
            [darkMode]="false"
            [showPreview]="false"
            [enableSearch]="false"
            [ngClass]="{ 'outgoing-msg-emoji': isMyMsg }"
            id="emoji-picker"
            title="Pick your emoji…"
        ></emoji-mart>
        <ng-container *ngIf="!isIntroductionsRoom && !message.deleted_by && displayMessageOptions">
            <div
                class="message-actions d-flex align-items-center"
                [ngClass]="{ 'flex-row-reverse': !isMyMsg, visible: optionMenu && optionMenu.menuOpen }"
                *ngIf="
                    !(!message?.attachments_uploaded && message?.attachments?.length == 0 && message?.id != null && !message?.deleted_by) &&
                    !((chatroomService.hideRetryButton$$ | async)[message.id] && currentlyLoadingMediaId) &&
                    !(chatroomService.sendImageFilesEmitted$$ | async).value
                "
            >
                <img
                    src="https://web.likeminds.community/assets/images/png/options.png"
                    alt="Option"
                    [mat-menu-trigger-for]="selfMsgMenu"
                    #optionMenu="matMenuTrigger"
                    [ngClass]="{ opened: optionMenu.menuOpen }"
                    *ngIf="
                        !(!message?.attachments_uploaded && message?.attachments?.length == 0 && !message?.deleted_by) &&
                        message?.state !== 1
                    "
                />
                <mat-menu #selfMsgMenu="matMenu" class="mat-message-action">
                    <ng-template matMenuContent>
                        <ng-container *ngIf="isMyMsg; else otherMsg">
                            <button mat-menu-item *ngIf="message?.answer" (click)="editMessage()">Edit Response</button>
                            <button mat-menu-item (click)="deleteMessage()">Delete Response</button>
                        </ng-container>
                        <ng-template #otherMsg>
                            <button mat-menu-item (click)="reportMessage()">Report message</button>
                        </ng-template>
                    </ng-template>
                </mat-menu>
                <img
                    src="https://web.likeminds.community/assets/images/png/add-emoji.png"
                    (click)="toggleEmojiPicker($event, message?.id)"
                />

                <img src="https://web.likeminds.community/assets/images/png/reply.png" alt="Reply" (click)="replyToMsg()" />
            </div>
        </ng-container>
    </div>

    <div
        *ngIf="reactions?.length > 0 && !message?.deleted_by && !(!message?.attachments_uploaded && message?.attachments?.length == 0)"
        [ngClass]="{ 'my-msg-reactions': isMyMsg }"
        class="reactions"
    >
        <div *ngFor="let reaction of reactions" class="reaction" (click)="showEmojiList(reaction)">
            <span class="reaction__emoji">{{ reaction?.emoji }}</span>
            <span class="reaction__count">{{ reaction?.value }}</span>
        </div>
        <span *ngIf="hasMoreReactions" class="reactions__ellipsis" (click)="showEmojiList('All')"
            ><img src="https://web.likeminds.community/assets/images/png/options.png"
        /></span>
    </div>
</div>
