.upload-download-wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}
.download-csv {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    color: #979797;
    cursor: pointer;
}
.upload-csv {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    text-align: right;
    color: var(--text_links_colour, #00897b);
    margin-bottom: 30px;
    cursor: pointer;
}

.send-btn-wrapper {
    width: 30%;
    height: 48px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #ffffff;
    margin-top: 24px;
    .send-btn-cta {
        height: 100%;
        width: 100%;
        border-radius: 4px;
        opacity: 1;
        padding: 0;
        border: 0;
        background: var(--buttons_icons_colour, #00897b);
        color: #ffffff;
    }
}

.email-input {
    width: 100%;
    background: #ffffff;
    box-sizing: border-box;
    border-radius: 4px;
    height: 48px;
    margin-bottom: 10px !important;
    font-size: 15px;
    line-height: 18px;
}

.text-area-input {
    padding: 20px;
    min-height: 245px;
    background: #ffffff;
    border: 1px solid rgba(72, 79, 103, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
}

.mat-chip-error {
    color: #fb1609;
    background: rgba(251, 22, 9, 0.1);
}
.invite-member {
    .icon-error-style {
        color: #fb1609;
        opacity: 1;
    }
}
