<div class="chatroom-panel h-100" (drop)="dropImage($event)" (dragover)="dragImage($event)" [ngClass]="{ show: chatroomId }">
    <div class="media-gallery-popup" *ngIf="closeMediaPopupSub">
        <app-media-gallery-popup-v2 (popupClosed)="closeMediaPopup()" [data]="galleryPopupData"> </app-media-gallery-popup-v2>
    </div>

    <div class="chatroom-content d-flex flex-column h-100">
        <app-chatroom-header
            [communityId]="communityId"
            [chatroomId]="chatroomId"
            [chatroomActions]="chatroomActions"
            [conversationUsers]="conversationUsers"
            [chatroom]="chatroom"
            [community]="community"
            (unfollowChatroom)="followChatroom($event)"
            (block)="refresh()"
            [participantsCount]="chatroomParticipantsCount"
            class="chatroom-header"
            *ngIf="user"
        >
        </app-chatroom-header>

        <section
            class="chatroom-wrapper text-center"
            *ngIf="!showMembershipExpiredMessage || screenType === 'mobile'; else membershipExpiredMessage"
        >
            <div class="chatroom-card d-flex w-100" #chatroomCard>
                <div class="chatbox-wrapper">
                    <!-- <ng-container *ngIf="chatroom && memberState">
                                <chatroom-overlay
                                    [chatroom]="chatroom"
                                    [community]="community"
                                    [admins]="admins"
                                    [user]="user"
                                    [isOverlayActive]="isOverlayActive"
                                    (closeOverlay)="isOverlayActive = $event"
                                    [memberState]="memberState"
                                    [ajExpired]="ajExpired"
                                ></chatroom-overlay>
                            </ng-container> -->

                    <ng-container *ngIf="(chatroom && memberState && user) || showNewChatroomCommunityDetail">
                        <chatroom-overlay
                            [chatroom]="chatroom"
                            [community]="community"
                            [admins]="admins"
                            [user]="user"
                            [isOverlayActive]="isOverlayActive"
                            (closeOverlay)="isOverlayActive = $event"
                            [memberState]="memberState"
                            [ajExpired]="ajExpired"
                            [showNewChatroomCommunityDetail]="showNewChatroomCommunityDetail"
                        >
                        </chatroom-overlay>
                    </ng-container>

                    <ng-container *ngIf="showVotersList">
                        <app-voters-list [pollId]="votePollId" [chatroomId]="chatroomId"></app-voters-list>
                    </ng-container>

                    <div
                        class="scrolling-content"
                        #myScrollContainer
                        appScrollDirective
                        infiniteScroll
                        [infiniteScrollUpDistance]="3"
                        [infiniteScrollDistance]="2"
                        [infiniteScrollThrottle]="150"
                        (scrolledUp)="onScrolledUp()"
                        (scrolled)="onScrolledDown()"
                        [scrollWindow]="false"
                        [ngStyle]="{ opacity: showChatConversation && !isLoading ? 1 : 0 }"
                    >
                        <div
                            *ngIf="!showIntroThreadView && !showAttachmentScreenProps?.show"
                            class="chatroom-section"
                            [ngStyle]="{ marginBottom: chatroomInputHeight && !screenType === 'mobile' }"
                        >
                            <app-conversations
                                #conversation
                                [user]="user"
                                [isLoading]="isLoading"
                                [memberState]="memberState"
                                [chatroom]="chatroom"
                                [community]="community"
                                (followChatroom)="followChatroom($event)"
                                (muteChatroom)="muteChatroom($event)"
                                (showMediaPopup)="openMediaGallery($event)"
                                [preventScrollToBottom]="preventScrollToBottom"
                                (preventScrollToBottomEvent)="preventScrollToBottomFunc($event)"
                            >
                            </app-conversations>
                        </div>

                        <!-- Intro-room thread view -->
                        <div
                            *ngIf="showIntroThreadView"
                            class="chatroom-section h-100"
                            [ngStyle]="{ marginBottom: chatroomInputHeight && !screenType === 'mobile' }"
                            infiniteScroll
                            [infiniteScrollDistance]="2"
                            [infiniteScrollThrottle]="50"
                            (scrolled)="onScrollIntroThread()"
                            [scrollWindow]="false"
                        >
                            <app-thread-conversations
                                #conversation
                                [user]="user"
                                [isLoading]="isLoading"
                                [memberState]="memberState"
                                [chatroom]="chatroom"
                                [community]="community"
                                (followChatroom)="followChatroom($event)"
                                (muteChatroom)="muteChatroom($event)"
                                (showMediaPopup)="openMediaGallery($event)"
                                [preventScrollToBottom]="preventScrollToBottom"
                                (preventScrollToBottomEvent)="preventScrollToBottomFunc($event)"
                            >
                            </app-thread-conversations>
                        </div>
                    </div>

                    <!-- New Chatroom created -->
                    <ng-container *ngIf="showTagButton">
                        <div class="d-flex justify-content-center align-items-center p-2" *ngIf="newRoom === 'tagmembers'">
                            <!-- <div class="btnTagMember d-flex" (click)="tagUserData = '@'"> -->
                            <div class="btnTagMember d-flex" (click)="tagUser()">
                                <div class="tagIcon">&nbsp;</div>
                                <div class="text-start">Tag '@' <span>members</span></div>
                            </div>
                        </div>
                    </ng-container>
                    <!-- New Chatroom created -->

                    <div
                        class="chatroom-input"
                        *ngIf="chatroom && memberState && !(chatroom.type === 2 && !memberState?.state) && !showAttachmentScreenProps.show"
                    >
                        <div *ngIf="showApproveRejectDM" class="approve-reject-dm">
                            <div>
                                The sender has sent you a direct messaging request. Approve or respond with a message to get connected.
                                Rejecting this request will not notify the sender.
                            </div>
                            <div class="actions">
                                <button (click)="approveDMRequest()">Approve</button>
                                <button (click)="showRejectModal()">Reject</button>
                            </div>
                        </div>
                        <div
                            class="first-chat-info"
                            *ngIf="conversations?.length === 1 && chatroom.type === 10 && chatroom.is_private_member === true"
                        >
                            Send a DM request to {{ chatroom?.chatroom_with_user?.name }} by sending your 1st message.
                        </div>
                        <chatroom-input
                            [user]="user"
                            [memberState]="memberState"
                            [chatroom]="chatroom"
                            [community]="community"
                            [urlParams]="urlParams"
                            (approve)="approveDMRequest()"
                            (setChatroomInputHeight)="setChatroomInputHeight($event)"
                            (addNewMessage)="addNewMessage($event)"
                            [fetchShareUrl]="fetchShareUrl"
                            [tagUserData]="tagUserData"
                            [ajExpired]="ajExpired"
                            [droppedFiles]="dropFiles"
                            *ngIf="!warning_input"
                        >
                        </chatroom-input>
                        <div *ngIf="warning_input">
                            <hr />
                            <div class="warning-input">
                                {{ warning_input }}
                            </div>
                        </div>
                    </div>
                    <div
                        *ngIf="!showIntroThreadView"
                        class="go-to-bottom"
                        (click)="scrollToBottom()"
                        [ngClass]="{ active: showGoToBottom || newMessageCount }"
                    >
                        <div class="count-div" *ngIf="newMessageCount">{{ newMessageCount > 99 ? '99+' : newMessageCount }}</div>
                        <img src="https://web.likeminds.community/assets/images/svg/scroll-down.svg" alt="scroll-down" />
                    </div>
                </div>
            </div>
        </section>

        <ng-template #membershipExpiredMessage>
            <div class="h-100 d-flex flex-column errormessageContainer align-items-center justify-content-end">
                <div class="errormessageContainerTop d-flex flex-column align-items-center justify-content-center">
                    <img src="https://web.likeminds.community/assets/images/png/exclamation.png" alt="Danger Image" />
                    <div class="errormessageContainerTop__heading">Renew community membership</div>
                    <div class="errormessageContainerTop__subHeading">
                        This chat room is open for the subscribed members of the community only. Your subscription to “Data Science Gurgaon”
                        community has expired. Buy a membership plan of your choice to access this chat room.
                    </div>
                    <div class="errormessageContainerTop__button" (click)="openRenewal()">RENEW MEMBERSHIP</div>
                </div>
                <div class="errormessageContainerBottom">
                    <p>
                        Responding is disabled.<span class="link" (click)="openRenewal()"> Buy a membership plan</span> of your choice to
                        access this chat room.
                    </p>
                </div>
            </div>
        </ng-template>
    </div>
</div>
