.wrapper {
    background-color: #ffffff !important;
    position: relative;
    height: calc(100vh);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10000;
    .header {
        height: 48px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &__likeminds-logo {
            display: block;
            margin: 10px 35px;
        }

        &__download-link-section {
            margin: 10px 35px;
            display: block;
        }
    }
    .community-button {
        color: white;
        border-radius: 20px;
        display: block;
        padding: 11px;
        margin: 0 auto;
        border: none;
        width: 30%;
        width: 250px;
        background-color: #028a7c;
    }

    .body__section {
        padding-top: 25px;
        // height: calc(100vh - 135px);
        .body__section-inner {
            width: 100%;
            .body__container {
                padding-top: 20px;
                .tick {
                    background: url('../../../../assets/images/png/tick-inside-circle.png') no-repeat;
                    height: 181px;
                    width: 181px;
                    margin: 0 auto;
                }

                .explore__heading {
                    color: #666666;
                }
                .invoice__para {
                    padding-top: 24px;
                    color: #666666;
                    cursor: pointer;
                }
                .body_heading_renew {
                    margin-bottom: 0px;
                }
                .body_heading_paymentId {
                    padding-top: 12px;
                    color: #666666;
                }
            }
        }
        .mail_holder {
            position: absolute;
            bottom: 10px;
            .mail_para {
                text-align: center;
                .mail {
                    color: #028a7c;
                    text-align: center;
                    cursor: pointer;
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .wrapper {
        height: 100vh !important;
        width: 100vw;
        .body__section .body__section-inner .body__container {
            margin-top: 40px;
            height: calc(100vh - 125px);
            overflow: auto;
            padding-bottom: 30px;
            .tick {
                margin-top: 50px;
            }
        }

        .header {
            &__download-link-section {
                margin: 5px 35px;
                display: none;
            }
        }
    }
}
