section.modal-small {
    p.heading {
        height: 20px;
        color: rgba(0, 0, 0, 0.87);
    }
    p.content {
        font-size: 15px;
        color: #4a4a4a;
    }
    p.otp-title {
        color: #9b9b9b;
    }
    p.link {
        color: #009688;
    }
    p.timer {
        color: #06c3af;
    }
    button {
        box-shadow: 0 0 8px 0 rgba(0, 67, 34, 0.4);
        background-color: #00897b;
        height: 48px;
    }
    button:disabled {
        background-color: rgba(0, 0, 0, 0.08);
        box-shadow: none;
    }
}

@media screen and (max-width: 600px) {
    section.modal-small {
        div.body,
        .body p.heading {
            margin-right: 0 !important;
            margin-top: 0 !important;
            margin-left: 0 !important;
        }
    }
}
