<section class="popup">
    <div class="cross-div">
        <span class="close-icon"><img src="https://web.likeminds.community/assets/images/svg/cross.svg" (click)="close()" /></span>
    </div>

    <div class="heading">
        <p class="text-heading">Member is reported for review</p>
    </div>

    <div class="body">
        <p class="text-body">Our team will look into your feedback and will take appropriate action on this member.</p>
        <p class="text-body">In the meantime, you can see our <a href="/terms">terms</a> & <a href="/privacy">privacy policies.</a></p>
    </div>

    <div class="button-div">
        <button (click)="close()">OK</button>
    </div>
</section>
