<div class="modDialog">
    <p class="modDialog__title">Remove from community?</p>
    <p class="modDialog__content">
        The user would not be able to access any private data of community. Member's community profile and into room would be removed.
    </p>
    <div class="d-flex flex-column modDialog__selectBox">
        <select class="form-select selectBox" aria-label="Default select example" #mySelect (change)="onOptionsSelected(mySelect.value)">
            <option selected>Select reason for removal*</option>
            <option [value]="reason.name" *ngFor="let reason of reasons">{{ reason.name }}</option>
        </select>

        <input type="text" class="form-control inputBox" *ngIf="otherReason" [(ngModel)]="other" />
    </div>
    <div class="modDialog__btnBox">
        <button type="button" class="modDialog__btnBox--confirm text-uppercase btn-custom" (click)="confirm()">Confirm</button>
        <button type="button" class="modDialog__btnBox--cancel text-uppercase btn-custom" (click)="close()">Cancel</button>
    </div>
</div>
