@import '../../../../../assets/scss/abstracts/functions';
@import '../../../../../assets/scss/abstracts/mixin';
@import '../../../../../assets/scss/abstracts/variables';

.modDialog {
    @include max-width(335px);
    @include padding-top(23px);
    @include padding-right(23px);
    @include padding-bottom(18px);
    @include padding-left(23px);

    &__title {
        color: $dark;
        @include font-size(16px);
        font-weight: 500;
        @include line-height(22px);
    }

    &__content {
        color: $gray-medium;
        @include font-size(15px);
        @include line-height(22px);
    }
    &__selectBox {
        .selectBox {
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
            @include border-radius(8px);
            @include height(48px);
        }
        .inputBox {
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
            @include border-radius(8px);
            @include margin-top(10px);
            @include height(48px);
        }
    }

    &__btnBox {
        @include margin-top(30px);

        .btn-custom {
            border: 0 none;
            background: none;
            float: right;
            @include margin-left(20px);
        }
        &--cancel {
            color: $gray-medium;
            @include font-size(15px);
            @include line-height(22px);
            font-weight: 500;
        }
        &--confirm {
            color: var(--buttons_icons_colour, #00897b);
            @include font-size(15px);
            @include line-height(22px);
            font-weight: 500;
        }
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .modDialog {
        padding: 0px;
    }
}
