.dialogue-box {
    padding: 11px;
    overflow: auto;
    max-height: 77vh;

    #plan-arrow {
        width: 100px;
        height: 7px;
        background: #c7c7c7;
        border-radius: 4px;
        margin: 0px auto;
        margin-top: -10px;
        margin-bottom: 16px;
    }

    .heading {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        /* identical to box height, or 112% */
        color: #000000;
    }
    .sub-heading {
        padding-top: 8px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 15px;
        line-height: 22px;
        color: #4a4a4a;
        margin-bottom: 24px;
    }

    .checkbox-holder {
        background: rgba(6, 195, 175, 0.04);
        border: 1px solid rgba(6, 195, 175, 0.3);
        box-sizing: border-box;
        border-radius: 8px;
        margin-bottom: 16px;
        .container {
            display: block;
            position: relative;
            padding-left: 35px;
            margin-bottom: 12px;
            cursor: pointer;
            font-size: 22px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            padding-top: 11px;
            .label_ {
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                /* identical to box height, or 157% */
                color: #000000;
                margin-left: 11px;
            }
            .sub-label_ {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                line-height: 22px;
                color: rgba(60, 60, 67, 0.6);
                margin-left: 11px;
            }

            .top-heading {
                margin-bottom: 4px;
                .offer {
                    background: #06c3af;
                    border-radius: 4px;
                    padding: 5px 3px;
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 10px;
                    line-height: 12px;
                    color: #ffffff;
                    margin-left: -22px;
                }
                img {
                    width: 20px;
                    height: 20px;
                    z-index: 10000;
                }
            }

            .top-subheading {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 12px;
                color: #06c3af;
                margin-left: -22px;
                margin-bottom: 4px;
            }
        }

        /* Hide the browser's default checkbox */
        .container input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        /* Create a custom checkbox */
        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 18px;
            width: 18px;
            background-color: transparent;
            margin: 13px;
            border: 1px solid #666666;
            border-radius: 2px;
        }

        /* On mouse-over, add a grey background color */
        .container:hover input ~ .checkmark {
            background-color: #ccc;
        }

        /* When the checkbox is checked, add a blue background */
        .container input:checked ~ .checkmark {
            // background-color: #abb3b2;
            background: #009688;
            border-radius: none !important;
        }

        .container input:checked ~ .uncheckable {
            background: #abb3b2 !important;
            border-radius: none !important;
        }

        /* Create the checkmark/indicator (hidden when not checked) */
        .checkmark:after {
            content: '';
            position: absolute;
            display: none;
        }

        /* Show the checkmark when checked */
        .container input:checked ~ .checkmark:after {
            display: block;
        }

        /* Style the checkmark/indicator */
        .container .checkmark:after {
            left: 6px;
            top: 3px;
            width: 5px;
            height: 10px;
            border: solid white;
            border-width: 0 3px 3px 0;
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    .payment-preview {
        background: rgba(208, 216, 226, 0.3);
        border-radius: 8px;
        padding: 12px 16px 8px 16px;
        margin-bottom: 36px;

        &__box {
            border-bottom: solid 1px #d0d8e2;
            &__text {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 15px;
                line-height: 22px;
                /* identical to box height, or 147% */
                color: #666666;
                margin-bottom: 10px;

                .arrow {
                    border: solid #666666;
                    border-width: 0 2px 2px 0;
                    display: inline-block;
                    padding: 3px;
                    margin-left: 5px;
                    margin-bottom: 2px;
                    color: #666666;
                }
                .down {
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                }

                .up {
                    transform: rotate(225deg);
                    -webkit-transform: rotate(225deg);
                }
            }

            .all-plans {
                width: 100%;
                max-height: 249px;
                top: 30px;
                background-color: white;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 4px;
                overflow-y: scroll;

                .plans-container {
                    border-bottom: solid 1px #c4c4c4;
                    padding: 15px;
                    width: 100%;
                    cursor: pointer;
                    .plan-div {
                        &__heading {
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 15px;
                            line-height: 22px;
                            color: #000000;
                        }
                        &__subheading {
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 14px;
                            color: #06c3af;

                            .strike-cost {
                                text-decoration: line-through;
                                color: #666666;
                                margin-right: 5px;
                            }
                        }
                    }
                }

                .plans-container:hover {
                    background-color: rgba($color: #000000, $alpha: 0.1);
                }
            }
        }

        .total_cost {
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 22px;
            color: #000000;
            padding-top: 8px;
        }
    }

    .payment-button {
        background: #00897b;
        border-radius: 22px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 14px;
        /* identical to box height */
        text-align: center;
        letter-spacing: 0.5px;
        color: #ffffff;
        padding: 13px 0px;
        cursor: pointer;
    }
}

.plans-div {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 100000;
    background-color: white;
    left: 0;
    bottom: 0;

    .renewal-page {
        overflow: auto;

        .header {
            // height: 48px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            &__likeminds-logo {
                display: block;
                margin: 10px 35px;
            }

            &__download-link-section {
                margin: 10px 35px;
                display: block;
            }
        }

        .flex-container {
            padding: 0;
            margin: 0;
            list-style: none;

            -ms-box-orient: horizontal;
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -moz-flex;
            display: -webkit-flex;
            display: flex;
        }

        .stretch {
            -webkit-align-items: stretch;
            align-items: stretch;
        }

        .sub__header {
            background: #00897b;
            display: flex;
            z-index: 2000000 !important;
            color: white !important;

            .sub__header-content {
                padding: 8.5px 20px;
                display: flex;
                justify-content: stretch;

                .image-div {
                    //display: none;
                    margin-right: 10px;
                }

                .profile-img {
                    height: 40px;
                    width: auto;
                    width: 40px;
                    border-radius: 50%;
                }

                .community-name-div {
                    display: block;
                    margin-left: 10px;
                    display: flex;
                    align-content: space-between;
                    flex-direction: column;

                    .membership-div {
                        font-size: 18px;
                        margin-bottom: 3px;
                    }
                    .community-name {
                        font-size: 15px;
                        align-content: center;
                    }
                }
            }
        }

        .body__container {
            background-color: #d0d8e2;
            flex-grow: 1;
            height: calc(100vh - 60px);
            overflow: auto;
            z-index: 2000000 !important;
            .top__section {
                padding: 20px;
                &--heading {
                    font-size: 20px;
                    margin-bottom: 5px;
                    font-weight: normal;
                }
                .top__section-subheading {
                    color: #666666;
                }
            }

            .main__content {
                .card {
                    background-color: #ffffff;
                    border-radius: 8px;
                    position: relative;
                    margin-bottom: 18px;

                    .recommended {
                        position: absolute;
                        left: -6px;
                        top: -6px;
                        padding: 2px 0px;
                        border-radius: 5px 0px 0px 5px;

                        .arrow-right {
                            position: absolute;
                            right: -12px;
                            top: 0;
                            width: 0;
                            height: 0;
                            border-top: 12px solid transparent;
                            border-bottom: 12px solid transparent;
                            border-left: 12px solid #00897b;
                        }
                    }

                    .plan-header {
                        .plan-subheader {
                            .plan__name {
                                margin-bottom: 0px !important;
                                font-size: 24px;
                                font-weight: 500;
                            }
                            .prev__price {
                                text-decoration: line-through;
                                color: #666666;
                            }
                            .gst {
                                color: gray;
                            }
                            .cost {
                                color: #04c4b1 !important;
                                font-size: 16px;
                            }
                        }
                    }

                    .list-container {
                        ul li {
                            font-size: 16px;
                            padding-bottom: 20px;
                            color: #666666;
                            margin-left: 9px;
                        }
                    }

                    .plan-image {
                        height: 68px;
                        width: auto;
                    }

                    .razorpay-button-holder {
                        display: none;
                        height: 8%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        div {
                            width: 100%;
                            .razorpay-button {
                                color: white;
                                border-radius: 20px;
                                display: block;
                                padding: 11px;
                                margin: 0 auto;
                                border: none;
                                width: 99%;
                                background-color: #028a7c;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 425px) {
        .body__container {
            background-color: #d0d8e2;
            flex-grow: 1;
            overflow: auto;
            .top__section {
                padding: 8px !important;
                margin-top: 11px;
            }
        }
    }

    .save-wrapper {
        margin-left: 16px;
        .save {
            background: var(--text_links_colour, #06c3af) !important;
            padding: 4px 8px !important;
            font-size: 12px;
            font-weight: 700;
        }
    }

    .tooltip {
        opacity: 1 !important;
    }
}

::ng-deep .mat-dialog-container {
    overflow: inherit !important;
}
