.join-community {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding: 20px;

    .text-heading {
        margin: 10px;
        font-size: 15px;
        font-weight: bold;
    }

    .text-body {
        margin: 5px 10px;
        font-size: 14px;
        color: #7d7d7d;
    }

    .community-card {
        display: flex;
        flex-direction: row;
        border: none;
        border-radius: 10px;
        background: #e8e8e8;
        padding: 15px;
        width: 90%;
        margin: 25px auto;

        .community-image {
            img {
                height: 55px;
                width: 55px;
                border-radius: 50%;
                margin-right: 15px;
            }
        }

        .community-detail {
            text-align: left;
            font-weight: bold;
            line-height: 18px;
            width: 80%;

            .community-name {
                color: #000000;
                size: 10px;
            }

            .community-member-name {
                color: #727272;
                size: 10px;
            }

            .members-count {
                color: #727272;
                size: 10px;
            }
        }

        .next-icon {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        
            span {
                size: 40px;
                color: #727272;
            }
        }
    }

    .join-button {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        button {
            width: 60%;
            height: 50px;
            border: none;
            border-radius: 25px;
            background: #075e54;
            font-size: 14px;
            font-weight: bold;
            padding: 5px 2px 5px 2px;
            color: #ffffff;
            margin: 10px;
            margin-bottom: 20px;
        }
    }
    
}