<div class="voters-list-wrap">
    <div class="header">
        <div class="page-heading">
            <p>Voters for this option</p>
        </div>
        <div class="close-btn cursor-pointer">
            <img src="https://web.likeminds.community/assets/images/svg/cross.svg" alt="close" (click)="closeVoterList()" />
        </div>
    </div>

    <div class="scrollable-content" *ngIf="votersList?.length > 0">
        <div class="members-count">
            <p>{{ votersList?.length }} members</p>
        </div>
        <div class="members-list">
            <ng-container *ngFor="let member of votersList">
                <div class="member-container pb-3">
                    <div class="member-image"><img src="{{ member?.image_url }}" /></div>
                    <div class="member-detail">
                        <p class="name">
                            {{ member?.name
                            }}<span *ngIf="member?.custom_title" class="special_text font-weight-normal">{{ member?.custom_title }}</span>
                        </p>
                        <ng-container *ngIf="member?.custom_intro_text; else value">
                            <p class="description">{{ member?.custom_intro_text }}</p>
                        </ng-container>
                        <ng-template #value>
                            <p class="description" *ngIf="member?.question_answers; else memberSince">
                                {{ member?.question_answers[0]?.value }}
                            </p>
                            <ng-template>
                                <p class="description">{{ member?.member_since }}</p>
                            </ng-template>
                        </ng-template>

                        <!-- <p class="description" *ngIf="member?.is_owner">{{member?.custom_intro_text}}</p>
                        <p class="description" *ngIf="!member?.is_owner">{{ member?.question_answers[0]?.value }}</p> -->
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
