@import '../../../../../assets/scss/abstracts/functions';
@import '../../../../../assets/scss/abstracts/mixin';
@import '../../../../../assets/scss/abstracts/variables';

::-webkit-scrollbar {
    width: 6px;
    display: block;
}

/* Track */
::-webkit-scrollbar-track {
    background: #cfd8e2;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.home-feed-search-list {
    max-height: calc(100vh - 77px);

    &__loading,
    &__no-results {
        margin-top: calc(20%);
        text-align: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        color: #484f67;
    }

    &__chatrooms {
        border-bottom: 1px solid #d0d8e2;
        &__chatroom {
            cursor: pointer;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            color: #484f67;
            text-align: left;
            margin: 24px 16px 0;
            padding-bottom: 24px;
            border-bottom: 0.5px solid rgba(72, 79, 103, 0.2);

            @include text-overflow-ellipsis();

            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            &:last-child {
                border-bottom: none;
            }
        }
    }

    &__messages {
        text-align: left;
        &__heading {
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            color: #484f67;
            opacity: 0.5;

            padding: 16px 0 0 16px;
        }

        &__message {
            margin: 16px 16px 0;
            padding-bottom: 16px;
            border-bottom: 0.5px solid rgba(72, 79, 103, 0.2);
            cursor: pointer;

            .title {
                display: flex;
                justify-content: space-between;
                &__chatroom-name {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 20px;
                    color: #484f67;
                    margin-bottom: 2px;
                }

                &__time {
                    font-weight: 400;
                    font-size: 11px;
                    line-height: 16px;
                    color: #484f67;
                    opacity: 0.5;
                }
            }

            .text {
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: #484f67;

                @include text-overflow-ellipsis();
            }

            .not-joined {
                font-style: italic;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                color: #797b82;
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .home-feed-search-list {
        overflow-y: auto;
        max-height: calc(100vh - 115px);
        height: calc(100vh - 115px);
        width: 100vw;

        &__loading,
        &__no-results {
            margin-top: calc(50%);
            text-align: center;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
            color: #484f67;
        }
    }
}
