<nav
    *ngIf="user"
    class="nav flex-column left-panel"
    [ngStyle]="{ 'z-index': (chatroomService.mediaToBeUploaded$$ | async).length > 0 ? '0' : '99' }"
>
    <div class="left-panel__top">
        <div [routerLink]="[homeFeedRoute]" routerLinkActive="active-route" (click)="markActive()" class="left-panel__top--nav-item">
            <div class="item-container">
                <img title="Home Feed" src="https://web.likeminds.community/assets/images/svg/home_page_home-icon.svg" />
            </div>
        </div>
        <div [routerLink]="[communityFeedRoute]" routerLinkActive="active-route" (click)="markActive()" class="left-panel__top--nav-item">
            <div class="item-container">
                <div *ngIf="currentCommunityData?.collabcard_unseen" class="new-chatroom-count">
                    {{ currentCommunityData?.collabcard_unseen > 9 ? '9+' : currentCommunityData?.collabcard_unseen }}
                </div>
                <img title="Explore" src="https://web.likeminds.community/assets/images/svg/home_page_community-icon-1.svg" />
            </div>
        </div>

        <!-- <div class="left-panel__top--nav-item">
            <div class="item-container">
                <img
                    title="Options"
                    src="https://web.likeminds.community/assets/images/svg/home_page_options-icon.svg"
                    [matMenuTriggerFor]="leftPanelCard"
                />
                <div *ngIf="subscriptionRedBubbleStatus" class="red-dot"></div>
                <div class="align-self-center attachment">
                    <mat-menu #leftPanelCard xPosition="after" yPosition="below" class="left-panel-options">
                        <ng-container *ngFor="let action of actions">
                            <p class="left-panel-option first" (click)="takeAction(action)">{{ action.title }}</p>
                        </ng-container>
                        <p class="left-panel-option" *ngIf="subscriptionStatus" (click)="takeAction({ title: subscriptionStatusValue })">
                            Subscription status
                            <img
                                *ngIf="subscriptionRedBubbleStatus"
                                style="margin-left: 11px"
                                src="https://web.likeminds.community/assets/images/svg/home_page_mobile_subscription.svg"
                                alt="alert-btn"
                            />
                        </p>
                    </mat-menu>
                </div>
            </div>
        </div> -->
    </div>
</nav>
