.home-page-profile-drawer {
    width: 361px;
    padding: 16px 24px 16px 16px;
    position: relative;

    &-top {
        .profile-drawer-cancel-btn {
            position: absolute;
            right: 24px;
            top: 16px;
            cursor: pointer;
        }
        .image-container {
            text-align: center;
            position: relative;
            margin-top: 58px;
            .profile-image {
                width: 100px;
                height: 100px;
                border-radius: 50%;
            }

            label {
                position: absolute;
                bottom: -6px;
                left: calc(53%);
                cursor: pointer;
                input {
                    display: none;
                }
            }
        }

        .profile-details {
            margin-top: 61px;
            .profile-detail {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                padding-bottom: 24px;
                margin-bottom: 24px;

                .details {
                    flex: 1;
                    margin: 0 27px;

                    &__heading {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 12px;
                        line-height: 16px;
                        color: #484f67;
                        opacity: 0.5;
                    }

                    &__value {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 20px;
                        color: #484f67;
                    }
                }

                .profile-drawer-border-bottom {
                    height: 1px;
                    background: #dae1ee;
                    opacity: 0.5;
                    width: 285px;
                    position: absolute;
                    bottom: 0;
                    margin: 0 16px 0 44px;
                }
            }
        }

        .power_btn {
            margin-top: 51px;
            background: #ffffff;
            border: 1px solid #dae1ee;
            box-sizing: border-box;
            border-radius: 8px;
            text-align: center;
            padding: 13px 0 11px;

            cursor: pointer;

            img {
                margin-right: 17.81px;
            }
        }
    }

    &-bottom {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 11px;
        line-height: 15px;
        text-align: center;
        color: #484f67;
        opacity: 0.5;

        position: fixed;
        bottom: 0;
        padding-bottom: 10px;
    }
}
