.image-cropper-wrapper {
    display: flex;
    flex-direction: column;
    text-align: center;
    max-height: 500px;

    .cross-div {
        margin-right: -10px;

        .close-icon {
            width: 20px;
            height: 20px;

            img {
                float: right;
            }
        }
    }

    .header {
        font-size: 16px;
        margin: 10px 0 20px;
    }

    .image-cropper {
        max-width: 400px;
        max-height: 400px;
        margin: 10px 0;
    }

    .save-button {
        margin: 15px 0 -10px;

        button {
            width: 40%;
            border: none;
            border-radius: 25px;
            background: #075e54;
            color: #ffffff;
            font-size: 13px;
            padding: 5px 15px;
        }
    }
}
