html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: border-box;
}
.multipart-image-group-large {
    height: 54px;
    width: 54px;
    display: flex;
    overflow: hidden;
    border-radius: 50%; 

    .border-left{
      border-left: 1px solid #fff;
    }
    .border-bottom{
      border-bottom: 1px solid #fff;
    }

    .wid-100{
      width: 100%;
    }
    .name{
      display: flex; 
      font-weight: bold; 
      justify-content: center;
      align-items: center;
      color: #fff;
      width: 100%;
      height: 54px;
    }

    .nameInit-left, .nameInit{
      display: flex; 
      font-weight: bold; 
      justify-content: center;
      align-items: center;
      color: #fff;
      width: 100%;
      min-height: 27px;
      span{
        font-size: 0.578rem;
      }
    }
    .nameInit-left{
      height: 100%;
    }
    .image-single {
        object-fit: cover;
        height: 100%;
        width: 100%; 
    }

    .leftImgName{
      height: 54px;
    }
    .rightTwoImg{
      img{
        width: 100%;
        height: 27px;
      }
    }
     
}


.multipart-image-group-small {
  height: 42px;
  width: 42px;
  display: flex;
  overflow: hidden;
  border-radius: 50%;

    .border-left{
      border-left: 1px solid #fff; 
    }
    .border-bottom{
      border-bottom: 1px solid #fff;
    } 
    .wid-100{
      width: 100%;
    }
    .name{
      display: flex; 
      font-weight: bold; 
      justify-content: center;
      align-items: center;
      color: #fff;
      width: 100%;
      height: 54px;
    }
    .nameInit-left, .nameInit{
      display: flex;
      font-size: 9px;
      font-weight: bold;
      letter-spacing: 0.5px;
      justify-content: center;
      align-items: center;
      min-height: 21px;
      color: #fff;
      width: 100%;
      span{
        font-size: 0.578rem;
      }
    }
    .nameInit-left{
      height: 100%;
    }

  .image-single {
      object-fit: cover;
      height: 100%;
      width: 100%;
  }

  .leftImgName{
    height: 42px;
  }
  .rightTwoImg{
    img{
      width: 100%;
      height: 22px;
    }
  }
   
}
