<div class="poll-details">
    <img src="https://web.likeminds.community/assets/images/svg/poll-room-icon.svg" alt="poll-room-icon" />
    <ng-container *ngIf="poll_ended">
        <div class="duration-inactive">Poll Ended</div>
    </ng-container>
    <ng-container *ngIf="!poll_ended">
        <div class="duration-active">Ends in {{ time_remaining }}</div>
    </ng-container>
</div>

<div class="poll-question">
    <p class="question">{{ message.answer }}</p>
    <p class="answer-type" [ngSwitch]="message?.multiple_select_state">
        <ng-container *ngSwitchCase="0"> *Select exactly {{ message?.multiple_select_no }} options </ng-container>
        <ng-container *ngSwitchCase="1"> *Select at max {{ message?.multiple_select_no }} options </ng-container>
        <ng-container *ngSwitchCase="2"> *Select at least {{ message?.multiple_select_no }} options </ng-container>
    </p>
</div>

<div class="poll-options">
    <ng-container *ngFor="let option of pollOptions">
        <app-poll-option-button
            [option]="option"
            [answered]="is_answered"
            [isAnonymous]="message.is_anonymous"
            [pollWasAnswered]="pollWasAnswered"
            [communityId]="message.community_id"
            [pollSubmitted]="pollSubmitted"
            [addOption]="message.allow_add_option"
            [user]="user"
            [singleAnswered]="single_answered"
            [isSubmitable]="isSubmitable"
            [pollType]="message.poll_type"
            [message]="message"
            [pollEnded]="poll_ended"
            (clickPollButton)="markAnswer($event)"
            (clickVotersButton)="openVotersList($event)"
            class="cursor-pointer"
        >
        </app-poll-option-button>
    </ng-container>
    <ng-container *ngIf="!poll_ended">
        <ng-container
            *ngIf="((message.poll_type === 0 && !is_answered) || (message.poll_type === 1 && !poll_ended)) && message.allow_add_option"
        >
            <button class="add-option-button" (click)="addNewOption()">+ Add an option</button>
        </ng-container>
    </ng-container>
</div>

<div class="poll-members-count" role="button" (click)="openVotersList()">
    <p>{{ answerText }}</p>
</div>

<ng-container *ngIf="!poll_ended">
    <ng-container *ngIf="!single_answered">
        <ng-container *ngIf="(message.poll_type === 0 && !is_answered) || (message.poll_type === 1 && !poll_ended && isEditable)">
            <button
                class="submit-button"
                [ngClass]="{ 'button-active': isSubmitable, 'button-inactive': !isSubmitable }"
                (click)="submitVote()"
            >
                <img src="https://web.likeminds.community/assets/images/svg/clicking.svg" />SUBMIT VOTE
            </button>
        </ng-container>

        <ng-container *ngIf="message.poll_type === 1 && !poll_ended && !isEditable">
            <button class="submit-button button-active" (click)="enableEdit()">
                <img src="https://web.likeminds.community/assets/images/svg/clicking.svg" />EDIT VOTE
            </button>
        </ng-container>
    </ng-container>
</ng-container>
