@import '../../../../../assets/scss/abstracts/mixin';
@import '../../../../../assets/scss/abstracts/variables';

.poll-details {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        @include height(24px);
        @include width(24px);
        transform: scale(1.3);
    }

    .duration-active {
        background: #06c3af;
        border-radius: 25px;
        color: #ffffff;
        padding: 5px 10px 5px 10px;
    }

    .duration-inactive {
        background: #ff0000;
        border-radius: 25px;
        color: #ffffff;
        padding: 5px 10px 5px 10px;
    }
}

.poll-question {
    display: flex;
    flex-direction: column;

    .question {
        margin-top: 8px;
        font-size: 15px;
        max-width: 270px;
        word-wrap: break-word;
    }

    .answer-type {
        margin: 0;
        color: #808080;
        font-size: 12px;
    }
}

.poll-options {
    display: flex;
    flex-direction: column;
    margin-top: 8px;

    .add-option-button {
        margin-top: 5px;
        width: 100%;
        height: 46px;
        border: none;
        border: solid 1px #D3D3D3;
        border-radius: 8px;
        background: #ffffff;
        font-size: 14px;
        padding: 8px;
    }
}

.poll-members-count {
    margin-top: 10px;
    color:  #06c3af;
    font-size: 12px;
}

.submit-button {
    width: 80%;
    border: none;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0);
    font-size: 12px;
    margin-top: 8px;
    padding: 5px 2px 5px 2px;

    img {
        width: 19px;
        height: 19px;
        margin-right: 5px; 
    }
}

.button-active {
    border: solid 1px #06c3af;
    color: #06c3af;
}

.button-inactive {
    border: solid 1px #c0c0c0;
    color: #c0c0c0;
}