.heading {
    font-size: 16px;
    font-weight: 500;
}
.subHeading {
    margin-top: 5px;
    color: #666666;
}
button {
    color: var(--buttons_icons_colour, #00897b);
    background-color: transparent;
    border: none;
    margin: 8px;
}
