.add-plan-header{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
    color: rgba(0, 0, 0, 0.87);
}

.add-plan-content{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #4A4A4A;
    margin-bottom: 36px;
    .contact{

        text-decoration: none;
        color: var(--text_links_colour, #01897B);
    }

}

.add-plan-btn{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-align: right;
    letter-spacing: 0.464286px;
    color: var(--buttons_icons_colour, #009688);
    text-transform: uppercase;
    a{
        text-decoration: none;
        color: var(--buttons_icons_colour, #009688);
    }
}

.space-bottom{
    margin-bottom: 36px;
}

.cancel_color{
    color: #9B9B9B;
}