<ng-container *ngIf="showNewChatroomCommunityDetail; else communityFeedPanel">
    <app-community-detail
        (hideOverlay)="hideOverlay($event)"
        [communityId]="communityId"
        [community]="community"
        [subscribedCommunity]="subscribedCommunity"
        [memberState]="memberState"
        [membershipState]="membership_state"
        [showNewChatroomCommunityDetail]="showNewChatroomCommunityDetail"
        [membershipIsExpired]="membershipIsExpired"
    ></app-community-detail>
</ng-container>

<ng-template #communityFeedPanel>
    <div *ngIf="!showMySubscription" class="community-feed-panel">
        <div *ngIf="chatrooms?.length >= 0 && showCommunityFeedHeader" class="community-feed-panel__header">
            <div class="community-feed-panel__header--title">Explore</div>
        </div>
        <div class="community-feed-panel__search-div">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" />
        </div>
        <ng-container *ngIf="!showChatroomDetail">
            <div class="community-feed-panel__warningBanner">
                <div class="d-flex justify-content-between align-items-center w-100" *ngIf="warningBanner && screenType != 'mobile'">
                    <div class="d-flex px-2 py-3 align-items-center">
                        <img src="https://web.likeminds.community/assets/images/svg/warning-exclamation.svg" class="warning-img" />
                        <div class="text-center mx-2">{{ warningBanner }}</div>
                    </div>
                    <div (click)="openRenewal()" class="renew-div cursor-pointer">
                        <b>RENEW</b>
                    </div>
                </div>
            </div>
        </ng-container>
        <div class="community-feed-panel__filters">
            <div class="community-feed-panel__filters--left">
                <button mat-button [matMenuTriggerFor]="menu">
                    {{ selectedFilterOption }}
                    <img src="https://web.likeminds.community/assets/images/svg/explore-feed_down-arrow.svg" alt="filter" />
                </button>
                <mat-menu #menu="matMenu" class="filters-menu">
                    <div (click)="filterChatrooms($event)">
                        <button mat-menu-item>Newest</button>
                        <button mat-menu-item>Recently active</button>
                        <button mat-menu-item>Most participants</button>
                        <button mat-menu-item>Most messages</button>
                    </div>
                </mat-menu>
            </div>
            <div *ngIf="pinnedChatroomIcon" class="community-feed-panel__filters--right">
                <ng-container *ngIf="pinnedChatroomsView; else showPinnedIcon">
                    <div (click)="togglePinnedChatrooms(false)" class="pinned-chip">
                        <app-explore-feed-pinned-chip></app-explore-feed-pinned-chip>
                        Pinned
                        <app-explore-feed-pinned-chip-cross></app-explore-feed-pinned-chip-cross>
                    </div>
                </ng-container>

                <ng-template #showPinnedIcon>
                    <img
                        (click)="togglePinnedChatrooms(true)"
                        src="https://web.likeminds.community/assets/images/svg/explore-feed_pinned.svg"
                        alt="pinned"
                    />
                </ng-template>
            </div>
        </div>
        <div
            class="community-feed-panel__body"
            #communityFeedScrollContainer
            infiniteScroll
            [infiniteScrollDistance]="2"
            [infiniteScrollThrottle]="50"
            (scrolled)="onScroll()"
            [scrollWindow]="false"
        >
            <ng-container *ngIf="showUpdateProfile">
                <div class="community-feed-panel__body__updateProfile">
                    <div class="community-feed-panel__body__updateProfile__text">Update your community profile</div>
                    <div
                        class="community-feed-panel__body__updateProfile__button text-uppercase cursor-pointer"
                        routerLink="/community/{{ community?.id }}/profile/{{ user?.id }}"
                    >
                        update now
                    </div>
                </div>
            </ng-container>

            <ng-container *ngIf="showChatroomDetail">
                <div class="detailDiv">
                    <app-community-detail
                        (hideOverlay)="hideOverlay($event)"
                        [communityId]="communityId"
                        [community]="community"
                        [subscribedCommunity]="subscribedCommunity"
                        [memberState]="memberState"
                        [membershipState]="membership_state"
                    ></app-community-detail>
                </div>
            </ng-container>
            <ng-container *ngIf="pinnedChatroomsView; else nonPinnedChatrooms">
                <ng-container *ngFor="let pinnedChatroom of pinnedChatrooms; let indexOfelement = index">
                    <app-community-feed-chatroom-card
                        [indexOfElementProp]="indexOfelement"
                        [chatroom]="pinnedChatroom"
                        [isPinnedChatroom]="true"
                        [isPinnedList]="isPinnedList"
                        (click)="markRead(pinnedChatroom)"
                        [membershipState]="membership_state"
                    >
                    </app-community-feed-chatroom-card>
                </ng-container>
            </ng-container>
            <ng-template #nonPinnedChatrooms>
                <ng-container *ngFor="let chatroom of chatrooms">
                    <app-community-feed-chatroom-card
                        [chatroom]="chatroom"
                        [isPinnedList]="isPinnedList"
                        (click)="markRead(chatroom)"
                        [membershipState]="membership_state"
                    >
                    </app-community-feed-chatroom-card>
                </ng-container>
            </ng-template>
        </div>
        <div class="createSection" *ngIf="createSectionState">
            <app-create-chatroom class="w-100 h-auto" (closeSectionComponent)="createSectionComponent($event)"></app-create-chatroom>
        </div>
    </div>

    <!-- <div
        class="new-chatroom-button"
        [ngClass]="{ 'new-chatroom-button-space-below': mySubscribedCommunitiesMeta[community?.id]?.membership_state }"
        *ngIf="showChatroomList && !showMySubscription"
    >
        <ng-container *ngFor="let rights of memberState.member_rights">
            <ng-container *ngIf="rights.title === 'Create chat rooms' && rights.is_selected">
                <button (click)="createSectionComponent('open')"><span class="img float-start"></span> NEW CHAT ROOM</button>
            </ng-container>
        </ng-container>
    </div> -->

    <div *ngIf="showMySubscription">
        <app-my-subscriptions [user]="user" [mySubscription]="mySubscription"></app-my-subscriptions>
    </div>
</ng-template>

<div *ngIf="warningBanner && screenType == 'mobile'" class="warning-banner d-flex align-items-center">
    <div>
        {{ warningBanner }}
    </div>
    <div (click)="openRenewal()" class="renew-div cursor-pointer">
        <b>RENEW</b>
    </div>
</div>

<div *ngIf="showMySubscription">
    <app-my-subscriptions [user]="user" [mySubscription]="mySubscription"></app-my-subscriptions>
</div>
