<section class="submission-successful">
    <div *ngIf="isSheet">
        <span class="close-icon"><img src="https://web.likeminds.community/assets/images/svg/cross.svg" (click)="close.emit()" /></span>
    </div>

    <div>
        <span class="check-icon"><img src="https://web.likeminds.community/assets/images/svg/done.svg" /></span>
    </div>

    <div><p class="successful-text-heading">Vote submission successful</p></div>

    <div>
        <p class="successful-text-body">
            Your vote has been submitted successfully. You can change and resubmit your vote anytime till the voting ends.
        </p>
    </div>

    <div class="successful-text-date">
        <ng-container *ngIf="isSheet"
            ><p>
                Results will be announced on {{ endDate }}. Use the LikeMinds app to keep track of all discussions & results.
            </p></ng-container
        >
        <ng-container *ngIf="!isSheet"
            ><p>Results will be announced when voting ends on {{ endDate }}</p></ng-container
        >
    </div>

    <div class="card-button">
        <ng-container *ngIf="isSheet"><button (click)="downloadApp()">DOWNLOAD APP</button></ng-container>
        <ng-container *ngIf="!isSheet"><button (click)="close.emit()">CONTINUE</button></ng-container>
    </div>
</section>
