.submission-successful {

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    
    .close-icon {
        width: 10px;
        height: 10px;

        img {
            float: right
        }
    }
    

    .check-icon {
        img {
            background: #06c3af;
            border-radius: 50%;
            height: 70px;
            width: 70px;
            margin: 20px; 
            padding: 15px;
        }
    }

    .successful-text-heading {
        font-weight: bolder;
        margin: 5px 10px;
    }

    .successful-text-body {
        color: #727272;
        margin: 5px 15px;
    }

    .successful-text-date {
        color: #06c3af;
        margin: 5px 15px;
    }

    .card-button {
        button {
            width: 60%;
            height: 50px;
            border: none;
            border-radius: 25px;
            background: #075e54;
            font-size: 12px;
            padding: 5px 2px 5px 2px;
            color: #ffffff;
            margin: 10px;
            margin-bottom: 20px;
        }
    }
    
}