.community-detail-wrapper {
    text-align: center;

    .sub-heading {
        margin-top: 36px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        /* identical to box height, or 136% */
        text-align: center;
        color: #666666;
    }

    p .dot-seperator {
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #9b9b9b;
    }

    // .managed-span {
    //     position: relative;
    //     padding-bottom: 8px;
    //     &::after {
    //         content: '';
    //         position: absolute;
    //         bottom: 0;
    //         left: calc(50% - 25px);
    //         width: 50px;
    //         height: 1px;
    //         background-color: #d0d8e2;
    //     }
    // }

    span.member-count {
        white-space: nowrap;
        cursor: pointer;
    }

    .request-pending-info {
        padding: 6px;
        margin: 0 45px;
        border-radius: 16px;
        border: solid 1px #d0d8e2;
        background-color: #000000;
    }
    .expired-info {
        padding: 6px;
        width: 45%;
        margin: 0 auto;
        border-radius: 16px;
        border: solid 1px #d0d8e2;
        background-color: #000000;
    }

    .leave-community-btn {
        color: gray;
        width: 40%;
    }
    .may_be_later {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #9b9b9b;
        margin-top: 12px;
    }
    .login-para {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #9b9b9b;
        padding-top: 12px;
    }
    .color-green {
        color: #00897b !important;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        padding-top: 12px;
    }
}
