.login-container { 
    padding: 40px 0px;

    .card { 
        width: 100%;
        .card-header{
            background: #ffffff;
            border: 0 none;
            margin: 0;
            padding: 0; 
            text-align: center;
            max-width: 320px;
            width: 100%;

            img{
                height: 64px;
                width: 64px;
            }
            h2{
                color: #1d1d1d;
                font-size: 20px;
                font-weight: 500;
                font-family: Roboto;
                margin: 12px 0
            }
        }
         
        .login-form {
            max-width: 320px;
            width: 90%;
            margin: 0 auto;

            .input-group {
                box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.19);
                input {
                    height: 100%;
                }
                input:focus {
                    outline: none !important;
                }
            }
            .input-group.invalid {
                border: solid 1px #d0021b !important;
                input::placeholder {
                    color: #d0021b !important;
                }
            }
            .upload-container,
            .user-img {
                width: 100px;
                height: 100px;
                object-fit:cover;
            }
            .upload-container {
                border-radius: 50%;
            }
            img.edit-icon {
                top: 60px;
                right: -5px;
                cursor: pointer;
            }

            .seperator {
                position: relative;
                border-top: 1px solid #b2bcc7;
                height: 1px;
                width: 150px;  
                margin: 50px auto 0;
                .seperator-text {
                    background-color: #ffffff;
                    padding: 0 25px;
                    margin: -11px 0 0 40px;
                    position: absolute;
                }
            }

            .btn-create{
                padding: 11px;
                margin: 35px 0 -5px 0;
                background-color: var(--buttons_icons_colour, #00897b);
            }

        } 
        .social-buttons {
            width: 100%;
            padding-top: 35px;
        } 
    }
}

// @media screen and (max-width: 1440px) {
//     .login-container {
//         .card {
//             width: 70%;
//             .content p {
//                 width: 37%;
//             }
//         }
//     }
// }

// @media screen and (max-width: 1250px) {
//     .login-container {
//         .card {
//             width: 85%;
//             .content p {
//                 width: 43%;
//             }
//         }
//     }
// }

@media screen and (max-width: 768px) {
    .login-container {
        .card {
            width: 75%;
            .content p {
                width: 70%;
            }
            .login-form .upload-container {
                width: 120px;
                height: 120px;
                margin-left: 25px !important;
            }
            .login-form .upload-container {
                .user-img {
                    width: 120px;
                    height: 120px;
                }
                .edit-icon {
                    top: 75px;
                }
            }
            .login-form,
            .social-buttons,
            .seperator-container {
                width: 100%;
            }
            .social-buttons {
                padding-top: 0;
            }
            .seperator-container {
                margin: 50px 0;
                .seperator {
                    border-top: 1px solid #b2bcc7;
                    height: 2px;
                    width: 200px;
                    .seperator-text {
                        padding: 0 25px;
                        margin-left: 30%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .login-container {
        p.hide-sm {
            display: none;
        }
        .card {
            width: 100%;
            padding-right: 30px !important;
            padding-left: 30px !important;
            background-color: transparent;
            box-shadow: none;
            border: none;
            .row {
                margin-top: 0 !important;
            }

            .card-header{
                margin-top: 50px;
            }

            .content {
                margin-top: 8px !important;
                margin-bottom: 8px !important;
                p {
                    width: 100%;
                }
            }
            .seperator-container {
                margin: 15px 0;
                .seperator {
                    .seperator-text {
                        background-color: #d0d8e2;
                    }
                }
            }
            .login-form {
                form .input-group.email {
                    margin-top: 10px !important;
                    margin-bottom: 10px !important;
                }
                .input-group .input-group-prepend .input-group-text {
                    background-color: #ffffff !important;
                }
                .upload-container {
                    background-color: #ffffff;
                }
            }
            .login-form .upload-container {
                width: 90px;
                height: 90px;
                margin-left: 10px !important;
            }
            .login-form .upload-container {
                .user-img {
                    width: 90px;
                    height: 90px;
                }
                .edit-icon {
                    top: 60px;
                }
            }
            .social-buttons {
                google-button,
                linkedin-button,
                facebook-button {
                    display: block;
                    width: 98%;
                    margin: auto;
                }
            }
        }
    }
}
