.community-detail-wrapper {
    text-align: center;

    .sub-heading {
        margin-top: 36px;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 19px;
        /* identical to box height, or 136% */
        text-align: center;
        color: #666666;
    }

    p .dot-seperator {
        display: inline-block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #9b9b9b;
    }

    // .managed-span {
    //     position: relative;
    //     padding-bottom: 8px;
    //     &::after {
    //         content: '';
    //         position: absolute;
    //         bottom: 0;
    //         left: calc(50% - 25px);
    //         width: 50px;
    //         height: 1px;
    //         background-color: #d0d8e2;
    //     }
    // }

    span.member-count {
        white-space: nowrap;
        cursor: pointer;
    }

    .request-pending-info {
        padding: 6px;
        margin: 0 45px;
        border-radius: 16px;
        border: solid 1px #d0d8e2;
        background-color: #000000;
    }
    .expired-info {
        padding: 6px;
        width: 45%;
        margin: 0 auto;
        border-radius: 16px;
        border: solid 1px #d0d8e2;
        background-color: #000000;
    }

    .leave-community-btn {
        color: gray;
        width: 40%;
    }
    .may_be_later {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        color: #9b9b9b;
        margin-top: 12px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 6px;
    display: block;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f5f5f5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #999;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #666;
}

.home-feed-panel {
    background: #fff;
    &__search-div {
        display: none;
        padding: 14px 16px 12px 12px;
        color: rgba(60, 60, 67, 0.6);
        font-size: 17px;
        border-bottom: 1px solid #acb7c0;

        input {
            background-color: rgba(118, 118, 128, 0.12);
            border-radius: 10px;
            padding: 5px 10px;
            border: none;
        }
    }

    &__community-feed {
        display: none;
    }

    &__body {
        // height: calc(100vh - 192px);
        height: calc(100vh - 48px);
        overflow-y: auto;
        padding-bottom: 120px;

        &__warning-banner {
            background: #484f67;
            border-radius: 1px;

            font-family: Roboto;
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            color: #ffffff;

            padding: 10px;
            padding-right: 10px;
            padding-left: 15px;

            &__warning {
                width: 277px;
            }

            .renew-div {
                margin-right: 4px;

                font-weight: 500;
                line-height: 16px;
                text-align: right;
                letter-spacing: 0.2px;

                color: var(--text_links_colour, #0ad260);
            }
        }

        &__no-chatrooms {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 0 15px;
            max-width: 360px;

            &__image {
                img {
                    height: 100px;
                    width: 100px;
                    margin: 30px 0 15px;
                }
            }

            &__heading {
                font-size: 12px;
                font-weight: 500;
                color: #000000;
                margin-bottom: 4px;
            }

            &__body {
                font-size: 12px;
                color: #9b9b9b;
                margin-bottom: 25px;
            }
        }

        &__followed-chatrooms-heading {
            padding: 20px 16px;

            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;

            border-bottom: 1px solid #dae1ee;
            color: #484f67;
        }

        &__followed-but-inactive-heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 13px;
            font-weight: 500;
            color: #666666;
            padding: 15px 16px;
            background: #ffffff;
            align-items: center;
            max-width: 360px;
            width: 100%;

            img {
                width: 14px;
                height: 14px;
            }

            .inverted-arrow {
                transform: rotate(180deg);
            }
        }

        &__info-text {
            font-weight: 400;
            font-size: 11px;
            line-height: 15px;
            text-align: center;
            color: #9b9b9b;
            margin-top: 9px;
        }
    }

    .createSection {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background: #ffffff;
        z-index: 99;
        transition: 0.5s all ease-in-out;
    }

    &__dm-wrapper {
        display: none;
    }
}

.new-chatroom-button {
    text-align: center;

    button {
        border-radius: 24px;
        position: fixed;
        bottom: 30px;
        border: none;
        background-color: var(--buttons_icons_colour, #00897b);
        box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.16);
        padding: 15px 25px;
        height: 48px;
        left: 174px !important;

        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 13px;
        line-height: 15px;

        color: #ffffff;

        display: flex;
        align-items: center;

        .img {
            width: 31px;
            height: 21px;
            margin-right: 16px;
            background: url(https://web.likeminds.community/assets/images/svg/new-chatroom-white.svg) no-repeat;
        }
    }
}

@media screen and (max-width: 425px) {
    .home-feed-panel {
        position: relative;

        &__community-feed {
            display: block;
            height: 70px;
            padding: 0 16.28px 0 26px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .community-icon {
                width: 35px;
                height: 35px;
            }

            .details {
                flex: 1;
                margin-left: 23px;

                &__heading {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 16px;
                    line-height: 20px;
                    letter-spacing: 0.12px;
                    color: #333333;
                }

                &__value {
                    font-family: Roboto;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 16px;
                    color: #666666;
                }
            }

            .new-count {
                background: var(--text_links_colour, #0ad260);
                border-radius: 10px;
                font-family: Roboto;
                font-style: normal;
                font-weight: 500;
                font-size: 11px;
                line-height: 16px;
                text-align: right;
                color: #ffffff;
                padding: 4px 8px;
            }

            .arrow-icon {
                width: 11.46px;
                height: 9.98px;
                margin-left: 9.74px;
            }
        }

        &__body {
            position: relative;
            // height: calc(100vh - 60px);
            height: calc(100vh - 134px);

            &__followed-chatrooms-heading {
                padding: 16px 16px 0;
                border-bottom: none;
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                line-height: 18px;
                color: #333333;

                display: none;
            }

            &__followed-but-inactive-heading {
                max-width: 425px;
            }
        }

        .new-chatroom-button-space-below {
            position: fixed;
            bottom: 128px !important;
            width: 100%;
            right: 20px;
            display: flex;
            justify-content: flex-end;
            button {
                background-color: #0ad260;
                color: #ffffff;
                position: static;
                width: 203px;
            }
        }

        &__warning-banner {
            position: fixed;
            bottom: 59px;
            width: 100%;
            left: 0;
            background: #000;
            color: #fff;
            padding: 10px;

            .renew-div {
                color: #04c4b1;
                margin-right: 4px;
                font-size: 13.5px;
            }
        }
        &__dm-wrapper {
            display: flex;
            padding: 12px 14px 12px 18px;
            border-bottom: 8px solid rgba(208, 216, 226, 0.5);
            gap: 12px;
            align-items: center;
            cursor: pointer;
            .dm-icon-image {
                img {
                    width: 27px;
                    height: 27px;
                }
            }

            .dm-text-content {
                &__main {
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 18px;
                    color: #000000;
                }
                &__helper {
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 16px;
                    color: #666666;
                }
            }
            .dm-notif-popup {
                margin-left: auto;
                &__new-tag {
                    background: var(--buttons_icons_colour, #ff0000);
                    border-radius: 9px;
                    font-weight: 700;
                    font-size: 10px;
                    line-height: 12px;
                    color: #ffffff;
                    padding: 5px;
                }
                &__count-tag {
                    background: var(--buttons_icons_colour, #0ad260);
                    border-radius: 50%;
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 15px;
                    letter-spacing: 0.155844px;
                    color: #ffffff;
                    padding: 5px;
                    width: auto;
                    text-align: center;
                    min-width: 25px;
                    min-height: 25px;
                }
            }
            .arrow-icon {
                width: 11.46px;
                height: 9.98px;
                margin-left: 9.74px;
            }
        }
    }

    .new-chatroom-button {
        position: fixed;
        bottom: 66px;
        right: 20px;
        button {
            background-color: var(--buttons_icons_colour, #0ad260);
            color: #ffffff;
            position: static;
            left: none !important;

            .img {
                background: url(https://web.likeminds.community/assets/images/svg/new-chatroom-white.svg);
            }
        }
    }
}
