<section class="popup">
    <div class="cross-div">
        <span class="close-icon"><img src="https://web.likeminds.community/assets/images/svg/cross.svg" (click)="close()" /></span>
    </div>

    <div class="heading">
        <p class="text-heading">Anonymous Poll</p>
    </div>

    <div class="body">
        <p class="text-body">This being an anonymous poll, the names of the voters can not be disclosed.</p>
    </div>

    <div class="button-div">
        <button (click)="close()">OKAY</button>
    </div>
</section>
