.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    .close-icon {
        width: 10px;
        height: 10px;

        img {
            float: right
        }
    }

    .text-heading {
        font-weight: bolder;
        margin: 10px 15px;
    }

    .text-body {
        color: #727272;
        margin: 5px 15px;
    }

    .button-div {

        button {
            height: 50px;
            border: none;
            background: transparent;
            font-size: 15px;
            color: #06c3af;
            margin: 15px;
            float: right
        }
    }
}