
.aop-wrapper{
    position: relative;
}
.aop-header{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #33384A;
    margin-bottom: 39px;
}

.cross{
    position: absolute;
    top: 0;
    right: 4px;
}

.aop-content{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #484F67;
    margin-bottom: 48px;
}


.aop-cta{
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
    padding:16px 63px;
    background: var(--buttons_icons_colour,#00897B);
    border-radius: 4px;
    width: 145px;
    height: 48px;
    margin: 0 auto;
    cursor: pointer;
}

