.referral_box {
    img {
        height: 211px;
        width: 404px;
        margin-right: 40px;
    }

    &__info {
        width: 400px;
        max-height: 360px;
        overflow-y: scroll;
        &__heading {
            font-weight: 500 !important;
            margin-bottom: 8px;
        }

        .para {
            color: #666666;
        }

        &__box {
            &__sub_heading {
                font-weight: 500 !important;
                margin-bottom: 2px;
            }
        }
    }

    &__btn {
        color: #fff;
        text-align: center;
        width: 100%;
        border-radius: 22px;
        padding: 10px;
        background-color: var(--buttons_icons_colour, #00897b);
        margin-top: 28px;
    }
}
