<app-mobile-image-cropper
    *ngIf="showImageCropper && screenType === 'mobile'"
    (close)="closeCropper($event)"
    (update)="updateProfile($event)"
    [event]="showImageCropperEvent"
    [member_id]="userId"
    [community_id]="communityId"
></app-mobile-image-cropper>
<section class="community-question-container col-md-12 text-center" style="background-color: #d0d8e2">
    <div class="row">
        <p class="hide-sm w-100 my-4 c0 fs20">Edit Profile</p>
        <img src="https://web.likeminds.community/assets/images/png/bg-questions.png" class="w-100 show-sm" alt="Questions form image" />
        <div class="card mx-auto rounded px-3">
            <div class="content">
                <div class="community-admin-info">
                    <p class="c6 fs14 mt-3 mb-0">Edit your profile that you created for this community</p>
                </div>
                <div class="image-container bg-theme1 mx-auto">
                    <img
                        *ngIf="memberState?.member?.image_url"
                        class="rounded-circle"
                        [src]="memberState?.member?.image_url"
                        onerror="this.src='http://via.placeholder.com/300x180'"
                        alt="{{ memberState?.member?.name }}"
                    />
                    <div *ngIf="screenType === 'mobile'">
                        <img
                            class="camera"
                            (click)="openImageChooser()"
                            src="https://web.likeminds.community/assets/images/svg/camera.svg"
                        />
                    </div>
                    <label *ngIf="screenType != 'mobile'">
                        <img class="camera" src="https://web.likeminds.community/assets/images/svg/camera.svg" />
                        <input
                            #imageFileUpload
                            type="file"
                            accept="image/*"
                            (change)="uploadImage($event)"
                            (click)="imageFileUpload.value = ''"
                        />
                    </label>
                </div>
            </div>

            <div class="question-form mt-5">
                <form #questionForm="ngForm" *ngIf="questions && questions.length">
                    <ng-container *ngFor="let question of questions; let i = index; trackBy: trackByQuestionState">
                        <!-- Short answer input -->
                        <text-input
                            *ngIf="question?.state === 0"
                            [question]="question"
                            [formSubmitted]="formSubmitted"
                            (setFieldValidity)="setFieldValidity(i, $event)"
                            (setFieldValue)="setFieldValue(i, $event)"
                        >
                        </text-input>

                        <!-- Single choice select box -->
                        <choice-single
                            *ngIf="question?.state === 1"
                            [question]="question"
                            [formSubmitted]="formSubmitted"
                            (setFieldValidity)="setFieldValidity(i, $event)"
                            (setFieldValue)="setFieldValue(i, $event)"
                        ></choice-single>

                        <!-- Multiple choice select box -->
                        <choice-multiple
                            *ngIf="question?.state === 2"
                            [question]="question"
                            [formSubmitted]="formSubmitted"
                            (setFieldValidity)="setFieldValidity(i, $event)"
                            (setFieldValue)="setFieldValue(i, $event)"
                        ></choice-multiple>

                        <!-- Text area input -->
                        <paragraph
                            *ngIf="question?.state === 4"
                            [question]="question"
                            [formSubmitted]="formSubmitted"
                            (setFieldValidity)="setFieldValidity(i, $event)"
                            (setFieldValue)="setFieldValue(i, $event)"
                        >
                        </paragraph>

                        <!-- File Upload Input -->
                        <file-input
                            *ngIf="question?.state === 5"
                            [question]="question"
                            [formSubmitted]="formSubmitted"
                            [communityId]="communityId"
                            (setFieldValidity)="setFieldValidity(i, $event)"
                            (setFieldValue)="setFieldValue(i, $event)"
                            [user]="user"
                        >
                        </file-input>

                        <!-- Date time Input -->
                        <date-input
                            *ngIf="question?.state === 6"
                            [question]="question"
                            [formSubmitted]="formSubmitted"
                            (setFieldValidity)="setFieldValidity(i, $event)"
                            (setFieldValue)="setFieldValue(i, $event)"
                        >
                        </date-input>

                        <!-- Introduction Input -->
                        <introduction
                            *ngIf="question?.state === 7"
                            [question]="question"
                            [formSubmitted]="formSubmitted"
                            (setFieldValidity)="setFieldValidity(i, $event)"
                            (setFieldValue)="setFieldValue(i, $event)"
                        ></introduction>

                        <!-- Profile Link Input -->
                        <profile-link
                            *ngIf="question?.state === 8"
                            [question]="question"
                            [formSubmitted]="formSubmitted"
                            (setFieldValidity)="setFieldValidity(i, $event)"
                            (setFieldValue)="setFieldValue(i, $event)"
                        ></profile-link>

                        <!-- Email Input -->
                        <email-input
                            *ngIf="question?.state === 10"
                            [question]="question"
                            [formSubmitted]="formSubmitted"
                            (setFieldValidity)="setFieldValidity(i, $event)"
                            (setFieldValue)="setFieldValue(i, $event)"
                        ></email-input>

                        <!-- Google Search Input -->
                        <location-search
                            *ngIf="question?.state === 11"
                            [question]="question"
                            [formSubmitted]="formSubmitted"
                            (setFieldValidity)="setFieldValidity(i, $event)"
                            (setFieldValue)="setFieldValue(i, $event)"
                        ></location-search>
                    </ng-container>
                </form>
                <div class="footer mb-5 w-100">
                    <div class="button-container">
                        <button (click)="handleSubmit()" class="btn submit fs13 fw500 text-uppercase br24 cF hide-sm">SAVE</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<ng-container *ngIf="isMobileScreen">
    <div class="mobile-footer">
        <button (click)="handleSubmit()">SAVE</button>
    </div>
</ng-container>
