<!-- class="community-feed-panel-class" .  -->
<mat-sidenav-container>
    <mat-sidenav #profileDrawer mode="side" position="end" [(opened)]="drawerOpened" class="profile-drawer">
        <app-home-page-profile-drawer></app-home-page-profile-drawer>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="community-feed-wrapper">
            <app-community-feed-panel
                (notAMember)="showNotAMemberFlag($event)"
                [ngClass]="{ hide: isChatroom }"
                class="community-feed"
            ></app-community-feed-panel>

            <div class="d-sm-block w-100 chatroom-space">
                <div
                    [ngClass]="{ 'hide-fallback': showPendingStateMessage || isChatroom || screenType === 'mobile' }"
                    class="chatroom-space__fallback"
                >
                    <img
                        class="chatroom-space__fallback--image"
                        src="https://web.likeminds.community/assets/images/svg/scv_nochatroom_fallback.svg"
                    />
                    <div class="chatroom-space__fallback--text">👈 Select a chat room to start messaging</div>
                </div>
                <p class="pending-user-message" *ngIf="showPendingStateMessage && screenType !== 'mobile'">
                    Chat rooms of this community are not accessible as your request to join this community is still pending.
                </p>
                <router-outlet></router-outlet>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
