.dialogBg-none {
    background: rgba(0, 0, 0, 0.8) !important;
}

.profile-drawer {
    width: 361px;
}

.hide-fallback {
    display: none !important;
}

.home-feed-wrapper {
    display: flex;
    width: 100%;
    height: calc(100vh - 64px);
    overflow: hidden;

    .home-feed {
        background: #fff;
        height: calc(100vh - 64px);
        overflow: hidden;
        width: 360px;
        float: left;
        position: relative;
        border-right: 1px solid #dae1ee;
    }

    .chatroom-space {
        background: #fff;
        max-width: calc(100% - 360px);

        &__fallback {
            padding-top: 48px;
            text-align: center;

            &--image {
                height: 274px;
                width: 256px;
                margin-bottom: 16px;
            }

            &--text {
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: rgba(72, 79, 103, 0.7);
            }
        }
    }
}

@media screen and (max-width: 425px) {
    .home-feed-wrapper {
        display: inline;

        .home-feed {
            min-width: auto;
            width: 100%;
            height: calc(100vh - 60px);
        }

        .hide {
            display: none;
        }
        .chatroom-space {
            max-width: 100%;
        }
    }
}
