<div class="non-member-sheet-wrapper text-center">
    <div class="text-end hide-sm">
        <img
            class="cursor-pointer"
            (click)="close.emit(false)"
            src="https://web.likeminds.community/assets/images/svg/cross.svg"
            alt="Cancel"
        />
    </div>
    <div class="w-100 show-sm">
        <img src="https://web.likeminds.community/assets/images/svg/rectangle.svg" />
    </div>
    <div class="w-100 mt-4">
        <img src="https://web.likeminds.community/assets/images/svg/warning.svg" />
    </div>
    <p class="fs14 c6 my-3 mx-4">{{ message }}</p>
    <div class="community-card mx-4 d-flex justify-content-between">
        <img class="community-image align-self-center" [src]="community?.image_url" width="54" height="54" />
        <div class="detail align-self-center text-start">
            <p class="fs14 fw500 c0 mb-0">{{ community?.name }}</p>
            <p class="fs13 c6 mb-0">
                Managed by
                <ng-container *ngIf="admins && admins.length === 1">
                    {{ admins[0]?.name }}
                </ng-container>
                <ng-container *ngIf="admins && admins.length > 1"> {{ admins[0]?.name }}... +{{ admins.length - 1 }} </ng-container>
            </p>
            <p class="fs13 c6 mb-0">{{ community?.members_count }} Members</p>
        </div>
        <img class="align-self-center r0" src="https://web.likeminds.community/assets/images/svg/right-arrow-grey.svg" />
    </div>
    <button class="text-uppercase cF fs13 fw500 border-0 mt-3 mb-2" (click)="close.emit(true)">Join Community</button>
</div>
