<div class="login-tutorial d-flex">
    <img class="logo position-absolute" src="https://web.likeminds.community/assets/images/svg/logo-text.svg" alt="LikeMinds" />
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button
                type="button"
                data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
            ></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="slide">
                    <img
                        class="user-image"
                        src="https://web.likeminds.community/assets/images/svg/intro_slide_1.svg"
                        alt="LikeMinds Intro Banner"
                    />
                    <h1 class="title">Welcome to LikeMinds</h1>
                    <h3>Engage in conversations and build meaningful relationships in premium communities.</h3>
                </div>
            </div>
            <div class="carousel-item">
                <div class="slide">
                    <img
                        class="user-image"
                        src="https://web.likeminds.community/assets/images/png/login_page_image-2.png"
                        alt="LikeMinds Intro Banner"
                    />
                    <h1 class="title">Chat rooms</h1>
                    <h3>Group chats around a particular topic, event or and opinion poll.</h3>
                </div>
            </div>
            <div class="carousel-item">
                <div class="slide third">
                    <div class="images">
                        <div class="images__left">
                            <img
                                class="tutorial-img first"
                                src="https://web.likeminds.community/assets/images/png/login_page_image-3_left-1.png"
                                alt="LikeMinds Intro Banner"
                            />
                            <img
                                class="tutorial-img"
                                src="https://web.likeminds.community/assets/images/png/login_page_image-3_left-2.png"
                                alt="LikeMinds Intro Banner"
                            />
                            <img
                                class="tutorial-img"
                                src="https://web.likeminds.community/assets/images/svg/login_page_image-3_left-3.svg"
                                alt="LikeMinds Intro Banner"
                            />
                        </div>
                        <div class="images__right">
                            <img
                                class="tutorial-img"
                                src="https://web.likeminds.community/assets/images/png/login_page_image-3_right.png"
                                alt="LikeMinds Intro Banner"
                            />
                        </div>
                    </div>
                    <h1 class="title">Your Community Home</h1>
                    <h3>Access community feed, direct messages, events and joined chat rooms in a simple feed for easy access.</h3>
                </div>
            </div>
        </div>
    </div>
</div>
