.side-drawer {
    width: 300px;
    display: flex;
    flex-direction: column;
}
.footer-tabs {
    display: none;
}
.dashboard {
    width: calc(100% - 96px);
    float: left;
    margin-left: 96px;
    overflow: hidden;
}
.dashboard.dashboard_height {
    height: calc(100vh - 64px);
}

.fullWidthDashboard {
    width: 100% !important;
    margin-left: 0px !important;
}

.fullHeightSection {
    height: 100vh !important;
}

@media screen and (max-width: 425px) {
    .dashboard {
        margin-left: 0;
        width: 100%;
    }

    .dashboard.dashboard_height {
        height: calc(100% - 60px);
    }

    .fullHeightSection {
        height: 100vh !important;
    }

    .increaseHeight {
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 10;
    }

    .footer-tabs {
        display: block;
        width: 100%;
        position: fixed;
        z-index: 99;
        bottom: 0;
        left: 0;
        border-top: 2px solid #e6ebf0;
        padding: 5px 0px;
        background: #fff;

        .active .label {
            color: var(--buttons_icons_colour, #00897B);
        }

        .label {
            font-size: 14px;
            font-weight: 500;
            color: #9b9b9b;
        }

        .tab {
            position: relative;
            width: 44px;
            margin: 0 auto;
            text-align: center;
            .counts {
                position: absolute;
                right: 0px;
                top: 0px;
                width: 18px;
                height: 18px;
                background: #ff0e18;
                color: #ffffff;
                font-size: 12px;
                font-weight: 500;
                border-radius: 50%;
            }
        }

        .event-tab {
            position: relative;
            width: 44px;
            margin: 0 auto;
            text-align: center;
            .counts {
                position: absolute;
                right: 0px;
                top: 0px;
                width: 18px;
                height: 18px;
                background: #ff0e18;
                color: #ffffff;
                font-size: 12px;
                font-weight: 500;
                border-radius: 50%;
            }
        }
        .grayImg {
            filter: gray; /* IE6-9 */
            -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
            filter: grayscale(1); /* Microsoft Edge and Firefox 35+ */
        }
    }
}

.hide_dm_snackbar {
    position: absolute;
    right: 5vw;
    padding: 8px;
    background: #484f67;
    color: white;
    border-radius: 4px;
    width: 80vw;
    font-size: 12px;
    line-height: 16px;
    z-index: 99;
    top: -44px;
    &::after {
        position: absolute;
        content: '';
        width: 0px;
        height: 0px;
        border-top: 7px solid #484f67;
        border-right: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-left: 7px solid transparent;
        bottom: -13px;
        right: 10vw;
    }
}
