<div class="image-upload-wrap" [ngStyle]="{ background: screenType == 'mobile' ? 'black' : '' }">
    <div class="close-btn" *ngIf="screenType != 'mobile'" (click)="closeDialog()">
        <img src="https://web.likeminds.community/assets/images/svg/cross-tags-2.svg" alt="close" />
    </div>

    <div
        *ngIf="screenType == 'mobile'"
        class="d-flex w-100 postion-absolute align-items-center justify-content-between start-0 top-0 p-3 close-and-back-btn"
    >
        <img
            src="https://web.likeminds.community/assets/images/svg/white-back-arrow.svg"
            style="height: 28px; width: 28px"
            alt=""
            (click)="closeDialog()"
            alt=""
        />
        <img
            src="https://web.likeminds.community/assets/images/svg/delete-preview-file.svg"
            (click)="deleteFileFromPreview(undefined, selectedFile)"
        />
    </div>

    <div class="image-preview-wrap" *ngIf="selectedFile && selectedFile?.file?.type.split('/')[0] == 'image'; else audioContainer">
        <img [src]="selectedFile.blob" />
    </div>

    <ng-template #audioContainer>
        <div
            class="image-preview-wrap"
            [ngStyle]="{ padding: screenType == 'mobile' ? '0px' : '16px', 'background-color': screenType == 'mobile' ? 'black' : '' }"
        >
            <!-- FOR DESKTOP -->
            <div class="audio-container d-flex flex-column justify-content-between h-100">
                <div class="d-flex" style="padding: 1rem">
                    <img
                        src="https://web.likeminds.community/assets/images/svg/headphone.svg"
                        style="width: 2.188rem; height: 2.188rem; object-fit: contain"
                    />
                    <div
                        class="text-white d-flex flex-column align-items-start align-content-start"
                        style="padding-left: 0.625rem; text-align: start"
                    >
                        <span class="d-block audio-name"
                            >{{
                                selectedFile?.file?.name?.length > 16
                                    ? selectedFile?.file?.name?.substring(0, 16) + '..'
                                    : selectedFile?.file?.name
                            }}
                            ({{ fileSize }})</span
                        >
                        <span class="audio-duration">{{ audioDuration }}</span>
                    </div>
                </div>
                <div
                    class="d-flex align-items-start flex-column justify-content-center position-relative px-3"
                    style="
                        height: 75px;
                        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.08), rgba(0, 0, 0, 0.7));
                        height: 4.875rem;
                    "
                >
                    <div class="audio-container__inner">
                        <div class="d-flex justify-content-between" style="width: 20.563rem">
                            <div class="audio-container__inner__controls">
                                <div *ngIf="!showPauseButton" class="audio-container__inner__play-button" (click)="playPauseAudio()"></div>
                                <div *ngIf="showPauseButton" class="audio-container__inner__pause-btn d-flex justify-content-between">
                                    <div class="audio-container__inner__pause-btn__box"></div>
                                    <div class="audio-container__inner__pause-btn__box"></div>
                                </div>
                                <div class="audio-container__inner__controls__timeline">
                                    {{ utilsService.secondsTo_HH_MM_SS_converter(audio?.currentTime) }}/{{
                                        utilsService.secondsTo_HH_MM_SS_converter(audio?.duration)
                                    }}
                                </div>
                            </div>

                            <div class="d-flex justify-content-center align-items-center cursor-pointer speaker">
                                <img
                                    *ngIf="showVolume"
                                    (click)="clickVolume()"
                                    src="https://web.likeminds.community/assets/images/svg/speaker-Volume.svg"
                                    alt=""
                                />
                                <img
                                    *ngIf="!showVolume"
                                    (click)="clickVolume()"
                                    src="https://web.likeminds.community/assets/images/svg/volume-mute.svg"
                                    alt=""
                                />
                            </div>
                        </div>

                        <audio class="position-absolute" id="audio" controls controlslist="nodownload">
                            <source [src]="audioUrl" id="audioSource" type="audio/mpeg" />
                        </audio>
                    </div>
                    <div class="audio-container__timeline">
                        <div
                            [ngClass]="{
                                'audio-container__timeline__duration': files.length == 1,
                                'audio-container__timeline__duration_multiple_audio_files': files.length > 1
                            }"
                            id="rangeContainer"
                            #rangeContainer
                        >
                            <input type="range" step="1" min="0" max="100" id="range-input" value="{{ position }}" #durationSlider />
                        </div>
                    </div>
                </div>
            </div>

            <!-- FOR MOBILE -->
            <div class="audio-container-mobile d-flex align-items-center justify-content-center position-relative">
                <div class="h-100 d-flex align-items-center justify-content-center position-relativ">
                    <div class="p-2 d-flex audio-container-mobile__controls">
                        <img src="https://web.likeminds.community/assets/images/svg/headphone.svg" style="height: 36px; width: 36px" />

                        <div class="ps-3 text-white d-flex flex-column align-items-start align-content-start">
                            <span class="d-block audio-name"
                                >{{
                                    selectedFile?.file?.name?.length > 16
                                        ? selectedFile?.file?.name?.substring(0, 16) + '..'
                                        : selectedFile?.file?.name
                                }}
                                ({{ fileSize }})</span
                            >
                            <span class="audio-duration">{{ audioDuration }}</span>
                        </div>
                    </div>

                    <div class="position-relative play-pause-container d-flex align-items-center justify-content-center">
                        <img
                            src="https://web.likeminds.community/assets/images/svg/play-audio-mobile.svg"
                            *ngIf="!showPauseButton"
                            style="width: 4rem; height: 4rem"
                            alt=""
                        />
                        <div
                            *ngIf="showPauseButton"
                            class="d-flex align-items-center justify-content-center"
                            style="width: 4rem; height: 4rem; background-color: #614310; border-radius: 50%"
                            alt=""
                        >
                            <img
                                src="https://web.likeminds.community/assets/images/svg/pause-voice.svg"
                                style="width: 1.8rem; height: 1.8rem; margin-left: 2px"
                            />
                        </div>
                        <audio
                            class="position-absolute"
                            id="audio2"
                            controls
                            controlsList="nodownload novolume"
                            style="left: 10%; top: 8%; opacity: 0"
                        >
                            <source [src]="audioUrl" id="audioSource2" type="audio/mpeg" />
                        </audio>
                        <div
                            class="position-absolute"
                            style="z-index: 5; height: 50px; width: 168px; background-color: white; left: 97%; top: 11%; opacity: 0"
                        ></div>
                    </div>
                </div>
            </div>
        </div>
    </ng-template>

    <div class="message-wrap">
        <div class="send-message">
            <div class="send-btn" (click)="sendImages()">
                <app-send-icon></app-send-icon>
            </div>
            <label>
                <div class="add-image" *ngIf="selectedFile?.file.type.split('/')[0] == 'image'">
                    <app-gallery-upload-icon></app-gallery-upload-icon>
                </div>
                <div class="add-image-mobile" *ngIf="selectedFile?.file.type.split('/')[0] == 'image'">
                    <app-gallery-upload-icon></app-gallery-upload-icon>
                </div>
                <div class="add-image" *ngIf="selectedFile?.file.type.split('/')[0] == 'audio'">
                    <app-add-audio-icon></app-add-audio-icon>
                </div>
                <div class="add-image-mobile" *ngIf="selectedFile?.file.type.split('/')[0] == 'audio'">
                    <img src="https://web.likeminds.community/assets/images/svg/add-audio-white.svg" alt="add-mobile" />
                </div>
                <input
                    type="file"
                    #imageFileUpload
                    *ngIf="selectedFile?.file.type.split('/')[0] == 'image'"
                    multiple
                    accept="image/png, image/svg, image/jpg, image/jpeg"
                    (change)="uploadImage($event)"
                    (click)="imageFileUpload.value = ''"
                />
                <input
                    type="file"
                    #audioFileUpload
                    *ngIf="selectedFile?.file.type.split('/')[0] == 'audio'"
                    multiple
                    accept="audio/mpeg,audio/wav,audio/flac"
                    (change)="uploadAudio($event)"
                    (click)="audioFileUpload.value = ''"
                />
            </label>
            <div class="type-message">
                <div
                    #chatInput
                    (keydown)="disableUndoAndRedo($event)"
                    (paste)="pasteItem($event)"
                    class="input-div fs16"
                    contenteditable="true"
                    [mention]="items"
                    [mentionConfig]="mentionConfig"
                    [mentionListTemplate]="tagMemberList"
                    (searchTerm)="getSerchResult($event)"
                    (closed)="_mentionListOpen(false)"
                    (opened)="_mentionListOpen(true)"
                ></div>

                <div [ngStyle]="{ display: mentionListOpen ? 'block' : 'none' }" class="arrow-down"></div>
            </div>
        </div>

        <!-- THUMBNAIL WRAPPER -->

        <div class="thumbnail-wrapper" *ngIf="files.length > 1">
            <div
                class="thumbnail position-relative"
                *ngFor="let file of files; let i = index"
                [ngClass]="{ selected: file === selectedFile }"
                (click)="changeSelectedImage(file)"
                (mouseover)="hideCrossDeleteFunc(i, true)"
                (mouseout)="hideCrossDeleteFunc(i, false)"
            >
                <img *ngIf="file.file.type.split('/')[0] == 'image'" [src]="file.blob" alt="img" />
                <div
                    *ngIf="file.file.type.split('/')[0] == 'audio'"
                    class="thumbnail__audio_image d-flex align-items-center justify-content-center flex-column"
                >
                    <img src="https://web.likeminds.community/assets/images/svg/headphone.svg" alt="" />
                    <span
                        class="text-white"
                        style="
                            opacity: 0.8;
                            font-family: Roboto;
                            font-size: 0.75rem;
                            font-weight: normal;
                            font-stretch: normal;
                            font-style: normal;
                            line-height: normal;
                            letter-spacing: 0.1px;
                            text-align: center;
                            color: #fff;
                        "
                    >
                        {{ utilsService.secondsTo_HH_MM_SS_converter(files[i]?.duration) }}
                    </span>
                    <div
                        class="position-absolute top-0 end-0 delete-cross"
                        *ngIf="screenType != 'mobile'"
                        [ngStyle]="{ visibility: !hideCrossDeleteBtn && index == i ? 'visible' : 'hidden' }"
                        (click)="deleteFileFromPreview(i, undefined)"
                        (mouseover)="hideCrossDeleteFunc(i, true)"
                        (mouseout)="hideCrossDeleteFunc(i, false)"
                        alt=""
                    >
                        <img src="https://web.likeminds.community/assets/images/svg/cross-upload-preview.svg" />
                    </div>
                </div>
            </div>
            <label>
                <div class="imgBox imgBox2 cursor-pointer" *ngIf="isAudioFile && files?.length && files?.length < 10">
                    <div class="d-flex flex-column justify-content-center align-items-center text-white inner-imgBox2">
                        <img src="../../../../assets/images/svg/add-audio-gray.svg" alt="" />
                    </div>
                    <input
                        #audioFileUpload
                        type="file"
                        multiple
                        accept="audio/mpeg,audio/wav,audio/flac"
                        (change)="uploadImage($event)"
                        (click)="audioFileUpload.value = ''"
                    />
                </div>
            </label>
        </div>

        <!--  -->
    </div>

    <ng-template let-item="item" #tagMemberList>
        <div class="member-list">
            <div class="image-wrap">
                <img [src]="item.image_url || defaultProfileLink" (error)="onImgError($event)" [alt]="item.name" />
            </div>
            <h4>{{ item.name }}</h4>
        </div>
    </ng-template>
</div>
