<div class="chatroom-card-feed" [routerLink]="[collabcardRoute]" routerLinkActive="active-card" (click)="hideMediaPopup()">
    <app-multi-part-image class="chatroom-card-feed__image" [size]="'large'" [data]="imageList"></app-multi-part-image>
    <div class="chatroom-card-feed__details" [ngClass]="{ 'no-border-bottom': indexOfElement + 1 === totalChatroomsCount }">
        <div class="chatroom-card-feed__details__chatroom-header">
            <div class="chatroom-header">
                <div class="chatroom-name">{{ chatroom?.chatroom?.header | ellipsisWord: 26 }}</div>
                <img
                    *ngIf="chatroom?.chatroom?.is_secret"
                    src="https://web.likeminds.community/assets/images/svg/secret_lock_icon.svg"
                    class="imgLock"
                />
                <span [ngSwitch]="chatroom?.chatroom?.type">
                    <span *ngSwitchCase="1">
                        <img src="https://web.likeminds.community/assets/images/svg/1.svg" />
                    </span>
                    <span *ngSwitchCase="2">
                        <app-calendar-round-icon class="margin-icon"></app-calendar-round-icon>
                    </span>
                    <span *ngSwitchCase="3">
                        <app-poll-icon class="margin-icon scale-0-9"></app-poll-icon>
                    </span>
                    <span *ngSwitchCase="6">
                        <app-calendar-round-icon class="margin-icon"></app-calendar-round-icon>
                    </span>
                    <span *ngSwitchCase="7">
                        <img src="https://web.likeminds.community/assets/images/svg/7.svg" />
                    </span>
                </span>
            </div>
            <div class="last-activity">{{ chatroom.last_conversation_time }}</div>
        </div>

        <div
            class="chatroom-card-feed__details__last-message deleted"
            *ngIf="chatroom?.last_conversation && chatroom?.last_conversation?.deleted_by"
        >
            <div>{{ deletedMessage }}</div>
        </div>

        <div
            class="chatroom-card-feed__details__last-message"
            *ngIf="chatroom?.last_conversation && !chatroom?.last_conversation?.deleted_by"
        >
            <!-- Logged In User -->
            <div
                [ngStyle]="{ width: chatroom?.unseen_conversation_count ? '90%' : '100%' }"
                *ngIf="chatroom?.last_conversation?.member?.id === user.id; else otherUser"
            >
                <span *ngIf="chatroom?.last_conversation?.state !== 1" class="float-start">You:</span>
                <ng-container *ngIf="chatroom?.last_conversation?.answer?.length === 0; else showMsgSpan">
                    <ng-container *ngIf="chatroom?.last_conversation?.images?.length !== 0">
                        <span class="link-style float-start"
                            ><img src="https://web.likeminds.community/assets/images/svg/photo.svg" alt="image" /> Photo</span
                        >
                    </ng-container>
                    <ng-container *ngIf="chatroom?.last_conversation?.pdf?.length !== 0">
                        <span class="link-style float-start"
                            ><img src="https://web.likeminds.community/assets/images/svg/document.svg" alt="pdf" /> Document</span
                        >
                    </ng-container>
                    <ng-container *ngIf="chatroom?.last_conversation?.videos?.length !== 0">
                        <span class="link-style float-start"
                            ><img src="https://web.likeminds.community/assets/images/svg/film-strip.svg" alt="videos" /> video</span
                        >
                    </ng-container>
                    <!-- FOR GIF FILES -->
                    <ng-container
                        *ngIf="chatroom?.last_conversation?.attachments && chatroom?.last_conversation?.attachments[0]?.type == 'gif'"
                    >
                        <span class="link-style float-start"
                            ><img
                                style="height: 12px; width: auto; margin-bottom: 2px"
                                src="https://web.likeminds.community/assets/images/svg/GIF-image.svg"
                                alt="videos"
                            />
                            GIF</span
                        >
                    </ng-container>

                    <!-- FOR AUDIO FILES -->
                    <ng-container
                        *ngIf="chatroom?.last_conversation?.attachments && chatroom?.last_conversation?.attachments[0]?.type == 'audio'"
                    >
                        <span class="link-style float-start">
                            {{ chatroom?.last_conversation?.attachments.length > 1 ? chatroom?.last_conversation?.attachments.length : '' }}
                            <img
                                style="height: 12px; width: auto; margin-bottom: 2px"
                                src="https://web.likeminds.community/assets/images/svg/headphone-gray.svg"
                                alt="videos"
                            />
                            {{ chatroom?.last_conversation?.attachments.length > 1 ? ' Audios' : 'Audio' }}
                        </span>
                    </ng-container>

                    <!-- FOR AUDIO FILES -->
                    <ng-container
                        *ngIf="
                            chatroom?.last_conversation?.attachments && chatroom?.last_conversation?.attachments[0]?.type == 'voice_note'
                        "
                    >
                        <span class="link-style float-start">
                            <img
                                style="height: 12px; width: auto; margin-bottom: 2px"
                                src="https://web.likeminds.community/assets/images/svg/microphone.svg"
                                alt="voice note"
                            />
                            Voice Note
                        </span>
                    </ng-container>
                </ng-container>
                <ng-template #showMsgSpan>
                    <div class="d-flex">
                        <ng-container *ngIf="chatroom?.last_conversation?.state === 1; else normalMsgLoggedInUser">
                            <span class="link-style float-start margin-left-0" [innerHTML]="chatroom?.chatroom?.title"> </span>
                        </ng-container>
                        <ng-template #normalMsgLoggedInUser>
                            <span
                                *ngIf="
                                    chatroom?.last_conversation?.attachments && chatroom?.last_conversation?.attachments[0]?.type == 'gif'
                                "
                                class="link-style float-start"
                            >
                                <img
                                    style="height: 12px; width: auto"
                                    src="https://web.likeminds.community/assets/images/svg/GIF-image.svg"
                                    alt="GIF"
                                />
                            </span>
                            <span
                                class="link-style float-start"
                                *ngIf="
                                    chatroom?.last_conversation?.attachments && chatroom?.last_conversation?.attachments[0]?.type == 'audio'
                                "
                            >
                                {{
                                    chatroom?.last_conversation?.attachments.length > 1
                                        ? chatroom?.last_conversation?.attachments.length
                                        : ''
                                }}
                                <img
                                    style="height: 12px; width: auto; margin-bottom: 2px"
                                    src="https://web.likeminds.community/assets/images/svg/headphone-gray.svg"
                                    alt="videos"
                                />
                            </span>
                            <span
                                class="link-style float-start"
                                [innerHTML]="chatroom.last_conversation.answer | memberTag: 'message':true"
                            >
                            </span>
                        </ng-template>
                    </div>
                </ng-template>
            </div>
            <!-- Other User -->
            <ng-template #otherUser>
                <div [ngStyle]="{ width: chatroom?.unseen_conversation_count ? '90%' : '100%' }">
                    <span *ngIf="chatroom?.last_conversation?.state !== 1" class="float-start"
                        >{{ chatroom?.last_conversation?.member?.name | userFirstname }}:
                    </span>
                    <ng-container *ngIf="chatroom?.last_conversation?.answer.length === 0; else showMsgSpan">
                        <ng-container *ngIf="chatroom?.last_conversation?.images?.length !== 0">
                            <span class="link-style float-start"
                                ><img src="https://web.likeminds.community/assets/images/svg/photo.svg" alt="image" /> Photo</span
                            >
                        </ng-container>
                        <ng-container *ngIf="chatroom?.last_conversation?.pdf?.length !== 0">
                            <span class="link-style float-start"
                                ><img src="https://web.likeminds.community/assets/images/svg/document.svg" alt="pdf" /> Document</span
                            >
                        </ng-container>
                        <ng-container *ngIf="chatroom?.last_conversation?.videos?.length !== 0">
                            <span class="link-style float-start"
                                ><img src="https://web.likeminds.community/assets/images/svg/film-strip.svg" alt="videos" /> video</span
                            >
                        </ng-container>
                        <!-- FOR GIF FILES -->
                        <ng-container
                            *ngIf="chatroom?.last_conversation?.attachments && chatroom?.last_conversation?.attachments[0]?.type == 'gif'"
                        >
                            <span class="link-style float-start"
                                ><img
                                    style="height: 12px; width: auto"
                                    src="https://web.likeminds.community/assets/images/svg/GIF-image.svg"
                                    alt="videos"
                                />
                                GIF</span
                            >
                        </ng-container>

                        <!-- FOR AUDIO FILES -->
                        <ng-container
                            *ngIf="chatroom?.last_conversation?.attachments && chatroom?.last_conversation?.attachments[0]?.type == 'audio'"
                        >
                            <span class="link-style float-start">
                                {{
                                    chatroom?.last_conversation?.attachments.length > 1
                                        ? chatroom?.last_conversation?.attachments.length
                                        : ''
                                }}
                                <img
                                    style="height: 12px; width: auto; margin-bottom: 2px"
                                    src="https://web.likeminds.community/assets/images/svg/headphone-gray.svg"
                                    alt="videos"
                                />
                                {{ chatroom?.last_conversation?.attachments.length > 1 ? ' Audios' : 'Audio' }}
                            </span>
                        </ng-container>

                        <!-- FOR AUDIO FILES -->
                        <ng-container
                            *ngIf="
                                chatroom?.last_conversation?.attachments &&
                                chatroom?.last_conversation?.attachments[0]?.type == 'voice_note'
                            "
                        >
                            <span class="link-style float-start">
                                <img
                                    style="height: 12px; width: auto; margin-bottom: 2px"
                                    src="https://web.likeminds.community/assets/images/svg/microphone.svg"
                                    alt="voice note"
                                />
                                Voice Note
                            </span>
                        </ng-container>
                    </ng-container>
                    <ng-template #showMsgSpan>
                        <div class="d-flex">
                            <!-- FOR GIF FILES -->
                            <ng-container *ngIf="chatroom?.last_conversation?.state === 1; else normalMsgOtherUser">
                                <span class="link-style float-start margin-left-0" [innerHTML]="chatroom?.chatroom?.title"> </span>
                            </ng-container>
                            <ng-template #normalMsgOtherUser>
                                <div
                                    *ngIf="
                                        chatroom?.last_conversation?.attachments &&
                                        chatroom?.last_conversation?.attachments[0]?.type == 'gif'
                                    "
                                >
                                    <span class="link-style float-start"
                                        ><img
                                            style="height: 12px; width: auto"
                                            src="https://web.likeminds.community/assets/images/svg/GIF-image.svg"
                                            alt="Gif"
                                        />
                                        GIF</span
                                    >
                                </div>
                                <div
                                    *ngIf="
                                        chatroom?.last_conversation?.attachments &&
                                        chatroom?.last_conversation?.attachments[0]?.type == 'audio'
                                    "
                                >
                                    <span class="link-style float-start">
                                        {{
                                            chatroom?.last_conversation?.attachments.length > 1
                                                ? chatroom?.last_conversation?.attachments.length
                                                : ''
                                        }}
                                        <img
                                            style="height: 12px; width: auto; margin-bottom: 2px"
                                            src="https://web.likeminds.community/assets/images/svg/headphone-gray.svg"
                                            alt="Audio"
                                        />
                                    </span>
                                </div>
                                <span
                                    class="link-style float-start"
                                    [innerHTML]="chatroom?.last_conversation?.answer | memberTag: 'copy':true"
                                >
                                </span>
                            </ng-template>
                        </div>
                    </ng-template>
                </div>
            </ng-template>
            <div *ngIf="chatroom?.unseen_conversation_count" class="chatroom-card-feed__details__last-message__unseen-count">
                {{ chatroom?.unseen_conversation_count }}
            </div>
        </div>
        <div class="chatroom-card-feed__details__last-message-title" *ngIf="!chatroom?.last_conversation">
            {{ chatroom?.chatroom?.title }}
        </div>
    </div>
</div>
