@import '../../../../../assets/scss/abstracts/mixin';

.no-border-bottom {
    border-bottom: none !important;
}

.margin-left-0 {
    margin-left: 0 !important;
}

.chatroom-card-feed {
    padding: 15px 15px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    cursor: pointer;

    &:hover {
        background-color: rgba(208, 216, 226, 0.2);
        transition: 0.3s all ease-in-out;
    }
    &.active-card {
        background-color: rgba(208, 216, 226, 0.5);
        transition: 0.3s all ease-in-out;
    }

    &__image {
        margin-right: 14px;
    }

    &__details {
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 255px;
        width: 100%;
        padding-bottom: 1.25rem;
        border-bottom: solid 1px rgba(208, 216, 226, 0.5);

        &__chatroom-header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .chatroom-header {
                @include font-size(14px);
                font-weight: 500;
                color: #020202;
                display: flex;
                min-width: 0;

                .chatroom-name {
                    @include text-overflow-ellipsis();
                    color: #484f67;
                }
                img {
                    @include width(24px);
                    @include height(24px);
                    margin: 0 10px 0 5px;
                }
                .imgLock {
                    width: 16px;
                    height: 13px;
                    margin: 5px 5px 0 5px;
                }
            }

            .last-activity {
                @include font-size(11px);
                color: #9b9b9b;
            }
        }

        &__last-message {
            font-size: 12px;
            color: #666666;
            margin-top: 2px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .w-90 {
                width: 90%;
            }

            span.link-style {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                margin-left: 5px;

                img {
                    width: 12px;
                }
                ::ng-deep a {
                    color: #666666 !important;
                    text-decoration: none !important;
                }
            }
            .wid-85 {
                width: 85%;
            }

            &.deleted {
                font-style: italic;
            }

            &__unseen-count {
                width: 20px;
                height: 20px;
                background-color: var(--buttons_icons_colour, #0ad260);
                border-radius: 50%;
                color: #ffffff;
                text-align: center;
                font-size: 10px;
            }
        }

        &__last-message-title {
            font-size: 12px;
            color: #666666;
            margin-top: 2px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

.margin-icon {
    margin: 0 10px 0 5px;
}

@media screen and (max-width: 425px) {
    .chatroom-card-feed {
        &__details {
            max-width: calc(100vw - 105px);
        }
    }
}
