// ::ng-deep .cdk-overlay-dark-backdrop{
//     background: rgba(0,0,0,.8) !important;
// }
.dialogBg-none {
    background: rgba(0, 0, 0, 0.8) !important;
}
.mat-dialog-container {
    background: none;
    box-shadow: none;
}

.eventContentNotify {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0px 0 0 50px;

    .close {
        position: absolute;
        top: 4px;
        left: -20px;
        // border: 1px solid;
        cursor: pointer;
        transform: rotate(40deg);
        background-color: #fff;
        padding: 8px;
        border-radius: 50%;
    }
    h2 {
        color: #ffffff;
        font-size: 1.1rem;
        font-weight: normal;
        margin: 0 0 8px 0;
        line-height: 18px;
        letter-spacing: 1px;
    }
    p {
        color: #cccccc;
        font-size: 0.825rem;
        margin: 0 0 20px 0px;
        padding: 0;
    }

    &__header {
        margin: 0 0 25px;
    }

    .btn-box {
        justify-content: flex-start;

        button {
            background: #00897b;
            box-shadow: 0 0 8px 0 rgb(0 67 34 / 40%);
            text-decoration: none;
            text-transform: uppercase;
            font-size: 13px;
            color: #fff !important;
            margin: 0px;
            padding: 8px 15px;
            letter-spacing: 0.5px;
        }
    }
}
