<!-- Case: chatroom deleted, user not logged in -->

<div
    *ngIf="screenType !== 'mobile' && showNewChatroomCommunityDetail && showOverlay && chatroom?.type != 2"
    class="chatroom-overlay d-flex align-items-center"
    [ngStyle]="{ 'margin-top': user ? '-60px' : '' }"
>
    <img
        src="https://web.likeminds.community/assets/images/svg/cross-overlay.svg"
        class="cross-img"
        *ngIf="user && accessibleWithoutSubscription"
        (click)="hideOverlay()"
        alt=""
    />

    <div class="text-center">
        <div class="overlay-message d-flex">
            <img src="https://web.likeminds.community/assets/images/svg/arrow-round.svg" alt="Arrow round" />
            <div class="message ms-5 mt-4">
                <p class="cF mb-4">
                    Gain access to all community events, chat rooms and member profiles by subscribing to a membership plan of this
                    community.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- Second section -->

<ng-container *ngIf="screenType !== 'mobile'">
    <div
        class="chatroom-overlay d-flex align-items-center"
        *ngIf="chatroom && chatroom?.deleted_by && (!user || !memberState?.state) && (chatroom?.type === 0 || chatroom?.type === 1)"
    >
        <div class="text-center">
            <img src="https://web.likeminds.community/assets/images/svg/warning.svg" alt="Warning" class="ms-5 ps-5" />
            <div class="overlay-message d-flex">
                <img src="https://web.likeminds.community/assets/images/svg/arrow-round.svg" alt="Arrow round" />
                <div class="message ms-5 mt-4">
                    <p class="cF mb-4">Oops! The chat room has been deleted.</p>
                    <p class="cF">Don't worry you can still view and participate in other chat rooms after joining the community.</p>
                </div>
            </div>
        </div>
    </div>

    <div
        class="chatroom-overlay d-flex align-items-center"
        *ngIf="chatroom && !chatroom?.deleted_by && (chatroom?.type === 0 || chatroom?.type === 1) && ajExpired"
    >
        <div class="text-center">
            <img src="https://web.likeminds.community/assets/images/svg/warning.svg" alt="Warning" />
            <div class="overlay-message d-flex">
                <img src="https://web.likeminds.community/assets/images/svg/arrow-round.svg" alt="Arrow round" />
                <div class="message ms-5">
                    <p class="cF mb-4" *ngIf="!chatroom?.deleted_by && ajExpired">
                        Oops! The private link to participate in this chat room has expired.
                    </p>
                    <p class="cF">
                        Continue to join the community and wait for promoter’s approval. Or, ask
                        <span class="text-capitalize">{{ chatroom?.member?.name }}</span>
                        to resend a private invite link.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div
        class="chatroom-overlay d-flex align-items-center"
        *ngIf="chatroom && (chatroom?.type === 0 || chatroom?.type === 1) && showMemberProfile"
    >
        <img
            src="https://web.likeminds.community/assets/images/svg/cross-light.svg"
            (click)="closeMemberProfileOverlay.emit(false)"
            class="cancel"
            alt="Cancel"
        />
        <div class="text-center">
            <div class="overlay-message d-flex">
                <img src="https://web.likeminds.community/assets/images/svg/arrow-round.svg" alt="Arrow round" />
                <div class="message ms-5">
                    <p class="cF w80 mt-5">
                        Join this community to access detailed community profile of the members and other relevant chat rooms.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div
        class="chatroom-overlay d-flex align-items-center"
        *ngIf="chatroom && chatroom?.type === 2 && !memberState?.state && !user && isOverlayActive"
    >
        <img
            src="https://web.likeminds.community/assets/images/svg/cross-light.svg"
            (click)="closeOverlay.emit(false)"
            class="cancel"
            alt="Cancel"
        />
        <div class="text-center">
            <div class="overlay-message d-flex mt-5">
                <img src="https://web.likeminds.community/assets/images/svg/arrow-round.svg" alt="Arrow round" />
                <div class="message ms-5">
                    <p class="cF w80 mt-5">This is a private event. Login and join the community to view member profiles.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- <ng-container *ngIf="!nonMember">
        <div
            class="chatroom-overlay d-flex align-items-center"
            *ngIf="chatroom && chatroom?.type === 2 && user && memberState?.state === 0 && isOverlayActive"
        >
            <img src="https://web.likeminds.community/assets/images/svg/cross-light.svg" (click)="closeOverlay.emit(false)" class="cancel" alt="Cancel" />
            <div class="text-center">
                <div class="overlay-message d-flex mt-5">
                    <img src="https://web.likeminds.community/assets/images/svg/arrow-round.svg" alt="Arrow round" />
                    <div class="message ms-5">
                        <p class="cF w80 mt-5">This is a private event. Join the community to attend this event.</p>
                    </div>
                </div>
            </div>
        </div>
    </ng-container> -->

    <div
        class="chatroom-overlay d-flex align-items-center"
        *ngIf="chatroom && chatroom?.type === 3 && !user && !memberState?.state && isOverlayActive"
    >
        <div class="text-center">
            <div class="overlay-message d-flex mt-5">
                <img src="https://web.likeminds.community/assets/images/svg/arrow-round.svg" alt="Arrow round" />
                <div class="message ms-5">
                    <p class="cF w80 mt-5">
                        You are trying to participate in a private poll. Login and join the community and wait for the approval from a
                        community manager. You would be able to participate once approved.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div
        class="chatroom-overlay d-flex align-items-center"
        *ngIf="chatroom && chatroom?.type === 3 && user && memberState?.state === 0 && isOverlayActive"
    >
        <div class="text-center">
            <div class="overlay-message d-flex mt-5">
                <img src="https://web.likeminds.community/assets/images/svg/arrow-round.svg" alt="Arrow round" />
                <div class="message ms-5">
                    <p class="cF w80 mt-5">
                        You are trying to participate in a private poll. Continue to join the community and wait for the approval from a
                        community manager. You would be able to participate once approved.
                    </p>
                </div>
            </div>
        </div>
    </div>
</ng-container>
