<div class="community-feed-header">
    <div class="community-feed-header__left-part">
        <div class="community-feed-header__left-part__image">
            <img
                src="{{ community?.image_url }}"
                onerror="this.src='https://web.likeminds.community/assets/images/svg/profile-img-bg-gray.svg'"
            />
        </div>
        <div class="community-feed-header__left-part__details">
            <div class="community-feed-header__left-part__details__community-name">{{ community?.name }}</div>
            <div
                class="community-feed-header__left-part__details__description"
                [routerLink]="['/community_feed/', community?.id, 'detail']"
            >
                Click to view community details
            </div>
        </div>
    </div>

    <div class="community-feed-header__right-part">
        <img src="https://web.likeminds.community/assets/images/svg/search-icon.svg" *ngIf="false" />
        <div class="community-feed-header__right-part__actions cursor-pointer" *ngIf="actions?.length">
            <!-- <ng-container *ngIf="chatrooms.length > 0"> -->
            <ng-container *ngIf="state != 3">
                <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                <mat-menu #menu="matMenu" xPosition="before">
                    <ng-container *ngFor="let action of actions">
                        <button mat-menu-item (click)="takeAction(action)">{{ action.title }}</button>
                    </ng-container>
                </mat-menu>
            </ng-container>

            <!-- <ng-container *ngIf="chatrooms.length === 0"> -->
            <ng-container *ngIf="state == 3">
                <mat-icon [matMenuTriggerFor]="menu">more_vert</mat-icon>
                <mat-menu #menu="matMenu" xPosition="before">
                    <button mat-menu-item (click)="leaveCommunity()">Cancel membership request</button>
                </mat-menu>
            </ng-container>
        </div>
    </div>
</div>
