.audio-container {
    .audio-container-body {
        padding: 0.125rem 1.5rem 0.125rem 0.125rem;
        background: #ffffff;
        border-radius: 10px;
        width: 17.125rem !important;
        // padding-right: 17px
    }

    .headphone-container {
        // height: 54px;
        // width: 54px;
        width: 3.75rem;
        height: 3.75rem;
        background-color: #ff9500;
        border-radius: 8px;
        overflow: hidden;

        &__duration {
            position: absolute;
            margin-top: 36px;
            width: 1.938rem;
            height: 0.875rem;
            font-family: Roboto;
            font-size: 0.75rem;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #fff;
        }

        &__currentTime {
            position: absolute;
            margin-top: 36px;
            width: 1.938rem;
            height: 0.875rem;
            font-family: Roboto;
            font-size: 0.75rem;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #fff;
        }

        img {
            // height: 27px;
            // width: 27px;
            // margin-top: -14px;
            width: 1.748rem;
            height: 1.748rem;
            margin: 0 0.096rem 0.315rem 0.094rem;
            object-fit: contain;
            margin-bottom: 1rem;
        }
        .sound-wave-img {
            width: 49px;
            height: auto;
            border-radius: 10px;
        }
    }

    .right-section-container {
        margin: 4.2px 7px 0px 17px;
        width: 175px;
        .right-section {
            margin-top: 4px;
            .controls {
                > img {
                    cursor: pointer;
                }
                height: 30px;
                z-index: 5px !important;
                .pause-btn {
                    width: 15px;
                    height: 20px;
                    margin-left: -3px;
                    &__box {
                        height: 20px;
                        width: 5px;
                        background-color: #888888;
                    }
                }
            }
        }

        .right-section-audio-frames-contaiener {
            margin: 2.1px 12px 2.1px 12px;
            width: 175px;
            img {
                margin-left: -40px;
                margin-top: -8px;
            }
        }
    }

    audio {
        top: 0px;
        left: 0px;
        z-index: 30;
        transform: rotate(180deg);
        opacity: 0;
        transform-origin: 13% 40%;
        height: 30px;
        width: 100px;
    }

    &__audio-name {
        margin: 0px 0px 0px 3.9px;
        opacity: 0.3;
        font-family: Roboto;
        font-size: 0.75rem;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000;
    }

    &__timeline {
        position: absolute;
        left: 26px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 4px;

        &__duration {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 3px;
            position: relative;

            input[type='range'] {
                -webkit-appearance: none;
                width: 100%;
                outline: none;
                height: 3px;
                margin: 0 15px;
                background-color: rgb(175, 205, 202);
                // opacity: 0.8;
                margin-left: 12px;
                // width: 136px;
                width: 8.5rem;
                cursor: pointer;
            }
            input[type='range']::-webkit-slider-thumb {
                -webkit-appearance: none;
                height: 15px;
                width: 15px;
                background: #ff9500;
                border-radius: 50%;
                cursor: pointer;
            }

            .progress-bar {
                height: 3px;
                position: absolute;
                background-color: #ff9500;
                max-width: 136px;
                left: 12px;
                top: 0;
                opacity: 0.8;
            }
        }
    }

    // &__pause-btn {
    //     // position: absolute;
    //     left: 15px;
    //     top: 0px;
    //     width: 15px;
    //     height: 20px;
    //     margin-left: -3px;
    //     // padding-left: -8px;
    //     &__box {
    //         height: 20px;
    //         width: 5px;
    //         background-color: #888888;
    //     }
    // }

    &__play-pause-button {
        position: relative;
        background-color: #888888;
        text-align: left;
        z-index: 5;
    }
    &__play-pause-button:before,
    &__play-pause-button:after {
        content: '';
        position: absolute;
        background-color: inherit;
    }
    &__play-pause-button,
    &__play-pause-button:before,
    &__play-pause-button:after {
        width: 12px;
        height: 12px;
        border-top-right-radius: 30%;
    }

    &__play-pause-button {
        transform: rotate(30deg) skewX(-30deg) scale(1, 0.866);
    }
    &__play-pause-button:before {
        transform: rotate(-135deg) skewX(-45deg) scale(1.414, 0.707) translate(0, -50%);
    }
    &__play-pause-button:after {
        transform: rotate(135deg) skewY(-45deg) scale(0.707, 1.414) translate(50%);
    }

    audio::-webkit-media-controls-mute-button {
        display: none !important;
    }

    audio::-webkit-media-controls-volume-slider {
        display: none !important;
    }

    audio::-webkit-media-controls-timeline {
        display: none !important;
    }
}
::ng-deep .mat-accent .mat-slider-track-fill,
::ng-deep .mat-accent .mat-slider-thumb-label {
    background-color: #ff9500 !important;
}
::ng-deep .mat-accent .mat-slider-thumb {
    background-color: #ff9500 !important;
    border-color: #ff9500 !important;
}

.prog-slider {
    width: 87% !important;
}

// FOR OUR INCOMING AUDIO

.incoming-audio {
    ::ng-deep .slider.slider-horizontal {
        width: 140px;
        .slider-handle {
            background-image: none;
            background-color: #ff9500;
            width: 0.875rem;
            height: 0.875rem;
            box-shadow: none;
            top: 2px;
        }

        .slider-track {
            // height: 4px;
            height: 0.25rem;
            border-radius: 3.5px;
            margin-top: -3px;
            margin-left: -5px;
            width: 8.5rem;

            .slider-selection {
                box-shadow: none;
                background-image: none;
                background-color: #ff9500;
            }
            .slider-track-high {
                box-shadow: none;
                background-image: none;
                background-color: #cfcfcf;
            }
        }
    }
}

// FOR AUDIO SENT BY US
.sent-audio {
    ::ng-deep .slider.slider-horizontal {
        width: 140px;
        .slider-handle {
            background-image: none;
            background-color: #ff9500;
            width: 0.875rem;
            height: 0.875rem;
            box-shadow: none;
            top: 2px;
        }

        .slider-track {
            // height: 4px;
            height: 0.25rem;
            border-radius: 3.5px;
            margin-top: -3px;
            margin-left: -5px;
            width: 8.5rem;

            .slider-selection {
                box-shadow: none;
                background-image: none;
                background-color: #ff9500;
            }
            .slider-track-high {
                box-shadow: none;
                background-image: none;
                background-color: rgb(175, 205, 202);
            }
        }
    }
}

.time-slider {
    width: 100% !important;
    // margin-left: 20px;
    // margin-right: 20px;
}

// audio::-webkit-media-controls {
//     &:before {
//         width: 60px;
//         height: 60px;
//         flex-grow: 0;
//         margin: 0 17px 0 0;
//         padding: 9px 14.5px 4px;
//         border-radius: 8px;
//         background-color: #ff9500;
//     }

//     // input[pseudo='-internal-media-controls-overflow-button' i] {
//     //     display: none !important;
//     // }
// }

// audio::-webkit-media-controls-enclosure {
//     margin: 0 0 0px -27px;
//     padding: 2px 7px 2px 2px;
//     // opacity: 0.04;
//     border-radius: 8px;
//     background-color: #d8f4f1;
//     max-width: 270px;
// }

// audio::-webkit-media-controls-mute-button {
//     display: none;
// }

// audio::-webkit-media-controls-volume-control-container {
//     display: none;
// }

// audio::-webkit-internal-media-controls-overflow-button {
//     display: none !important;
// }

// // audio::-internal-media-controls-overflow-button {
// //     // display: none !important;
// //     // background-color: red;
// //     // position: absolute !important;
// //     // top: -9999px !important;
// //     // left: -9999px !important;
// //     background-image: url('https://web.likeminds.community/assets/images/svg/play-audio-file.svg');
// // }

// .audio-container {
//     width: 257px;
//     height: 100%;
//     flex-grow: 0;
//     margin: 0 0 8px;
//     padding: 0px 6px 0px 2px;
//     border-radius: 8px;
//     background-color: #d8f4f1;
// }
// .audio-image {
//     width: 60px;
//     height: 100%;
//     flex-grow: 0;
//     padding: 9px 14.5px 4px;
//     border-radius: 8px;
//     background-color: #ff9500;
// }

// audio::-webkit-media-controls-play-button {
//     background: url('https://web.likeminds.community/assets/images/svg/play-audio-file.svg');
//     background-repeat: no-repeat;
//     background-position: center center;
//     margin-left: 13px;
// }

// audio::-webkit-slider-thumb {
//     opacity: 1;
//     background-color: #ff9500;
// }

// // audio::-webkit-media-controls input[pseudo='-webkit-media-controls-timeline' i]::-webkit-slider-thumb {
// //     opacity: 1;
// //     background-color: #ff9500;
// // }

// audio::-webkit-media-controls-time-remaining-display {
//     display: none;
// }

// audio::-internal-media-controls-segmented-track {
//     #thumb {
//         opacity: 1;
//     }
//     // opacity: 1;
//     background-color: red !important;
// }

// // input[type='range']::-webkit-slider-thumb {
// //     width: 5px;
// //     border-radius: 5px;
// //     background-color: #ff9500;
// // }
// audio::-webkit-media-controls-timeline {
//     width: 85px;
// }

// audio::-webkit-media-controls-timeline::-webkit-slider-thumb {
//     opacity: 1;
// }
